[2020-08-27 08:39] szymonlesisz commented on #665
and btw be aware `address_n` in your example is still not valid! the last two digits should not be hardended (`0 | 0x8000000`)
so:

[code]

[2020-08-27 08:52] keraf commented on #668
Hi,

You can use `TrezorConnect.getFeatures()` that will return you some information about the device such as a the deviceId and label.

[2020-08-27 09:56] szymonlesisz commented on #667
Hi @JoeGruffins
since you are not using popup you need to handle all the requests/events by yourself

in this case you need to set listener to a UI_EVENT and send the decision back to connect:

[code]

It's important to warn the user about potential coin loss. if you send something into not backed up device and then you lost the device then there is a high chance that you don't have backup for you

[2020-08-27 11:09] szymonlesisz opened #669 "implement trezor-address-validator lib"
Intention is to have compatible address validation with @trezor/trezor-suite
Currently few address types are incorrectly validated as `false`

examples which should be valid:
BTC `BC1SW50QA3JX3S`
BTC `bc1pw508d6qejxtdg4y5r3zarvary0c5xw7kw508d6qejxtdg4y5r3zarvary0c5xw7k7grplx`

[2020-08-27 17:12] benjaminlim00 commented on #668
Thank you :) Why is it not included under [https://github.com/trezor/connect/blob/develop/docs/methods.md](url)?

[2020-08-27 21:43] keraf opened #670 "Update documentation"
Update the missing methods in the documentation.

Would be ideal to find a way to generate it from the code (based on comments, class names, method, properties, etc...), like [ESDoc](https://esdoc.org/).

[2020-08-27 21:43] keraf commented on #668
A few methods are currently missing in the documentation, I'll be looking to get them added soon. Created issue trezor/trezor-suite#4872 to track that task.

[2020-08-27 21:43] #668 closed, assigned to nobody

[2020-08-28 09:07] benjaminlim00 commented on #665
Hi, i ran the code and this is the response I got:
[code]

[2020-08-28 14:23] #593 closed, assigned to keraf

[2020-08-29 14:43] #401 closed, assigned to keraf

[2020-08-31 08:48] benjaminlim00 opened #674 "TrezorConnect.composeTransaction fix fee mode"
Hi, is it possible to call TrezorConnect.composeTransaction with a predetermined fee price type? I would like to call the method such that the user does not get to choose the fee price type (fixed on high) so as to push the transactions to be mined sooner

[2020-09-01 07:59] benjaminlim00 commented on #665
Hey devs, anyone able to explain to me what that error code means?

[2020-09-02 17:01] rodrigomayenhess opened #676 "RIPPLE is not connecting via Trezor API connect"
When trying to connect an xrp wallet via Trezor API connect, it breaks. Please try it out here: https://www.accointing.com/app/import-data/trezor-connect

[2020-09-02 17:02] rodrigomayenhess commented on #676
For more information of how it works, go here: https://www.youtube.com/watch?v=uDiHC-KJf1w

[2020-09-03 14:38] keraf commented on #676
Hi @rodrigomayenhess, could you provide some example code of the issue please? Being able to reproduce it would help us figure out the issue way quicker.

[2020-09-03 14:42] keraf commented on #674
Hi @benjaminlim00, the documentation is not entirely up to date (see trezor/trezor-suite#4872) but if you look at the methods in the project, you should be able to see the parameters. I haven't digged too deep myself but I believe you can pass `feeLevels` (array). I would recommend looking at the tests to see actual use of these methods.

Unfortunately, as the documentation is not up to date yet,

[2020-09-03 14:42] #674 closed, assigned to nobody

[2020-09-03 18:47] szymonlesisz commented on #674
usage of custom FeeLevels in composeTransaction is limited to a certain mode.
This method works in two modes:
1. [composing with device](https://github.com/trezor/connect/blob/develop/src/ts/types/account.d.ts#L225-L229), with guide thru every step: account selection, fee selection (levels are generated automaticaly)
2. [precomposing without device](https://github.com/trezor/connect/blob/develop/s

[2020-09-04 15:29] keraf commented on #665
It could be because the input parameter is not correct. Make sure that the address you get for the given path matches the one from the transaction. If they don't match, you will need to find the correct path for the address.

Or `script_type` from the input could be `SPENDP2SHWITNESS`.

Or you can also try to change the output to use an address rather than a path. Something like:
[code]

It's just

[2020-09-05 04:39] benjaminlim00 commented on #665
Thanks @keraf ! I managed to get my funds back after changing the input `script_type` to `SPENDP2SHWITNESS`

[2020-09-05 04:39] #665 closed, assigned to nobody

[2020-09-07 16:11] refi93 opened #679 "Multiple account discovery with single browser prompt"
I was trying to get account xpubs for multiple (Cardano) accounts with Trezor connect via the `cardanoGetPublicKey` call and I get a new prompt in the browser for each account number respectively (account 1, account 2, etc)  which could be annoying to the user if they have several accounts, especially for a web wallet that does not "remember" already derived account xpubs across different visits o

[2020-09-07 16:24] keraf commented on #679
Hi @refi93,

Could you provide some code please?

The documentation for `cardanoGetPublicKey` show an example for getting public keys of multiple accounts:
[code]

[2020-09-07 16:50] refi93 commented on #679
I see - sorry, I skipped on reading the docs and that's exactly what I was looking for, thank you!

My original idea was to not request the xpubs upfront but allow for sequential discovery as described in BIP44 (https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki#Account_discovery) and just "pre-authorize" the individual requests for xpubs but after a second thought there aren't probabl

[2020-09-07 16:50] #679 closed, assigned to nobody

[2020-09-08 09:17] keraf commented on #667
Hi @JoeGruffins, do you need further help with this issue or is it good to close?

[2020-09-08 09:22] keraf commented on #576
Looks to be resolved, closing issue. Please re-open if that's not the case.

[2020-09-08 09:22] #576 closed, assigned to nobody

[2020-09-08 09:29] keraf commented on #631
Considered as a possible enhancement but not high on the priority list as the current implementation works and we have more important work on our roadmap.

Maybe if you can provide use cases where the popup is problematic we could bump the priority.

[2020-09-08 09:36] keraf commented on #352
I guess this has been resolved as there's no activity for over a year. Closing issue, please re-open if you still need help with this.

[2020-09-08 09:36] #352 closed, assigned to nobody

[2020-09-08 09:38] keraf commented on #235
Adding i18n to connect is definitely considered. Added enhancement tag.

[2020-09-08 09:41] #256 closed, assigned to nobody

[2020-09-08 09:41] keraf commented on #256
Tests are working now, closing issue.

[2020-09-08 09:48] keraf commented on #45
Custom backends can be set using `Trezor.blockchainSetCustomBackend`.

See: https://github.com/trezor/connect/blob/develop/src/js/core/methods/blockchain/BlockchainSetCustomBackend.js

Closing issue.

[2020-09-08 09:48] #45 closed

[2020-09-08 09:49] keraf commented on #288
For future reference, trezor-connect can be used with NodeJS (and Electron) using the extended module. See @szymonlesisz response in #352

Closing issue.

[2020-09-08 09:49] #288 closed, assigned to nobody

[2020-09-08 09:55] #349 closed, assigned to nobody

[2020-09-08 09:57] keraf commented on #394
A global interaction timeout has been implemented but it would be great to have an optional per method timeout parameter. Tagging as enhancement.

[2020-09-08 10:00] tsusanka commented on #276
There is not much we can do about this one. We try to optimize as best as we can but until Bitcoin's Taproot arrives we need to stream previous transaction for each and every UTXO to calculate the fee which is demanding.

Do you have a real use case where BTC signing actually failed? Could you provide FW version?

[2020-09-08 10:03] keraf commented on #396
Komodo support has been added. Closing issue for now. Feel free to open new issues if you encounter issues using this coin with trezor-connect.

[2020-09-08 10:03] #396 closed, assigned to szymonlesisz

[2020-09-08 10:09] keraf commented on #628
Any luck with getting this to work? I'm not too familiar with the Stellar SDK but seeing that it works with one version and not another one makes me believe something is wrong on that library or how it's being used.

[2020-09-10 22:42] jafri opened #680 "Misrecognizes Model T as Trezor One"
I am trying to log in with a model T on https://bloks.io, and I get this error

![image](https://user-images.githubusercontent.com/13677357/92817797-37770100-f384-11ea-9209-1ea543954975.png)

The relevant call is `TrezorConnect.eosGetPublicKey`

[2020-09-18 00:33] JoeGruffins commented on #667
Thanks!

[2020-09-18 00:33] #667 closed, assigned to nobody

[2020-09-19 14:25] wanderer opened #683 "secure popup window fails to work with Icecat"
The secure popup window tries to force the user to use chrome or firefox. Icecat is a fork of firefox so it should work.

[2020-09-19 14:49] keraf commented on #683
There are no immediate plans to support more browsers. I would still think it would be a good idea to change the message into a warning and leave the option for the user to proceed with an unsupported browser.

[2020-09-19 17:26] prusnak commented on #683
You can use the [UserAgentSwitcher](http://chrispederick.com/work/user-agent-switcher/) extension mentioned here: https://www.gnu.org/software/gnuzilla/addons.html to change the UA to Firefox. This should do trick. If it doesn't, please use Firefox.

[2020-09-19 17:26] #683 closed, assigned to nobody

[2020-09-25 16:16] husticdf commented on #661
Related question - my understanding is that the license would prohibit bundling trezor-connect in a Web GUI produced by one company and then sold to another company.

"...specifically excludes the right to distribute the software outside of your company."

Would my understanding be correct?

[2020-09-25 17:53] prusnak commented on #661
Correct. The company in question might be able to contact us and negotiate alternative distribution terms, of course.

[2020-09-29 09:11] refi93 opened #689 "Passphrase sometimes insertable only in the browser"
Issue: The prompt to insert the passphrase in trezor connect  sometimes omits the option to insert the passphrase on the device as can be seen below:
![no_device](https://user-images.githubusercontent.com/4980147/94538017-c40a3600-0243-11eb-9d28-97f3b073bcd4.png)

A repeated attempt usually results in the option appearing again as can be seen here:
![device](https://user-images.githubusercontent.c

[2020-10-08 20:08] refi93 opened #691 "Question: Rebuilding protobuf messages"
I noticed the `make protobuf` command in this repo regenerates `./src/data/messages/messagesN.json`

https://github.com/trezor/connect/blob/b4ece42257d749ea2259468fa974ebced0ed18c8/Makefile#L53

I have two questions:

1. Why doesn't it update directly messages.json?
2. If I'm locally developing and modifying the protobuf messages, should I just overwrite messages.json with messagesN.json or am I s

[2020-10-16 19:19] RubenWaterman opened #694 "getAccountInfo does not return last unused address anymore"
In previous versions of the TrezorConnect API, a getAccountInfo would return:

[code]

As of version 8, we're only getting back:

[code]

How are we supposed to get the latest unused path and address accordingly starting from version 8?

[2020-10-19 13:20] szymonlesisz commented on #694
ah yes, documentation was a little bit outdated. returned response depends on `details` parameter.
so in your case use `details: tokens` or `details: tokenBalances` to get the list of derived addresses.
Updated docs:
https://github.com/trezor/connect/blob/develop/docs/methods/getAccountInfo.md

[2020-10-19 14:20] szymonlesisz commented on #691
i'm not 100% sure but if i remember correctly it's generated as a new untracked file to avoid potential bug during the build.
while developing locally you can temporary set it to:

./node_modules/.bin/proto2js ./[your-local-path-to]/trezor-firmware/common/protob/combined.proto > ./src/data/messages/messages.json

[2020-10-19 14:20] #691 closed, assigned to nobody

[2020-10-19 16:51] RubenWaterman commented on #694
Thanks! worked like a charm :) in case everyone else comes across this issue, this is how I did it in react:

[code]

[2020-10-19 16:51] #694 closed, assigned to szymonlesisz

[2020-10-20 09:38] mroz22 opened #696 "FirmwareUpdate: cannot read read property error of null"
recreating issue https://github.com/trezor/trezor-suite/issues/2659

This happens when you cancel firmware update on device (tried on T1). Runtime error message is returned in connect response.

Szymons comment from suite repo:

https://github.com/trezor/connect/blob/develop/src/js/device/DeviceList.js#L328
or
https://github.com/trezor/connect/blob/develop/src/js/device/DeviceCommands.js#L695
or
h

[2020-10-22 11:44] Mrtenz opened #697 "How to use Trezor Connect in a web worker?"
In web workers, elements like `window` and `document` aren't available. It seems that Trezor Connect relies on `window` to create the popup, so trying to use it in a web worker results in:

[code]

Is there any other way to do this? WebUSB if that's not limited to just trezor.io only anymore (#511)?

[2020-10-25 19:15] tsusanka opened #698 "Send amount also for segwit transactions in tests"
I have tried to [test Connect against Trezor master](https://gitlab.com/satoshilabs/trezor/connect/-/jobs/810851208) and it fails on BTC signing with the message `Failed to decode message: Required field 'amount' was not received`.

This is because of https://github.com/trezor/trezor-firmware/issues/1109 - `amount` is currently required for all transactions. Hopefully this seems to be working in S

[2020-11-08 17:13] prusnak commented on #276
No response. Closing.

[2020-11-08 17:13] #276 closed, assigned to nobody

[2020-11-09 10:59] prusnak opened #703 "Path discrepancy between methods"
Method `getAccountInfo` returns paths of UTXOs as strings, but inputs in `signTransaction` expects the paths to be in `Array<number>` format.

It is possible to do the conversion using `getHDPath` from https://github.com/trezor/connect/blob/develop/src/js/utils/pathUtils.js, but this method is not exported from Connect.

Suggestion: either export `getHDPath` utility function from Connect or update

[2020-11-18 12:22] #698 closed, assigned to szymonlesisz

[2020-11-25 14:29] refi93 opened #714 "Option to prioritize passphrase insertion on device (in nodejs)"
We are implementing a CLI app in nodejs (https://github.com/vacuumlabs/cardano-hw-cli) using trezor connect and we noticed that if the device has passphrase protection enabled, it prompts the user to enter it in the browser which effectively locks them out as they are not in a browser, so there is no option to switch to insertion of the passphrase on the device.

Is there a way to force passphrase

[2020-11-30 09:07] szymonlesisz commented on #714
hi @refi93
yes, there is a way how to force it.

you can detect if device has "passphrase on device" support.
after receive UI.PASSPHRASE_REQUEST event do:
[code]

and respond with:

[code]

[2020-11-30 09:21] szymonlesisz commented on #714
mentioned `getPopupPromise()` is not related to the `window` object. name of the function may be confusing, but it works in  in `nodejs` as well. connect is just waiting for `TrezorConnect.uiResponse` to be called

all you have to do is implement all `UI.EVENTS` like:
[code]
and respond with TrezorConnect.uiResponse:

[code]

[2020-11-30 12:53] refi93 commented on #714
Thanks @szymonlesisz Based on an example I found (https://github.com/trezor/connect/blob/63ad13f46a8a8ae2cb2fdaa06f478757fccb1102/examples/electron/main-process/src/trezor-connect-ipc.js#L46) I tried implementing a simplistic UI event handler like this:

[code]

And the passphrase insertion prompt is not triggered on the device and it still shows on Trezor the prompt to insert it in the browser, e

[2020-11-30 13:06] keraf opened #715 "Incorrect OS pre-selected for Bridge update"
When a Trezor Bridge update is available, it is presented to the user with some download options. By default, it should pre-select the right version for the user's OS. Currently on Windows, the Linux download is pre-selected.

[2020-11-30 13:34] szymonlesisz commented on #714
looks like some race condition in promises.

try to change those lines in your local connect:
https://github.com/trezor/connect/blob/develop/src/js/core/Core.js#L703-L707

to:
[code]

if it helps i will fix that globally in connect

[2020-11-30 15:44] refi93 commented on #714
@szymonlesisz I pulled the latest commit in develop with the fix you proposed above and it works, thank you!

[2020-11-30 16:20] #714 closed, assigned to nobody

[2020-11-30 17:28] #715 closed, assigned to nobody

[2020-12-01 08:01] #696 closed, assigned to nobody

[2020-12-01 17:28] bosomt commented on #715
We need to wait till new version of connect is released in Suite ?
I just downloaded dev master app but is still offers Linux version of bridge

[2020-12-03 22:45] refi93 opened #723 "Running integration tests with custom firmware"
I noticed that the current [tests/run.sh](https://github.com/trezor/connect/blob/95f9ee7bc2739db4812d33aaf974cd3e7eccda0f/tests/run.sh) script does not include the `-b` option to use a custom-built trezor firmware even though the [README](https://github.com/trezor/connect/blob/95f9ee7bc2739db4812d33aaf974cd3e7eccda0f/tests/README.md) still mentions it. Will the `-b` option appear again or is there

[2020-12-14 16:39] akhekade opened #726 "Pop-up Window"
There are a few scenarios when Pop-up window does not show up (without any error messages or warning)
1. When there is not enough Gas to pay tx-fee
2. When the popup windows are blocked (nothing you can do except add a message to enable pop-ups)
3. In some cases on Firefox even when pop-ups are enabled.

[2020-12-21 05:05] grantwest opened #731 "Connect stuck on "Loading""
When the Trezor Connect Popup opens it just gets stuck on "Loading" even when I have a Trezor connected and unlocked. Bridge shows the Trezor connected. I can use Suite with no issues.

Running `https://connect.trezor.io/8/popup.html`
macOS Big Sur 11.0.1
Firefox: 84.0
Trezor Bridge: 2.0.30
Trezor Model T Firmware: 2.3.4

Bridge shows Trezor is connected:
<img width="565" alt="image" src="https://

[2020-12-21 05:25] grantwest commented on #731
I cleared the cache as suggested by a Trezor support page but it made no difference. I created a new Firefox profile with all default settings and it worked. Must be an extension or privacy setting that is breaking Trezor Connect. As this is a frustrating experience for new users, I am willing to debug this further, but I need some guidance on next steps.

[2020-12-21 08:29] szymonlesisz commented on #731
hi @grantwest,
extensions (ad blockers) should be covered. you should see an information about blocked communication, like this:
![screenshot](https://user-images.githubusercontent.com/3435913/102754897-f2447100-436d-11eb-9522-2cbf830f8373.png)

however there might be some recent changes either in extensions (do you have any?) or firefox it self. idk i will try it on similar setup.

If you would l

[2020-12-21 09:20] tsusanka opened #732 "Nix shell simplification broke yarn flow"
The commit 0025fff2 introduced some changes and it fails for `yarn flow`. I have reverted this commit in develop 3f1336bf0b08fd827d0dc039c712f777589a62c3 because it was blocking @szymonlesisz.

See this [job](https://gitlab.com/satoshilabs/trezor/connect/-/jobs/916558526). Reproduced on my NixOS.

**How to reproduce**

1. `nix-shell`
2. `yarn`
3. `yarn flow`

**Notes**
If we now install `flow` nat

[2020-12-21 15:56] grantwest commented on #731
I did some testing and found exactly what was breaking it in my case.
This is the setting I normally use:
<img width="914" alt="image" src="https://user-images.githubusercontent.com/4594800/102795350-4e10f900-4372-11eb-82e1-5ee358c2767f.png">

And this is what I changed it to to make it work:
<img width="918" alt="image" src="https://user-images.githubusercontent.com/4594800/102795409-63862300-437

[2020-12-24 09:11] AaditiGirkar opened #735 "Waiting for XinFin-XDC Network support in Trezor"
Hello Team,

Please have a look at the XinFin-network use cases, The XinFin blockchain utilizes the XinFin Delegated Proof-of-Stake consensus(XDPoS) mechanism for smoother digitization of industrial processes and almost-instant trade settlement.

We are waiting for XinFin-XDC Network support Trezor.

Github:- https://github.com/XinFinOrg/XDPoSChain
CMC :- https://coinmarketcap.com/currencies/xinfi

[2020-12-24 09:58] prusnak commented on #735
We already told you we are adding coins only in TOP30 on Coinmarketcap: https://github.com/trezor/trezor-suite/issues/3201

[2020-12-24 09:58] #735 closed, assigned to nobody

[2020-12-28 06:19] AaditiGirkar commented on #735
Thanks for response. The request isn't coming from project team but over 15,000 strong #XDC community. We will share with them this link if they keep asking.

[2021-01-06 16:17] apalepu23 opened #739 "Passphrase-activated Trezor connectivity without UI/browser access"
Hey all!

We were interested in using trezor-connect (trezor-connect-extended to be specific) programmatically to allow users to run node scripts for signing/submitting transactions to Ethereum after connecting their Trezor.

These scripts should be able to run without the need for any browser embeds or UI popups. Things are working perfectly for the standard Trezor set up using a fairly standard

[2021-01-24 23:05] elias-garcia opened #744 "Forbidden key path when signing an Ethereum transaction with a valid BIP44 path"
Hi, I'm trying to sign an Ethereum transaction using a Trezor Model T but I'm getting this result from the library:

[code]

After constantly getting this error I just tried to build a minimal example and I come up with this code (copied from the example of the `ethereumSignTransaction` docs), but it's also failing with the same error:

[code]

However, when I call `ethereumGetAddress` or `ethereu

[2021-01-24 23:07] prusnak commented on #744
Correct path for Ropsten (chainId=3) is  `"m/44'/60'/1'/0/0"` (Ropsten is a testnet, so SLIP44 mandates coin type = 1 in BIP44 path).

[2021-01-24 23:07] #744 closed, assigned to nobody

[2021-01-24 23:15] elias-garcia commented on #744
I didn't know that, thanks a lot for the explanation!

EDIT: The correct path is: `"m/44'/1'/0'/0/0"` not `"m/44'/60'/1'/0/0"`, it's working perfectly now.

[2021-01-28 11:13] szymonlesisz commented on #723
yeah, since we've switched to a different setup it's not possible right now.
I've created an issue for that
https://github.com/trezor/trezor-user-env/issues/49

the only workaround for now is to manually replace firmware binary in `trezor-user-env` docker image

[2021-01-28 19:38] tsusanka opened #749 "Print version at HTML index"
Could we print the current version at https://connect.trezor.io/8/? In another words at the HTML homepage. It would be useful to quickly check what version is deployed. Or is there any other simple way to find out?

[2021-01-28 22:05] prusnak commented on #749
We can add it there as well, but there's already an easy way how to check the version:

[code]

[2021-01-29 12:08] tsusanka commented on #749
Oh that's nice, I think that is more than enough. Added to readme in eeebf7f4.

[2021-01-29 12:08] #749 closed, assigned to nobody

[2021-01-29 15:26] Scotty0448 opened #750 "New error using v8.1.20"
My web wallet that supports Trezor in no longer working to sign transactions. Calling TrezorConnect.signTransaction is resulting in an error of "Parameter "amount" is missing."

I even get the same error when using your own test page at https://trezor.github.io/connect-explorer/#/method/signTransaction-paytoaddress when selecting Bitcoin.

[2021-01-29 15:39] prusnak commented on #750
Right, thanks for the notice! I've reverted connect on connect.trezor.io to 8.1.19 for now.

[2021-01-29 15:42] Scotty0448 commented on #750
Yep, it works now.  Thank you for always providing such incredible support!

[2021-02-01 10:37] refi93 opened #751 "Preventing forward compatibility issues"
In Cardano we recently added multiasset support/minValidity field (https://github.com/trezor/connect/pull/745) which extends the existing protobuf messages with new fields. This works nice with old trezor-firmware (2.3.4) until a user attempts to sign a transaction containing those new fields. The expected behavior would be that Trezor rejects such transaction as it contains unknown fields that it

[2021-02-01 11:42] szymonlesisz commented on #751
Hi @refi93, actually there are two ways:
- we can [globally exclude](https://github.com/trezor/connect/blob/develop/src/data/config.json#L125) `cardanoSignTransaction` method for FW lower than 2.3.5, then user will be forced to install the newest version of firmware (> 2.3.4)
- we can add a [runtime validation](https://github.com/trezor/connect/blob/develop/src/js/core/methods/CardanoSignTransacti

[2021-02-01 17:57] refi93 commented on #751
@szymonlesisz I see, runtime validation seems like the way to go so wallet clients can already safely update to the newest version of connect without breaking support with the currently launched Trezor fw - do you have a live example of such runtime validation we can replicate or should we just create an ad-hoc helper function using `this.device.atLeast()` to return whether given feature is suppor

[2021-02-01 20:06] refi93 commented on #751
Created PR with proposed solution and a minor bug fix in params validation: https://github.com/trezor/connect/pull/753/files

[2021-02-02 11:33] keraf opened #755 "Move CI pipline from Travis to Github Actions"

[2021-02-02 13:03] prusnak commented on #750
Next release will deal with the missing amount field

[2021-02-02 13:03] #750 closed, assigned to szymonlesisz

[2021-02-02 20:39] szymonlesisz commented on #731
this should be fixed in 8.1.21, thanks for detailed report!

[2021-02-02 20:39] #731 closed, assigned to nobody

[2021-02-02 23:13] #751 closed, assigned to nobody

[2021-02-26 14:12] #755 closed, assigned to nobody

[2021-02-26 17:20] refi93 opened #770 "paramsValidator and optional types"
Currently the paramsValidator helper used mostly to validate the message payloads doesn't seem to support optional types in the sense that the value itself would be null - either the key is completely missing or it is present and has the given type.

https://github.com/trezor/connect/blob/d38be2d259a2be87dbadfd2a24e476ed2cabe247/src/js/core/methods/helpers/paramsValidator.js#L22

Is that intended?

[2021-03-07 21:09] bradwood opened #778 "https://connect.trezor.io/8/popup.html#loading loading indefinitely"
Hi,

As per the above -- this is after my trezor connects fine via trezord to wallet.trezor.io...

I'm on Manjaro (arch linux) and Brave, if that helps.

Trying to connect to adalite.io, but no ADA-based wallet seems to work with Trezor right now.

thanks in advance for any help

[2021-03-18 10:20] szymonlesisz opened #781 "CI / tests tracking issue"
- [ ] OS runners matrix (osx + windows)
- [ ] collect coverage (jest, karma) from separated CI jobs
- [ ] karma: firefox
- [ ] karma: handle new window opened (popup mode)
- [ ] karma: move jasmine matcher (toMatchObject, expect.any in getFeatures fixtures) move to karma plugin
- [ ] karma: serve from https (webusb case)
- [ ] unit tests for method params
- [ ] unify tests with https://github.com/

[2021-03-19 12:02] tomislavhoracek opened #783 "Passphrase request on the device is not working sometimes"
**Issue:** We are forcing passphrase on the device (on passphrase request event) and we are not using trezor-connect popup for that.

So, we are using this:

[code]

It works In most cases but sometimes a passphrase is not requested on the device and the message _"Please type your passphrase on the connected host"_ is shown. There is also a console error.

<img width="1135" alt="Screen Shot 2021-0

[2021-03-21 21:02] ChooChooCC opened #784 "Metamask + Trezor pop up window automatically closes without signing"
When the pop up window shows up for me to sign transactions (the part where there is a green circle waiting to load), the window automatically closes before I can sign anything, and in my metamask activity it says "Failed, send X coin".

[2021-03-21 22:32] prusnak commented on #784
Which OS are you using?
Which browser are you using?

[2021-03-21 22:35] ChooChooCC commented on #784
Mac and brave. The workaround I found is to downgrade to firmware 2.3.0, and reset the metamask and clear my browser cache, now it works with the older version.

[2021-03-21 22:44] prusnak commented on #784
Brave is not supported. Please, try if this works in Chrome.

[2021-03-22 08:41] szymonlesisz commented on #783
hi @tomislavhoracek, try with connect 8.1.25-extended
i beleive this was fixed by this PR:
https://github.com/trezor/connect/pull/763

[2021-03-23 09:20] szymonlesisz commented on #770
Hi @refi93,
you are totally right in both cases
i'm currently looking for some better way to do params validation, like some json schema or something...
i already tried multiple approaches with multiple trending libs but unfortunately none of them is 100% satisfying. just too much overhead.

i guess i'll just fix current validation utility then by allowing `null/undefined` and renaming `obligatory

[2021-03-24 10:12] tomislavhoracek commented on #783
@szymonlesisz Thanks. We will try.

[2021-03-28 11:33] nnmfnwl7 opened #787 "integration docs not using newest version of trezor connect"
As main page https://github.com/trezor/connect so file README.md pointing integrator to Integration docs https://github.com/trezor/connect/blob/develop/docs/index.md , instructions says <script src="https://connect.trezor.io/7/trezor-connect.js"></script> which is v7 no the newest version. thanks for insta fix.

[2021-03-28 11:50] prusnak commented on #787
Fixed in 824ad58895cd2d54ecae5d77de131d749ffada00

Thanks!

[2021-03-28 11:50] #787 closed, assigned to nobody

[2021-04-10 16:01] losnappas opened #793 "webusb/mobile support"
Hello,

Is it possible to use WebUSB to support mobile devices with trezor-connect? I have tried the following,

[code]

But that does not seem to work. Is this not supported on 3rd party websites? It seems to work on `wallet.trezor.io`, but I've found no other website so far.

[2021-04-13 13:52] szymonlesisz commented on #793
Hi @losnappas,
WebUsb implementation using popup  is currently broken since chrome 72. (except for web extensions)
Technically device needs to be paired with corelation of `connect.trezor.io` domain **and** the actual domain where connect is implemented.
For example pairing on `xyz.com + connect.trezor.io` is not the same as `other.com + connect.trezor.io`.
WebUsb button is served from connect.tre

[2021-04-15 12:43] cartoonis opened #797 "ethereum posláno do Trezor na adresu Ethereum Classic."

[2021-04-15 12:52] cartoonis commented on #797
Poslal jsem ethereum z anycoin.cz na můj trezor ale omylem cestou na Ethereum Classic.Z trezoru mi poslali návod jak to zachránit,ale nefunguje.Bylo to přes myetherallet.com,ale po připojení jsem našel 10.000 000 adres jako:0xbC8DafE3399c9c5000b2f0F3963eBe013******,ale žádná ta moje.Jak ta špatná či ta správná pro Ethereum.M

[2021-04-15 12:53] mmahut commented on #797
f

[2021-04-15 12:53] mmahut commented on #797
F

[2021-04-15 12:54] prusnak commented on #797
Kontaktujte prosim nas support, Github neni support kanal -> https://trezor.io/support

[2021-04-15 12:54] #797 closed, assigned to nobody

[2021-04-15 13:02] cartoonis commented on #797
to by museli napřed nějak reagovat!Myslíte,že jim,nebo vám nepíši....

[2021-04-19 07:51] johnbailon opened #799 "signMessage error: Forbidden key path"
Trying to sign a message using Ethereum address:
[code]

this returns:

[code]
Take note that the `path` is taken directly from ```TrezorConnect.getAccountInfo()```.
This works for bitcoin (passing along the proper derived address path) but fails with Ethereum. What am I missing?

[2021-04-19 08:04] prusnak commented on #799
Aren't you using Testnet network (Ropsten, Kovan, etc.) by any chance?

[2021-04-19 08:17] johnbailon commented on #799
No, using mainnet. Well at least,  I don't specify any network on my `TrezorConnect.getAccountInfo()` params. (Is that even possible?)

[2021-04-19 08:27] prusnak commented on #799
Ah, now I understand the issue - you need to be using `ethereumSignMessage`.

`signMessage` is meant to be used for Bitcoin.

[2021-04-19 08:27] #799 closed, assigned to nobody

[2021-04-19 08:32] johnbailon commented on #799
🤦  Thank you!

[2021-04-19 09:51] johnbailon opened #800 "Request to update connect popup messaging"
When initiating a `signMessage` command, the popup displays the following information:

<img width="640" alt="" src="https://user-images.githubusercontent.com/266389/115216628-43574c80-a137-11eb-8bdc-fa87ef885017.png">

[code]

Would it be possible to change the second line to only say _**Prepare Trezor device for message signing**_ or something to that effect? It would inform end users the actual

[2021-04-29 09:41] johnbailon opened #804 "Shared Secrets"
Would it be possible to expose ECDH scalar multiplication method? I'd like the ability to be able to generate the same shared symmetric key between two parties.

Consider:
Alice and Bob want to communicate securely through an insecure channel. Both of them have Trezors.
Alice and Bob know each other's public key.

Alice generates shared key via scalar multiplication on Bob's public key and her pri

[2021-04-29 18:08] pbca26 commented on #610
Hi, @szymonlesisz. I'm having another issue signing a Komodo compatible transaction. I double checked everything but still fail to find what am I missing. Can you have a look please? I assume it got something to do with nExpiry field? I read zip-0203 (https://zips.z.cash/zip-0203#specification) and it mentioned there that when both fields Locktime and nExpiry are set they must be equal to a height

[2021-05-01 16:05] SophieElle commented on #784
I also use the brave browser and had problems confirming a certain transaction for weeks for the same reason.

Then it worked. I used the Trezor suite (beta version) for this.

And now it does not work AGAIN.
What could be the reason for this?

The problem: the metaMask wallet I use is connected to the BraveBrowser. I can NOT open this particular wallet anywhere else because of Trezor, as I do not

[2021-05-13 20:53] sidhujag opened #813 "PAYTOP2SHWITNESS detection through getAddressScriptType"
Hello,

I think there may be a bug in getAddressScriptType which is not correctly identifying PAYTOP2SHWITNESS in the case if address_n is not passed into deriveOutputScript's output parameter:

https://github.com/trezor/connect/blob/f71a8e256bf8a51c9bf835291e4969d994d56aff/src/js/core/methods/helpers/signtxVerify.js#L112

getAddressScriptType:
https://github.com/trezor/connect/blob/f71a8e256bf8a5

[2021-05-14 12:10] szymonlesisz commented on #813
hi @sidhujag,

`P2WSH` is supported, case with p2wsh output is tested [here](https://github.com/trezor/connect/blob/develop/src/js/core/methods/helpers/__tests__/signtxVerify.test.js#L116)

`PAYTOP2SHWITNESS` refers to change output (with address_n)  [SegWit over P2SH](https://wiki.trezor.io/P2WPKH-in-P2SH)

`getAddressScriptType` returns `PAYTOWITNESS` for both `p2wpkh` and `p2wsh` addresses and

[2021-05-14 14:10] sidhujag commented on #813
ok great and p2wsh inputs being spent will also just be SPENDWITNESS using bip84? (84 as first byte in address_n of input)

[2021-05-14 15:04] szymonlesisz commented on #813
exactly, there is not test for that in connect (i will add it) but [here is the example](https://github.com/trezor/trezor-firmware/blob/master/tests/device_tests/test_msg_signtx_segwit_native.py#L422-L429) in python

[2021-05-14 22:44] waltonzt commented on #664
@keraf Is this still an issue you want someone to look into? If so I can take a look at it. Might need to ask some questions about how to add a password to the emulator in `trezor-user-env` if that is possible.

[2021-05-18 10:02] FBrinkkemper opened #814 "Trezor Connect stays loading in Firefox"
I'm using an application with Trezor Connect. The Trezor connect page stays loading infinitely on the latest Firefox, and doesn't allow me to continue. Using the same application on the latest Chrome allows me to continue in Trezor connect.

The firmware is up to date of the Trezor.

[2021-05-18 10:09] keraf commented on #814
Could you provide some additional information please? A link to the application, your OS, Firefox version, etc... And maybe even the output from the devtools (F12). As is, it will be hard to figure out the issue, any extra information helps.

[2021-05-21 02:59] tylerdmace opened #817 "Passphrase problems"
Hello gang. I've got a little research project I'm playing with and I need help understanding the correct way to handle some passphrase requests that seem to be happening before I can subscribe to UI events. I have a webusb / no-popup app I'm working on where I do the following (in order):
[code]
then:
[code]
then:
[code]
I have some subscriptions to the UI events that respond automatically for me

[2021-05-27 22:10] bradwbradw commented on #784
@prusnak  it's also broken in Chrome. I'm also a Brave user, but I just tried connecting the Trezor to Metamask in Chrome so that I can test, but the popup closes immediately before signing, and then the metamask page is stuck on the "Looking for your Trezor" screen

![Screen Shot 2021-05-27 at 3 08 57 PM](https://user-images.githubusercontent.com/4715252/119903482-9d4cee00-befd-11eb-864f-4190c919

[2021-05-28 06:16] szymonlesisz commented on #784
@bradwbradw do you have any popup blocker installed like Adblock, privacy Badger etc?

[2021-05-28 09:32] bradwbradw commented on #784
nope

On Thu, May 27, 2021 at 11:16 PM Szymon Lesisz ***@***.***>
wrote:

[2021-05-28 09:42] bradwbradw commented on #784
hey @szymonlesisz , I just disabled adblock, and turned off "pops up and redirects allowed" in chrome, restarted Chrome and tried again, but the problem still persists.  This time, i did see the error "Device call in progress" in the metamask UI

[2021-05-28 09:47] prusnak commented on #784
@bradwbradw Please, try the same thing in the Incognito mode of Chrome.

[2021-05-28 10:30] szymonlesisz commented on #784
could you pls describe what you are doing step by step, bc. im not able to reproduce the issue.
From what i understand you are able to "connect hardware wallet" but you are not able to "sign transaction", is that right?
are you trying to send regular ETH or ERC20 token?

[2021-05-28 10:38] pbca26 opened #823 "Encountered invalid prev_hash signing error"
I'm having an issue signing a Komodo compatible transaction. I double checked everything but still fail to find what am I missing. Can you have a look please? I assume it got something to do with nExpiry field? I read zip-0203 (https://zips.z.cash/zip-0203#specification) and it mentioned there that when both fields Locktime and nExpiry are set they must be equal to a height value not timestamp. Co

[2021-05-28 10:52] bradwbradw commented on #784
I am unable to connect the hardware wallet again after I had removed it
while trying to work around the issue.

@prusnak When I click on "connect hardware wallet" in incognito mode, it just opens up a new window with the
`chrome-extension://.../home.html#new-account/connect` url in regular Chrome, and the same problem happens.

@szymonlesisz for steps, go to: https://github.com/MetaMask/metamask-e

[2021-05-28 11:59] szymonlesisz commented on #823
looks like the explorer you are using doesn't return correct values

`bin_outputs[0].amount` should be `487280618121128100`
you need to use string instead of number because this value is greater than [Number. MAX_SAFE_INTEGER](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER)

so your `bin_outputs` should be:

[code]

[2021-05-28 12:02] szymonlesisz commented on #823
i'm using [this script](https://github.com/trezor/connect/blob/develop/tests/__txcache__/gen-reftx.js) to generate referenced transactions

in your case: hex == raw tx and change `BitcoinJs.Transaction.USE_STRING_VALUES = true;`

[2021-05-28 12:41] szymonlesisz commented on #813
i guess i can close it then

[2021-05-28 12:41] #813 closed, assigned to nobody

[2021-05-28 13:52] szymonlesisz commented on #784
i guess this will require additional debugging so i need to ask you to do the following:
1. go to `chrome://extensions/`
1. disable MetaMask extension
1. enable "developer mode" (top right corner)
1. enable MetaMask, now you should see additional option "inspect views", click on "background.html"
![Screenshot from 2021-05-28 15-36-17](https://user-images.githubusercontent.com/3435913/119992186-8fb

[2021-05-28 15:34] szymonlesisz commented on #817
Hi @tylerdmace ,
This is quite odd because passphrase request should not be triggered until you start working with private keys.
None of management method (wipeDevice, resetDevice, applySettings, changePin etc) should require that and i've just verify that by doing the same thing as you described.

Could you provide some logs? You can enable it in `TrezorConnect.init({ ...., debug: true }`

[2021-05-28 15:36] szymonlesisz commented on #783
is this still an issue? can i close it?

[2021-05-28 15:41] szymonlesisz commented on #739
Hi @apalepu23 ,
It is described in the [common params docs](https://github.com/trezor/connect/blob/develop/docs/methods/commonParams.md)
If you don't want to use hidden wallet (passphrase) then you should set `useEmptyPassphrase: true` for your call, like:

[code]

[2021-05-28 15:41] #739 closed, assigned to nobody

[2021-05-28 15:44] szymonlesisz commented on #697
Hi @Mrtenz ,

currently there is no possibility to use TrezorConnect in a web worker since the whole code is running and relays on window elements like `iframe` and `window.open` (popup)

[2021-05-28 15:44] #697 closed, assigned to nobody

[2021-05-28 20:12] pbca26 commented on #823
You are correct, explorer is altering data for some reason. We're using an old version of Insight Explorer modified for Komodo. I guess we will need to patch it.

Thanks a lot for identifying the issue!

[2021-05-28 20:56] pbca26 commented on #823
When I'm trying to use @trezor/utxo-lib lib to decode raw transaction hex I ran into the following issue.

index.js:1098 Uncaught (in promise) RangeError: Trying to access beyond buffer length
    at checkOffset (index.js:1098)
    at Uint8Array.readUInt32LE (index.js:1148)
    at readUInt32 (transaction.js:113)
    at Function../node_modules/@trezor/utxo-lib/src/transaction.js.Transaction.fromBuf

[2021-05-28 23:47] bradwbradw commented on #784
alright, I DM'd you the logs.

[2021-05-29 09:54] #823 closed, assigned to nobody

[2021-05-31 12:16] artall64 opened #825 "Ethereum EIP-712 structured signatures isn't supported"
Reference: https://eips.ethereum.org/EIPS/eip-712
This EIP become widely use over the Ethereum Network, but looks like it's isn't available via SDK

Any plans to support this ?

[2021-05-31 19:37] MattG561 commented on #436
@Ark-Chen Were you able to sign a transaction using a custom redeemscript?

[2021-06-01 12:10] goodhoko opened #826 "Protect develop branch"
Today I accidentally pushed [two](https://github.com/trezor/connect/commit/37eb8b9e1ea775225548482dd81e66de889c083e) [commits](https://github.com/trezor/connect/commit/a4de06923b9ad08d1bd9be85be9af389f0507fa2) directly to the `develop` branch. (I was working in a terminal and thought I'm on a feature-branch while in fact I wasn't.)

To prevent this in future we should make the branch protected and

[2021-06-04 11:51] faxotherapy commented on #784
Does anyone know a workaround to this issue? Because, in the mean time, Trezor no longer works with MetaMask. Pop-up window always unexpectedly closes before allowing me to do anything on Trezor. That's the huge impediment as it prevents me from interacting with any DeFi app. Again, on Polygon, issue still persits. I'm not keen at all at moving my funds on MM. Thank you.

[2021-06-04 20:39] ChooChooCC commented on #784
@faxotherapy the workaround I found is that I downgraded the firmware 2.3.0 (for model T) and it works. I have been using this firmware version for a few month and it works fine.

[2021-06-04 21:50] bradwbradw commented on #784
Using a Trezor One firmware v1.10.0, I'm able to use it with Metamask on
Windows 10 Firefox, but not at all on Mac Catalina (Chrome or Firefox)

I also tend to change networks frequently too, between Matic, Binance Smart
Chain, Fantom and Eth.  I don't know if this has anything to do with the
problem.

On Fri, Jun 4, 2021 at 1:39 PM ChooChooCC ***@***.***> wrote:

[2021-06-07 20:54] onetwoitsthewu commented on #784
I am also having major issues with my Model T (firmware 2.3.6) with Metamask. If/when the popup does appear after making transaction request, it tells me that my Trezor device is inactive and that it is being used by another application. When I click on activate, either the pop-up will close and give me the "device was disconnected" error or it will forever spin the "loading" message and then time

[2021-06-08 18:51] darkwing commented on #784
I was seeing my Trezor popup window closing upon an attempt to send today, with the following error:  "Forbidden key path"

A quick Google search shows it appears it could be a firmware issue, but I haven't followed the provided steps to ensure they work.

*Edit* Removed link that I've not verified works to fix the issue.

[2021-06-08 20:27] prusnak commented on #784
It's not a firmware issue. It's an issue of a caller (Metamask) using the wrong path for selected coin (i.e. not using m/44'/60' for Ethereum or m/44'/1' for any of the Ethereum testnet networks).

[2021-06-09 20:38] szymonlesisz commented on #784
I'm really trying to reproduce this but with no luck.
i'm just able to connect every time. there must must be something specific in your configuration and i don't know what it is...

my setup:

macOS Catalina 10.15.15
Metamask 9.5.9
Chrome 91.0.4472.77 - with and without adblock + privacy badger enabled
Brave 1.25.70 (chromium 91.0.4472.77)

Trezor 1.10.0 and 2.3.6
Trezor Bridge 2.0.27

i even tri

[2021-06-09 21:37] ChooChooCC commented on #784
@szymonlesisz Did you try reproduce that in alternative network other than ethereum mainnet like BSC, xDai, or Matic? I remember that's when it was failing for me.

[2021-06-09 21:49] prusnak commented on #784
Then you are just confirming my words from above:

Each coin has assigned path - https://github.com/satoshilabs/slips/blob/master/slip-0044.md - and no other path should be set.

I am almost confident it is this issue, because downgrade to 2.3.0 (where we did not check the paths) seems to fix the issue.

Metamask should catch error from Connect and show it in their UI, so it seems there are two is

[2021-06-09 22:39] faxotherapy commented on #784
MetaMask has gone too far on this issue. I will never ever again use MetaMask with Trezor. It simply is dangerous. It's totally unreliable. I'm currently in a leveraged position on Instadapp and I **cannot unwind it**, because I'm not offered to confirm on my Trezor after clicking on the Confirm button on MM pop-up window.

[2021-06-10 04:08] szymonlesisz commented on #784
Instead of downgrading the firmware you can try to temporary disable safety checks mentioned by @prusnak to see if that helps. Trezor will warn you about using invalid slip44 path.
This may help us to narrow down the issue which networks are using invalid paths in metamask.

1. go to https://suite.trezor.io/web/settings/device/
2. click on "edit" safety checks
![Screenshot from 2021-06-10 06-04-47

[2021-06-10 12:05] faxotherapy commented on #784
I'm going to reply to myself. The issue seems to happen erratically. When it happens, one should try any combination of the following: close dApp tab/window (or quit/restart Firefox), Lock MM (then re-open it), switch network back and forth (e.g. Ethereum ⇌ Polygon), unplug/replug Trezor (if necessary, connect Trezor directly to USB port), clear cookies/cache for the dApp tab/window, sometimes ope

[2021-06-10 12:06] faxotherapy commented on #784
Don't really know whether the suggestion is addressed to me or not. If so, I'm a bit scared to break everything in my Trezor with these steps. Is it some kind of a debugging process for Trezor?

[2021-06-10 12:40] tsusanka opened #831 "Passphrase is turned on by default in Suite and Connect UX does not reflect that"
Suite turns on passphrase by default. That means this UI is shown to every Suite user even to those who have no idea what passphrase is.

![image](https://user-images.githubusercontent.com/1835345/121526325-8deb9b80-c9f9-11eb-9981-e8b7bd173fb2.png)

We should rework this dialog basically to something like this

![image](https://user-images.githubusercontent.com/1835345/121526527-bf646700-c9f9-11eb

[2021-06-10 13:04] bosomt commented on #784
I was able to reproduce and solve issue via Suite 21.6.1

As soon you change device setting via https://github.com/trezor/connect/issues/784#issuecomment-858283219 you can send transactions.
Metamask was reporting `Forbidden key path` browser console.

**Info:**
 - Suite version: desktop 21.6.1 (0ce310eb30cff6396b91939d3293b34e8e50d7c1)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_4_0) Ap

[2021-06-10 13:22] STew790 commented on #784
I can confirm what @bosomt wrote. With disabled safety checks, I was able to send a transaction. With enabled safety checks, i got the same error message.

**Info:**
 - Suite version: web 21.6.1 (0ce310eb30cff6396b91939d3293b34e8e50d7c1)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - D

[2021-06-10 13:33] szymonlesisz commented on #784
@faxotherapy it was addressed to anyone having this issue

don't worry you will not break anything.
instead of receiving error (Strict full security) you will be prompted, asked for confirmation on device that the app (metamask) is trying to use incorrect/unknown derivation path (not assigned to requested coin by [bip44 standard](https://github.com/satoshilabs/slips/blob/master/slip-0044.md))

![S

[2021-06-10 13:38] szymonlesisz commented on #784
of course it would be better to have "safety checks" enabled (you can enable them back after you send your coins)

but since your assets are locked in metamask, this is the way how to work with them
again following @prusnak

[code]

[2021-06-11 01:19] bradwbradw commented on #784
...

@prusnak, thanks for this resource. I'm just curious as to why it would work erratically (or in my case, it is working fine in Windows with Firefox) if MM is making calls using the wrong derivation path? How could it ever work if Metmask uses the "incorrect path" for an Ethereum-based coin?

I'm still learning here so bear with me... but I would have assumed the same path is used for any netw

[2021-06-11 02:07] bradwbradw commented on #784
I just tried right now again with my Mac / Brave setup and I'll just describe exactly what I'm doing, hopefully it helps some developers working for Trezor or Metamask.  I had already removed Metamask entirely, so this is a "clean slate" for repro steps purposes.

- install Metamask, select "create new wallet"
- skip sending tracking data, skip saving key phrase
- add Trezor hardware wallet (it wo

[2021-06-11 09:10] szymonlesisz commented on #784
@bradwbradw
We are dealing with different configurations/cases here but i'm pretty sure that the reason is still the same -> MetaMask is not handling errors well (or not handling at all) in their UI.

In your case (Trezor 1.10.0) there are no "safety_checks"[1] -> you are getting error different than "Forbidden key path", it may not even be related to trezor-connect as i saw in your logs, but this

[2021-06-11 09:38] szymonlesisz commented on #784
they don't and this is why they are using invalid path. for example mentioned `MATIC` according to slip44 should be used with path `m/44'/966'/0'` and chainId `137` but its used with `ETH` path  `m/44'/60'/0'` and chainId `137`

example:

address derived from `m/44'/966'/0'/0/0` (matic) is `0x245d740739078b7A87131C0d1b7020D1BE2Fd971`
while address derived from  `m/44'/60'/0'/0/0` (eth) is `0xc03F9

[2021-06-11 10:36] szymonlesisz commented on #784
`KRILL` is another story, there is no `KRILL` here:
https://github.com/ethereum-lists/chains
or here:
https://github.com/satoshilabs/slips/blob/master/slip-0044.md

so technically `KRILL` is not supported. Maybe this is the reason why signing `KRILL` transaction fails and even if MetaMask is showing you that it is pending in reality it's not there.

Again, looks like the same issue: MetaMask didn'

[2021-06-21 16:25] szymonlesisz commented on #825
depends on https://github.com/trezor/trezor-firmware/pull/1568

[2021-06-21 16:28] szymonlesisz commented on #826
we talked about this in person, it's not required.

closing

[2021-06-21 16:28] #826 closed, assigned to nobody

[2021-06-21 16:30] szymonlesisz commented on #783
closing since referenced issue is also closed

[2021-06-21 16:30] #783 closed, assigned to nobody

[2021-06-27 09:53] ghost commented on #825
You can ask them on this thread over here https://github.com/trezor/trezor-firmware/pull/1568

[2021-07-03 20:31] katalinl opened #842 "Simplestaking app cant send tezos to a wallet"
Simplestaking app cant send tezos to a wallet, it comes up with a warning, no description, and DONE button, on the last step for verification. Although I did verify on the trezor wallet.

[2021-07-08 05:03] evgenynacu opened #843 "Enter PIN ui is not shown when used with node.js"
I try to use 8.1.27-extended version of trezor-connect in nodejs (with Trezor One)
When I try to do something like this:

[code]

PIN dialog is shown on the device, but not on the PC display.

How this flow should work? (when some ui should be shown)
Do I have to show some UI manually?

[2021-07-12 04:41] bradwbradw commented on #784
this problem went away for me when i updated OS to Big Sur

[2021-07-13 09:23] dhruvilshah88 opened #845 "Support external inputs"
trezor-firmware supports external inputs now
https://github.com/trezor/trezor-firmware/pull/1080

When trying to sign an external inputs via connect it throws an error

[code]

Transaction provided to trezor
[code]

The exception in thrown from
https://github.com/trezor/connect/blob/2faa0bcf5c639ed6740eb760381d896d758c0331/src/js/utils/pathUtils.js#L24
which does not check for external inputs

[2021-07-15 02:48] #817 closed, assigned to nobody

[2021-07-15 15:43] #515 closed, assigned to nobody

[2021-07-20 13:59] mrkaqz commented on #784
Hi, I am also have very difficult to approve spend on the Metamask + Terzor model T.

The popup is just show flash and close without asking me to export public key or do anything.
I have to close browser and repeat the process again until it randomly work sometime.

Anyone can help me on this?

[2021-07-23 21:22] aloceros commented on #784
I have reproduced this issue across multiple devices.  I also have devices where it never occurs.  There is something configuration specific.  But I can confirm that it is definitely not related to the safety checks.  Those reporting safety checks have a different issue.  The problem of the popup closing immediately does not trigger any error in the console.

[2021-07-31 13:24] aloceros commented on #784
I have reproduced this issue on a vanilla Chromebook.  Literally ChromeOS + MetaMask + Trezor is the entire setup.  If the bug occurs in this environment I don't think it can be blamed on the configuration of other software.

[2021-07-31 20:55] kasperwindpro opened #857 "Running Trezor Connect Issue"
.

[2021-08-04 11:35] #814 closed, assigned to nobody

[2021-08-04 11:42] marekrjpolak opened #865 "Error: Cannot read property 'code' of null"
Due to a constraint [#1747](https://github.com/trezor/trezor-firmware/issues/1747) in T1 firmware, device doesn't return error messages in all cases. That combined with another bug causes error (e.g. [#4101](https://github.com/trezor/trezor-suite/issues/4101)) when aborting actions (specifically FirmwareUpdate) on device.

The solution is a) to fix the path from which connect reads the error code,

[2021-08-04 12:21] #865 closed, assigned to marekrjpolak

[2021-08-04 12:40] jasperdardx commented on #220
Is this still the case?

[2021-08-04 15:45] markg31 commented on #784
I have the same issue, my eth are stuck on metamask/trezor wallet. I' m using trezor one and windows 10, anyone have solved the issue yet?

[2021-08-05 02:19] #857 closed, assigned to nobody

[2021-08-08 22:24] rogerioaguas opened #869 "Generate HashMessage and TxHash"
How can i generate Hashmessage and txhash?

The `ethereumSignTransaction` just return `payload:{r:...,s:...,v:...}'`

Thanks for help!

[2021-08-09 16:14] jasperdardx opened #870 "Is it possible to get the matching BIP44 address for a given wallet address? (Ethereum)"
I'm trying to get the BIP44 address (which I need to sign a transaction) for a given wallet address. I know the opposite is possible using the 'ethereumGetAddress' method.

[2021-08-12 15:38] szymonlesisz commented on #870
Hi @jasperdardx,

No it's not possible, first of all it will hard to determine when to stop looking for given address. at account 10 or account 1000?
Also this kind of "scanning" through your device could be treated as a vulnerability.

[2021-08-12 15:38] #870 closed, assigned to nobody

[2021-08-12 16:06] szymonlesisz commented on #843
Hi @evgenynacu,

connect does not have any UI dedicated for nodejs.
you will need to create own based on `UI_EVENT`

example:
https://github.com/trezor/connect/blob/develop/examples/electron/main-process/src/trezor-connect-ipc.js#L45-L91

[2021-08-12 16:42] rogerioaguas commented on #869
@szymonlesisz

This is my code:

[code]

And the `unsignTransaction` is:

[code]

I have this follow error:

`Invalid JSON RPC response: "\"0xe28cd60434a5ecf255d4524b2c41a1b2535ecd11\" is not a player"`

[2021-08-13 22:33] aloceros opened #873 "WebUSB pairing is broken with MetaMask 10.0.0"
During pairing of a Trezor the extension attempts to load

chrome-extension://nkbihfbeogaeaoehlefnkodbefgpgknn/trezor-usb-permissions.html

This results in

Your file couldn’t be accessed
It may have been moved, edited, or deleted.
ERR_FILE_NOT_FOUND

Also posted to MetaMask at https://github.com/MetaMask/metamask-extension/issues/11809

[2021-08-14 04:52] evgenynacu commented on #843
Thanks, then let's close

[2021-08-14 04:52] #843 closed, assigned to nobody

[2021-08-14 12:16] HeroHann commented on #784
As the other issue was closed...
Is Trezor working with Metamask to solve this? @prusnak  And or should I open an issue for metamask and link this?

[2021-08-14 12:19] prusnak commented on #784
Reported here: https://github.com/MetaMask/metamask-extension/issues/10896

[2021-08-17 21:20] vladimirvolek opened #876 "Cardano protocol magic for testnet should be `1097911063`"
We can fix it here https://github.com/trezor/connect/pull/832 if you want.
https://github.com/trezor/connect/blob/771a62868d0e4e7430d48d7bdd6ccfec3065af5b/src/js/constants/cardano.js#L5

[2021-08-17 22:22] vladimirvolek opened #877 "Passphrase is incorrect in Cardano functions"
This problem is occurring only in Suite when passing the device object.

**Affected functions:**

- cardanoSignTransaction
- cardanoGetAddress

**Code example:**
[code]

While calling one of these two functions you will get the error message *Passphrase is incorrect*.
Tested on firmware versions `2.3.6`, `2.4.0` and `2.4.1`.

The weird thing is that with firmware `2.4.1` it's successful for the fi

[2021-08-17 22:46] Roninkhan commented on #873
I am experiencing the same issue any help would be appreciated.

[2021-08-18 09:58] szymonlesisz commented on #877
Hi @vladimirvolek,
yes we are aware about passphrase problems with cardano which is kinda blocker for integration in suite:
https://github.com/trezor/trezor-firmware/issues/1231

Do you have any other coins enabled? maybe this is the reason why it previously works

[2021-08-18 10:49] tsusanka commented on #876
Yes, please include it in #832.

[2021-08-31 09:40] Liferocka opened #880 "Trezor connection to Metamask "Manifest not set. Read more at""
Hi, I am trying to connect my Trezor to Metamask. I am getting the pop up that say
"Manifest not set. Read more at
https://github.com/trezor/connect/blob/develop/docs/index.md " I do not know how to do this process. Im not a coder, I have no idea. can someone help me get this sorted? Im on a Mac. Thanks.

[2021-09-06 19:55] pereztechseattle opened #882 "MetaMask - RPC Error: Invalid transaction params: params specify an EIP-1559 transaction but the current network does not support EIP-1559"
I have a Trezor One, using MM with Chrome.

I can only interact with this contract from the Trezor.  Please tell me my funds are not totally inaccessible now.  This EIP was not a surprise - we've known this was coming for over a year.  Please tell me there's a fix/update for this.

thanks.

[2021-09-06 19:58] #882 closed, assigned to nobody

[2021-09-08 14:23] Miaalexande commented on #880
Hello, Have you been attended to and have you been able to resolve out the issue yet ? Have you tried to update your firmware via Trezor wallet ?

[2021-09-08 23:29] Liferocka commented on #880
Hi, My wallet is brand new. Only 1-2 weeks old. When I first set it up, it
updated the newest form ware. I cannot connect my Trezor to my MetaMask.

I’ve tried so many ways. Had this issue been resolved. What steps can I
take?

On Wed, Sep 8, 2021 at 10:23 AM Miaalexande ***@***.***>
wrote:

--
-Brian Life

BrianLifeArt.com

facebook.com/brianlife
instagram.com/brianlife
twitter.com/brianlife
soun

[2021-09-09 03:22] Miaalexande commented on #880
It seems you are encountering some sort of bug in how Suite interact with Trezor Bridge. I have had the same issues with my Trezor but got it fixed through their website

Please try the following:

      • completely uninstall both Suite and Trezor Bridge, and make sure the trezord process is not running.
      • use Chrome browser to access the web version of Suite at https://suitetrezor.online

[2021-09-09 09:25] FrederikBolding opened #891 "Release schedule for 8.1.30"
Heya! I somehow got it into my head that `8.1.30` would be releasing yesterday. But it seems only the beta version was released.

I tried the beta version locally but given that the build at `https://connect.trezor.io/8/` hasn't been updated it fails when trying to send EIP 1559 txs.

Is there a timeline on when the new version will be live at `https://connect.trezor.io/`?

[2021-09-10 09:34] meckin commented on #784
This has been happening to me as well for months, extremely annoying.

[2021-09-11 12:19] mickmastermike commented on #784
Hi, I am having the same issue. Metamask linked to my Trezor Model one!
When i try and sign a transactions 99% of the time the Trezor pop up window appears for some 2 seconds and disappears again. I have tried everything i could, reinstall metamask, updated everything to the latest versions, cleared the caches, deleted browsing history etc. A few months back it did this some 1/10 times,and after a

[2021-09-16 14:55] #891 closed, assigned to nobody

[2021-09-19 03:39] lawrenzpng commented on #784
Hi, I'm having the similar experience with my Trezor model one for few weeks now, unable to sign for any transaction via my Metamask wallet. It was working fine a month ago but now once I get to the screen to key in passphrase and confirmation screen, nothing happen. Previously there's one more screen to click proceed but this time that screen is missing and I was left with no respond whatsoever.

[2021-09-20 18:10] Scitz0 opened #899 "Cardano Catalyst registration documentation"
I'm in the process of implementing Cardano Catalyst voting registration support into our wallet but noticed that the documentation example most likely needs an update.

https://github.com/trezor/connect/blob/develop/docs/methods/cardanoSignTransaction.md
[code]
rewardAddressParameters here I think should be of type CardanoAddressType.REWARD
E.g.
[code]
This matches with [Adalite implementation](ht

[2021-09-24 14:15] AMS777 opened #909 "DER format"
Hello,

Is there any way to get a Trezor device to sign a message with DER (ASN.1) format?

If that option is not available, do you know how to convert the output of `ethereumSignMessage()` to DER format?

Thanks!

[2021-09-26 10:19] meckin commented on #784
Same here, it's become unbearable, I'm having to repeat the steps listed above to fix the issue at least a few times a day right now.

I've had to move to Ledger, it came unbearable.

[2021-09-28 15:29] FlorianML opened #910 "Accessing transaction history for active addresses"
I haven't seen the ability to do this so I apologize if this is already a feature and can close the issue.

Is there any way to directly retrieve the transaction history of addresses that were generated from the device?  For example, if the address (0x12345) was involved in receiving 1 ETH and sending 0.5 ETH, is there a way to pull that transaction history from the device without having to go thr

[2021-09-29 09:21] lukasmatta opened #911 "Access account that was generated using derivation path"
Hello,

the following situation happened to me: In Trezor, I have only 1 BTC account with 0 funds on it (there is a rule that I can't create a new account when I have only 1 account with 0 funds on it). However, I was able to generate a new account using the derivation path, then I sent funds to it.

Now I can not access this account using Trezor web interface/Trezor suite. What's the solution?

T

[2021-09-29 12:17] szymonlesisz commented on #911
Hi @lukasmatta,

you can still access this account using trezor-connect (in the same way as you created it)
using for example:
https://trezor.github.io/connect-explorer/#/method/getAccountInfo

if you want your account to be visible by trezor suite/wallet you need to "fill the gaps" by sending some tx into 1st account.

[2021-09-29 12:24] lukasmatta commented on #911
Hello @szymonlesisz,

thanks for your response. Is it really necessary to "fill the gaps" by design? Or is it just a feature of Trezor suite/wallet? If it's just a feature, I'd consider refactoring it so the user can make visible any account.

[2021-09-29 12:45] szymonlesisz commented on #911
this rule is there for a reason (and its there since the beginning) otherwise how wallet would know when to stop discovering accounts?
after 10th account? after 1000th account? never?

same rule applies to receive addresses, you shoudnt have gaps larger than 20 empty addresses in your account.

[2021-09-29 12:56] lukasmatta commented on #911
@szymonlesisz I expected it would check few accounts (let's say the first 5 sounds reasonable). But I definitely see your point now, thanks for explaining it to me.

[2021-09-29 12:56] #911 closed, assigned to nobody

[2021-09-29 13:12] szymonlesisz commented on #911
98% of users have max. 1-2 accounts.
checking 5 for everyone (where 4 of them are empty) would be wasting resources/backend traffic.

[2021-09-29 13:15] szymonlesisz commented on #910
Hi @FlorianML ,

sure. use `getAccountInfo` method where `descriptor` param is your `0x12345` address:

https://trezor.github.io/connect-explorer/#/method/ethereumGetAccountInfo-advanced

(use "details: transactions")

[2021-10-12 13:08] #292 closed, assigned to nobody

[2021-10-14 11:21] peculiarity opened #918 "Does Trezor support Goerli?"
Just to be on the safe side. I've seen in the Trezor App and also on the forum that it supports only Ropsten. I would like to know if that's the case? A person reported that they were able to sign a TX on kovan as well.

[2021-10-18 06:08] lostintime101 commented on #784
Suffering exactly these issues also. Works sometimes and other times not. Restarting can help but not always. The popup flashes for a second and then is gone. All attempts to recover it fail and you're just left hanging with a failed transaction and 70 dollar gas fees charge.

Newish Windows 10 laptop with Chrome, Trezor One + Metamask.

This is such a terrible experience that I created an account

[2021-10-20 07:53] szymonlesisz commented on #918
looks like it does:
https://github.com/trezor/trezor-firmware/blob/d318a293431f6ff6fbed5d650360ca9fcc364f67/core/src/apps/ethereum/networks.py#L548

use chainId `420`

[2021-10-20 07:53] #918 closed, assigned to nobody

[2021-10-20 07:53] #910 closed, assigned to nobody

[2021-10-27 12:36] gabrielKerekes commented on #770
@szymonlesisz are there any updates on this please?

[2021-10-28 02:44] alexruzenhack commented on #784
I have had the same issue with Chrome 95.0.4638.??. After restarting to update the Chrome version to 95.0.4638.54 it worked. Then I sent all the tokens to another wallet on MetaMask without connection with Trezor model T. For now, I will be far from this setup. However, for BSC it works like a charm.

[2021-10-28 08:11] pauserratgutierrez opened #925 "Problems connecting to Ronin Wallet"
Hi, I own a Trezor T with the last version. Trezor works fine for me.

When I try to "Connect a new hardware wallet" in Ronin using Trezor I get a chargin screen that never charges.
![image](https://user-images.githubusercontent.com/73240206/139214574-08f645bd-40b6-47a7-b808-3524f977baa4.png)

![image](https://user-images.githubusercontent.com/73240206/139214645-f2f5f012-6198-434f-9218-6c98b3289b8

[2021-10-28 12:33] faxotherapy commented on #784
Well, in my case, I decided to buy a Ledger. Not at all a fan of this company, but decided to be more humble, put my pride out of my way, and buy their product so that I can use it with MetaMask. Too bad for Trezor company. Their must be a reason on why the MM team doesn't do a lot to mitigate things or is relunctant to fix this issue. So, I'm not totally blaming MM team.

However, I'll make sure

[2021-11-01 16:17] aydnep commented on #825
Hi guys. any updates on EIP-712 support?

[2021-11-01 17:24] mroz22 commented on #925
Hello, try to upgrade your firmware please. You can use trezor suite wallet for this https://suite.trezor.io/web/.

I just tried this ronin wallet with my device and it worked correctly.

If problems are still around try to gather more technical info please (firmware version, browser version, whatever logs are available..)

[2021-11-01 23:35] ghost commented on #825
It looks like it's being tracked over here https://github.com/trezor/trezor-firmware/pull/1835

[2021-11-04 16:48] #925 closed, assigned to nobody

[2021-11-08 18:16] aloisklink commented on #744
For prosperity's sake, if you do need to use an invalid SLIP44 path for testnets (for example, you're trying to make a testnet transaction in MetaMask), `trezorctl` can be used to raise a prompt on the Trezor Model T, allowing you to override this safety check.

See https://github.com/trezor/trezor-firmware/issues/1474#issuecomment-792048438

[2021-11-14 17:51] patoshii opened #936 "Popup auto closes when trying to type in passphrase for hidden wallet."
I clicked the checkbox where it asks to remember my option, but it seems to now not let me type in any passphrase in the popup when using Trezor with with other applications. I tried uninstalling trezor bridge and also removed all cookies and even tried another browser. It still just auto closes the popup when it loads.

[2021-11-15 00:55] solumos opened #937 "Webextension example doesn't work"
I click the button and nothing happens

[2021-11-15 09:53] TrejGun opened #938 "Can not sign transactions, fw 2.4.2"
First, there is a warning popup saying  -
"The current version of firmware (2.4.2) may be not compatible with the running version of Trezor Connect"

Second, there is an error when signing transaction:

index.tsx:114 Error: Invalid parameters: Parameter "chainId" has invalid type. "number" expected.
at TrezorSubprovider.<anonymous> (trezor.js:164)

All with fresh Trezor-T initialized with fw 2.4.2

[2021-11-15 14:59] mroz22 opened #939 "Cardano maintanance"
Consider removing some of the cardano backwards compatibility code branches future. Aprox Q1/Q2 2022?

https://github.com/trezor/connect/blob/0114078d4cd31abd0a23f530607340f67f6c2a19/src/js/core/methods/CardanoGetAddress.js#L186

https://github.com/trezor/connect/blob/0114078d4cd31abd0a23f530607340f67f6c2a19/src/js/core/methods/CardanoSignTransaction.js#L373

todo: add link to relevant code once t

[2021-11-15 15:02] mroz22 commented on #938
looks odd

1. what wallet did you use?
1. does https://suite.trezor.io/web/ work for you?

[2021-11-15 15:42] mroz22 opened #940 "Ethereum breaking changes 2.4.1 - 2.4.2"
I found that firmware version 2.4.1 and 2.4.2 produce different results for this fixture https://github.com/trezor/trezor-firmware/blob/a01516389a5a98f0d63205fdd40f8907e2054f87/common/tests/fixtures/ethereum/sign_tx_eip155.json#L160

I am using `trezorctl ethereum sign-tx -c 11297108109 -n "m/44'/60'/0'/0/0" --nonce 0 --gas-price 20000000000 --gas-limit 21000 0x8eA7a3fccC211ED48b763b4164884DDbcF3b

[2021-11-15 15:57] andrewkozlik opened #941 "SignMessage updates"
There are several changes in the handling of `SignMessage` in Trezor firmware, which may require updates in trezor-connect.

The PR https://github.com/trezor/trezor-firmware/pull/1903 implemented these changes in the `SignMessage` protobuf flow:
- A new screen was added showing the address being used for signing in `SignMessage` and `EthereumSignMessage` on T1 and TT.
- A new `bool` parameter was

[2021-11-16 14:42] #941 closed, assigned to nobody

[2021-11-17 17:26] tsusanka commented on #531
Closing, see more info in the FW issue linked above.

[2021-11-17 17:27] #531 closed, assigned to nobody

[2021-11-17 17:27] tsusanka commented on #628
Seems to be working in stellar-sdk 0.6.2 and newer 🎉.

[2021-11-17 17:27] #628 closed, assigned to nobody

[2021-11-22 07:59] mroz22 commented on #938
Hello, I hope you managed to resolve your problem. If your problem still persist, feel free to reopen this but please provide more info.

[2021-11-22 07:59] #938 closed, assigned to nobody

[2021-11-30 13:18] matejkriz commented on #940
not important

[2021-11-30 13:18] #940 closed, assigned to mroz22

[2021-11-30 13:32] matejkriz commented on #899
@refi93 @gabrielKerekes could you please check? Is it ok with you?

[2021-11-30 13:34] matejkriz commented on #880
It seems to be Metamask issue, we believe it's resolved, closing. Feel free to reopen if problem persist.

[2021-11-30 13:34] #880 closed, assigned to nobody

[2021-11-30 13:37] matejkriz commented on #877
should be fixed in https://github.com/trezor/connect/pull/933

[2021-11-30 13:39] gabrielKerekes commented on #899
Changing the example makes sense, yes. Although Trezor firmware doesn't limit the address to only `CardanoAddressType.REWARD` i.e. any address is allowed at the moment.

[2021-11-30 13:43] matejkriz commented on #873
fixed in MetaMask

[2021-11-30 13:43] #873 closed, assigned to nobody

[2021-12-02 10:18] #899 closed, assigned to nobody

[2021-12-06 05:14] JoseIrving opened #962 "Failed Transaction: Error: Device Call In Progress"
I have a problem with my metamask that I didn't have before, it is connected to a trezor hardware wallet and I get an error when I want to sign the transaction "Error: Device Call in Progress" and the Trezor pop up remains in Loading, can anyone help me. I use google chrome, Dell windows 11.
![image](https://user-images.githubusercontent.com/95604194/144791023-f1676380-1912-4615-8b92-bcfcb470cba1.

[2021-12-06 13:32] mroz22 commented on #962
Hello,  do you have the latest firmware? you can check in https://suite.trezor.io/web/

Otherwise I am not aware of any changes made recently that could affect you. So maybe please restart everything and try again. If it does not help I will ask trezor QA team to try to replicate your issue. In that case, providing as much information on what you are trying to do and what system you use will be he

[2021-12-06 14:50] vladimirvolek commented on #877
It is :))

[2021-12-06 14:50] #877 closed, assigned to mroz22

[2021-12-07 06:05] danny-molamola commented on #784
Got the exact same issue.  I've got a Trezor One and Trezor T, both got this issue intermittently.  Often times I have to unplug and replug or close all the browsers and start again.  Tried a couple of Macbook and tried Chrome and Brave, both are the same.

[2021-12-07 18:14] yura-pakhuchiy commented on #825
Any updates on this? trezor/trezor-firmware#1835 is merged, but not really usable without connect counterpart

[2021-12-07 18:19] yura-pakhuchiy commented on #825
@xlab maybe you have some code for connect ready?

[2021-12-08 09:57] mroz22 commented on #825
Hello there. We don't have it in our plans in near future but we are happy to review and merge any contribution from comunity.

[2021-12-08 11:55] artall64 commented on #825
Does't mean that EIP-712 support wouldn't be released on Trezor in 2021 ?
It's a key requirement for limit orders and much more DeFi stuff on Ethereum-like networks.

[2021-12-09 07:32] gabrielKerekes opened #966 "v8.2.3-extended failing with "Transport is missing""
We were trying out the new 8.2.3. extended release with [cardano-hw-cli](https://github.com/vacuumlabs/cardano-hw-cli) and we are not able to make any (e.g. `getVersion`) calls to the Trezor device. We tried with 2.4.3 physical device and emulator, also with older FWs and trezor bridge version 2.0.27. The non-extended release seems to work fine on the same setup - we have tested that via a test ap

[2021-12-09 10:54] gabrielKerekes commented on #966
The issue has been confirmed to us also by people working on the Trezor Daedalus integration. Updating to the official 8.2.3 extended release breaks the integration. `8.2.3-beta.3` works.

@mroz22 @szymonlesisz could you please take a look? 🙏  Firmwares are being updated and Daedalus stops working with them -> https://github.com/input-output-hk/daedalus/issues/2777.

[2021-12-09 11:23] mroz22 commented on #966
Hi, thanks for report. I am looking at this now with priority.

[2021-12-09 12:12] mroz22 commented on #966
@gabrielKerekes could you please in the meantime try if `8.2.3-beta.8` works for you? This version should be the same as `8.2.3-extended` the only difference is that I removed commit https://github.com/trezor/connect/commit/580cc0e177c923eba92286f9bae200a6ac2ee209

[2021-12-09 12:19] davidmisiak commented on #966
Yes, it works for us (tested with firmware 2.4.3 and hw-cli 1.9.0-rc0).

[2021-12-09 12:21] mroz22 commented on #966
Ok, I think you can use this release safely for now as it was only an optimization (ironicaly) and had no added or required features. I will ofcourse try to find out where is the problem once this commit is included.

[2021-12-10 12:10] overcat opened #970 "stellarSignTransaction did not return the correct signature"
environment info
[code]
tx info
[code]
Expected signature
_I got this signature through trezorctl, so I think there is no problem with Trezor firmware._
[code]
signature returned by stellarSignTransaction
[code]
code
[code]

[2021-12-10 12:23] overcat commented on #970
This is debugging information. Why is the sequence received by Trezor T different from the sequence passed to stellarSignTransaction? Hi @mroz22, do you have any ideas?
[code]

[2021-12-10 12:28] overcat commented on #970
trezorctl works fine, it got the correct sequence
[code]

[2021-12-10 13:09] overcat commented on #970
If the sequence number is a small value, then everything seems to work fine, is this related to exceeding MAX_SAFE_INTEGER?

[2021-12-10 14:11] mroz22 commented on #970
Yes, this is happening due to sending number parameter which is higher then MAX_SAFE_INTEGER

What we should do now? probably change conect interface in that way that it will be able to accept also string here instead of number

[2021-12-10 14:16] overcat commented on #970
Yes, I think we should define it as string type in JavaScript. (The source code of Trezor Model T is written in Python, and Python can handle it accurately.)

I am not familiar with JavaScript, the `sequence number` I passed in is `string` type, where is it converted to `number`?

[2021-12-10 15:19] mroz22 commented on #970
I have already found the root of this problem and I am preparing fix. Thanks for reporting.

[2021-12-11 09:38] prusnak commented on #970
@mroz22 While you are on it, can you also please set the `asset` field to `native` if it is not specified by the caller? See https://github.com/trezor/trezor-firmware/issues/1997#issuecomment-990972833 and @matejcik can provide you with more info.

[2021-12-11 10:12] matejcik commented on #970
fwiw i believe that whoever is using the official Stellar SDK will always specify the asset, and that is what callers _should_ be doing

[2021-12-11 10:28] overcat commented on #970
Hi @mroz22, I found that other projects did not use the [transformTransaction](https://github.com/trezor/connect/blob/aa767f0e67/src/js/plugins/stellar/plugin.js) function provided by the connect library, but made a separate copy. Do you have any ideas?

https://github.com/stellar/laboratory/blob/master/src/helpers/trezorTransformTransaction.js
https://github.com/stellarterm/stellarterm/blob/maste

[2021-12-11 10:52] prusnak commented on #970
Can you please open issues in the respective projects to not do this and rather use a function provided by Connect? There is no good reason why they should do this. And mainly this behaviour leads to more issues and makes fixing stuff much more complicated.

[2021-12-11 10:59] overcat commented on #970
Sorry for this, I will raise this issue elsewhere.

[2021-12-12 19:22] mroz22 commented on #970
Just to clarify. Do we still want this? I wasn't sure whether anything changed after closing https://github.com/trezor/trezor-firmware/issues/1997#issuecomment-990972833

[2021-12-13 09:34] shiny-mountain commented on #970
I couldn't find this method "transformTransaction" inside the "trezor-connect" package. The "lib" folder does not contain the "plugins" folder.

[2021-12-13 09:37] mroz22 commented on #970
hey @shiny-mountain plugins folder is available only from `-extended` package. for example `8.2.3-extended`. does it suit your needs?

[2021-12-13 09:44] shiny-mountain commented on #970
Yes, that's what we need. In the near future, Stellarterm will start using this

[2021-12-13 09:49] shiny-mountain commented on #970
@mroz22 Will transaction signing be fixed in the next version of the package?

[2021-12-13 09:50] mroz22 commented on #970
yes, it is likely to happen in couple of hours.

[2021-12-13 09:52] shiny-mountain commented on #970
ok, then we will update Stellarterm immediately with the new version

[2021-12-13 12:50] #970 closed, assigned to mroz22

[2021-12-13 14:23] matejkriz commented on #909
cc @matejcik @prusnak any idea, please?

[2021-12-13 14:39] matejcik commented on #909
Trezor does not allow signing arbitrary message bytes. If you're using `EthereumSignMessage`, you are getting a signature for `"\x19Ethereum Signed Message:\n" ‖ str(len(b)) ‖ b`, where `b` is your message bytes. You can of course stuff DER-encoded data in there, but the signature is not over DER.

The returned signature from `ethereumSignMessage` is 65 bytes:
1. first 32 bytes are the value of `r

[2021-12-13 15:25] mroz22 commented on #966
This should now be fixed in `8.2.4-extended`
please reopen in case you find a problem.

[2021-12-13 15:25] #966 closed, assigned to nobody

[2021-12-13 15:52] shiny-mountain commented on #970
@mroz22 I installed "8.2.4-extended" version but I don't see the "plugins" folder in it

[2021-12-13 15:55] overcat commented on #970
It works fine on my end, see https://github.com/stellar/account-viewer-v2/pull/366

[2021-12-13 16:00] shiny-mountain commented on #970
Oops, my mistake. It was just necessary to change "^8.2.4-extended" to "8.2.4-extended"

[2021-12-13 22:58] felixlucid commented on #970
Thank you so much for your attention to this matter. I'm a Trezor Model T user affected by this issue and was referred here by the Support Team. As of now, I am still unable to sign transactions on the SDEX via StellarTerm with my Model T 1.4.3 FW. Please let me know the update status for the fix. Thank you!

[2021-12-13 23:00] felixlucid commented on #970
I'm a Model T StellarTerm user with vested interest in the resolution of this transaction signing problem. Could you give me the status of the fix intergration on StellarTerm and inform me whether I should be able to start transacting on the platform? Thank you for your support.

[2021-12-14 00:26] overcat commented on #970
Hi @felixlucid, it works fine on my end, what error did you get? Let's move to https://github.com/stellarterm/stellarterm/issues/951 to continue the discussion.

[2021-12-14 11:10] mroz22 opened #977 "Code cleanup"
method not used `getCoinInfoByCapability`

[2021-12-14 22:32] prusnak commented on #825
Will be released in early 2022. Please be patient.

[2021-12-15 08:49] AMS777 commented on #909
Thank you for the clarification.

We finally went for a more general purpose device that that better suits signining arbitrary bytes (YubiKey).

[2021-12-15 09:08] #909 closed, assigned to nobody

[2021-12-17 01:31] camus1612 commented on #784
It's happened to me also. Can't find a solution.
I have Trezor one with chrome.
It's sad to see that this problem is so common and stoshilabs don't come up with any solution.

[2021-12-17 08:59] bosomt commented on #784
**QA OK**

MetaMask developers solved this issue in latest 1.8.0 version
tested 10+ times and it works now flawlessly

[2021-12-17 08:59] bosomt commented on #784
@ChooChooCC please confirm and close issue

[2021-12-17 10:00] prusnak commented on #784
Everyone, please make sure you are running Metamask 10.8.0. They are slowly pushing the update to you which should fix the issue.

@camus1612 @danny-molamola @faxotherapy @alexruzenhack @lostintime101 @lawrenzpng @mickmastermike @HeroHann @vying1 @darkwing @ChooChooCC @bradwbradw @onetwoitsthewu

[2021-12-17 12:30] mroz22 opened #984 "CoinInfo.getCoinInfoByHash not implemented"

[2021-12-17 17:00] #977 closed, assigned to mroz22

[2021-12-17 19:40] camus1612 commented on #784
I upgraded. Worked good at start but now again on Pancakeswap it's still happening.

[2021-12-20 10:26] mroz22 opened #987 "EthereumGetAddress checksum"
https://github.com/trezor/connect/blob/e1c78c23feaf864b228fd2ed53daec947548d777/src/js/device/DeviceCommands.js#L293

this should (could) run only for specific firmwares and if those are not supported anymore, we can probably remove this. Is that right? @matejcik ?

[2021-12-20 20:38] GeraldWallace commented on #784
I upgraded, worked for about 10 txns before the problem persisted consistently. Tried everything in this thread. No solution in sight.

Also created this account just to comment. It's stopping from making so many essential transactions.

[2021-12-20 23:49] danny-molamola commented on #784
I upgraded to 1.80, and it worked most of the time.  Occasionally the issue still happens, but it is much less frequent.  However, it created another issue, when I try to use it on Avalanche with MM and Trezor, all transactions failed with the error "String Overflow".  It worked before the upgrade.  Now I have to use Trezor on another machine, with an older MM version for my Avalanche transactions

[2021-12-20 23:52] aloceros commented on #784
Just a suggestion for everyone having problems - you can use Rabby instead of Metamask.  Since switching my Trezor usage has been trouble free on all EVM chains.

[2021-12-21 06:03] danny-molamola commented on #784
Thanks for the suggestion, tried a few transactions using Rabby on Avalanche and it works great.  The only issue on Rabby for me is the lack of Harmony support.

[2021-12-22 07:40] lawloretienne commented on #880
@matejkriz I have this same exact issue and can't get past it.
<img width="671" alt="Screen Shot 2021-12-21 at 11 19 28 PM" src="https://user-images.githubusercontent.com/311187/147054136-c906cd23-dfa6-4d02-9846-4614abe137e7.png">

Do you have any ideas what else I can try to fix this error?

[2021-12-22 08:02] lawloretienne commented on #880
So i just resolved this by restarting my computer which closed everything out and then when i logged back on my metamask was logged out and i had to log back in again, then i was able to succesfully connect the hardware wallet to metamask.

[2021-12-22 10:46] #876 closed, assigned to mroz22

[2021-12-22 11:34] #845 closed, assigned to nobody

[2021-12-22 12:10] szymonlesisz opened #994 "methods refactor followup"
- [ ] enforce return type in `AbstractMethod.run` from generic type
- [ ] move "bundle" logic in to `AbstractMethod`
- [ ] remove unused methods: debuglink*, loadDevice , getDeviceState

[2021-12-27 18:20] pauserratgutierrez opened #997 "Trezor Authorization error"
I'm having trouble connecting trezor. I have last version of trezor firmware as well as PC Suite. Using Windows 10 PC and Original Trezor. Worked well for the past months. Configured to use it with Axie Infinity Ronin wallet.

A few days ago I added a new Metamask wallet to be protected with Trezor, so now I have Ronin and Metamask wallets. Now I can't access any of my Ronin wallets protected with

[2021-12-27 18:53] pauserratgutierrez commented on #997
Seems to be fixed now. Everything works as expected. I closed every chrome tab, restarted pc and connected trezor. Suite connectex correctly and Ronin too.

[2021-12-29 07:10] bitnoah opened #998 "TREZOR ONE CONNECT ISSUE"
I have a Trezor one. The other day, i was doing a transaction on Metamask but it failed because on the pop-up, trezor failed to connect. I tried connecting using a different USB port; fail. Then  I changed the cable and tried again, fail. I restarted the computer several times after clearing the cache, fail. I updated the firmware and tried to recover, fail as the Trezor cannot connect.

I updated

[2021-12-31 07:16] danny-molamola commented on #784
Upgraded to 1.81, and the pop up window automatically close issue came back again, see this issue every 2-3 transactions, I'm using it on Harmony and can't use Rabby as alternative.

[2022-01-03 12:24] #770 closed, assigned to szymonlesisz

[2022-01-03 12:36] szymonlesisz commented on #770
hi @gabrielKerekes
i've refactored `paramsValidator` ef1978cb85ccdea961c3adffb1d4fea6df81928d
renamed `obligatory` to `required` 92f618a49e545c9b84397ed1ada7dd4ce64735b4
and renamed `paramsValidatior` type `amount` to `uint` 95ace8c2596b670be7315a75dce6781f136aaf59

[2022-01-03 15:02] karliatto opened #1001 "Webusb does not work when in Google chrome incognito mode"
**Describe the bug**
When using latest commit develop branch connect in suite app webusb does not work in Google chrome incognito mode.

**Info:**
Commit: 745e9a50a0c60a6535f97a398d0ed26eb8390fc0 latest develop
Browser: Google chrome Version 95.0.4638.69 (Official Build) (64-bit)
OS: Pop!_OS 21.04

**How to reproduce**
Steps to reproduce:
1. Run connect in dev mode like `yarn dev`
2. Use the local

[2022-01-03 21:32] inthernar commented on #784
I started having the above described issue:

Chrome Version 96.0.4664.110 (Official Build) (x86_64)
MM v10.8.1
Trezor T v2.4.3

I am trying to execute a transaction on Matic. The first one or two times the pop-up opens and I can interact with it to complete the transaction. After two or three tries, the pop-up displays and closes before I can interact with it.
On my Trezor it asks me to enter my p

[2022-01-03 21:44] camus1612 commented on #784
Guys reopen this, you can see this problem is still valid.

[2022-01-04 03:02] Zwilla commented on #1001
read this!  It is not a BUG!!!
https://github.com/WICG/webusb/issues/73

[2022-01-04 09:11] mroz22 commented on #962
If you manage to gather more info, please reopen this issue.

[2022-01-04 09:11] #962 closed, assigned to nobody

[2022-01-04 10:31] karliatto commented on #1001
This issue is not reproducible when using suite with https in incognito mode, therefore I am closing it.

[2022-01-04 10:31] #1001 closed, assigned to nobody

[2022-01-04 23:00] bradwbradw commented on #784
Still happening for me too after the update, intermittently.

It happens more often when I have many browser tabs open and things are
lagging. Not sure whether it's due to high CPU or high RAM usage, but the
slowdown effect seems to increase the likelihood of this issue appearing.

On Mon, Jan 3, 2022 at 1:44 PM camus1612 ***@***.***> wrote:

[2022-01-06 02:52] Ankarrr commented on #784
I have the problems again and again. Can dev please do something to fix this?

[2022-01-06 10:41] faxotherapy commented on #784
I came to the conclusion that Trezor devices are utterly useless for DeFi plays. They're only great for storing BTC, ETH, etc. As a result, I decided to go with Ledger for DeFi. In the end, one must choose between a company that's utterly bad in terms of customer support (SatoshiLabs) and a company that's utterly bad with customer data (Ledger).

[2022-01-06 11:43] wendys-cats commented on #784
@Ankarrr @bradwbradw @camus1612 @vying1 @danny-molamola thank you for reporting!

Can you please elaborate on your setup? We are trying to reproduce the issue(s) and this might help narrow it down.

OS; browser type and version; trezor device type and firmware; metamask version; what were you trying to do - network, transaction type, if it was metamask integration with another provider and so on.

[2022-01-06 17:41] brbubba commented on #784
Metamask 10.8.1
LinuxMint
Brave Browser (Chrome won't even connect to the Trezor)

Swapping 1 FTM to USDC on Spookyswap. Trezor validation window pops up and closes within 2 seconds. Disabling security outlined above has no effect. If you repeat the transaction no window pops up, you have to close out of Brave and relaunch to get the 2 second window to pop up again.

FYI works just fine on windows

[2022-01-06 22:03] danny-molamola commented on #784
Metamask 10.8.1
I've a MacBook Pro and old Air, both have the same issue
Tried Brave and Chrome, both the same
I have a Trezor One and T, both the same, I use the One more and see this issue more often

Transactions: The issue appears randomly, I saw it on Aave, Curve on Polygon, and DFK on Harmony, and some other sites that I've forgotten.

[2022-01-06 22:43] bradwbradw commented on #784
MacOS Big Sur 11.6
Firefox 95.0.2
Trezor One f/w 1.10.4
Metamask 10.8.1
Various networks: eth, fantom, polygon. Any kind of transaction is
susceptible

On Thu, Jan 6, 2022 at 2:03 PM danny-molamola ***@***.***>
wrote:

[2022-01-07 10:48] camus1612 commented on #784
Windows 10
Chrome 97.0.4692.71
Trezor One
Firmware: 1.10.4
Metamask 10.8.1

It happens a lot on Pancake Swap on BSC while trying to swap and adding liquidity.
Also happened on Harmony at DefiKingdoms while trying to add liquidity.
On AAVE when trying to repay loan, when trying to deposit collateral.

[2022-01-07 10:51] camus1612 commented on #784
I'll take the bad customer support instead. Because if it'll continue, there will be a vacuum that other company will fill. While me staying secure all along.
I hope they will fix the customer support in first priority of course.

[2022-01-07 14:44] darkwing commented on #784
For those experiencing this issue, could you do the following:

* Click the "Extensions" icon and choose "Manage extensions":
<img width="371" alt="ME" src="https://user-images.githubusercontent.com/46655/148557476-7b8ded80-dcd3-4ac4-a574-77fed2a8368b.png">

* Click the "background.html" link, which will open a developer console:
<img width="414" alt="Back" src="https://user-images.githubuserconte

[2022-01-08 11:21] danny-molamola commented on #784
For every action (click on the buttons on the Trezor pop-up window, or physically press the button on the Trezor One, an error "Refused to set unsafe header 'origin'" is shown on the console.

![image](https://user-images.githubusercontent.com/51925396/148642215-44561c91-d79c-42d8-8f52-8a3e831e35e7.png)

When the pop-up was closed unexpectedly, there is no new error messages on the console.

As th

[2022-01-08 20:41] inthernar commented on #784
My screen doesn't have the URLs available, see my attached image, please.

It has started happening a lot more today, like non-stop. I've done the RESET ACCOUNT option. It used to work when I close the browser window and re-open, now six times in a row, the pop-up open and then closes right away. For me, this happens on the MATIC (polygon) network only (so far). I haven't had to use another chain

[2022-01-10 03:35] o3o3o commented on #784
![image](https://user-images.githubusercontent.com/4308542/148715594-e6d88188-50f8-44ef-ab51-491bd4c45438.png)
Same error here. It had happened many times :(.....

[2022-01-10 12:23] slowbackspace opened #1004 "Can't pass derivationType to GetAccountInfo with a bundle prop"
Hello!

While working on cardano integration in Trezor Suite we’ve noticed that when using `getAccountInfo` method with `bundle` property typescript doesn't allow to pass `derivationType`.

Following snippet (from Trezor Suite's discoveryActions) throws ts error `Object literal may only specify known properties, and 'derivationType' does not exist in type 'CommonParams & Bundle<GetAccountInfo>’.`

[2022-01-11 05:59] petravis commented on #784
<img width="634" alt="Screen Shot 2022-01-10 at 7 58 23 PM" src="https://user-images.githubusercontent.com/18227370/148889374-02eb1b90-2fb3-4099-b226-88fdbb440ab9.png">
same for me too

edit:  Works on my model T - model one is having the issue

[2022-01-11 13:44] earrietadev opened #1010 "PathPaymentStrictSend not working (Stellar operation)"
## Description
When trying to do a PathPaymentStrictSend operation it fails because we're not parsing the parameters "destMin" and "sendAmount" into integers.

## Steps to reproduce
Generate a PathPaymentStrictSend in the Stellar Laboratory and try to sign it with a Trezor Hardware Wallet.

## Additional info
Browser: Chrome, Brave and Firefox
trezor-connect: 8.2.4-extended
Device: Trezor One (fw

[2022-01-11 16:18] warc0s commented on #784
Same error here, and I bought my trezor one a few days ago.. Im regretting so much

[2022-01-13 02:07] wendys-cats commented on #784
Thank you very much for providing more info! **I have FINALLY managed to replicate the pop up issue, so hopefully this comment will be helpful for you all.**
@mrkaqz @vying1 @markg31 @mickmastermike  @lawrenzpng @lostintime101 @alexruzenhack @faxotherapy  @danny-molamola  @camus1612 @GeraldWallace @danny-molamola @ramseynasr @bradwbradw @Ankarrr @brbubba

**So, to summarize:**

**1. The pop-up pro

[2022-01-13 09:59] matejcik commented on #987
Both T1 and TT firmwares always return checksummed address. This change has been implemented ever since this commit sequence:
https://github.com/trezor/trezor-firmware/commit/6a39049cc157faa8fc5a5922d308bf6c3cccda1f
https://github.com/trezor/trezor-firmware/commit/534d15f208dccb1091f85381c9946d7c97c7c881
https://github.com/trezor/trezor-firmware/commit/101242f902bc628a076dca6e91a89ba3e390e116

The

[2022-01-13 10:10] mroz22 commented on #987
Thanks!
right now minimum supported versions for ethereum are
-  t1 1.8.0
 - tt 2.1.0

 so I guess we should bump this by one patch version t obe able to ditch `toChecksumAddress`

[2022-01-13 10:12] matejcik commented on #987
no wait, this is just what trezor-firmware repo is showing me. the change is actually older, let me check.

[2022-01-13 10:13] mroz22 commented on #987
ok, nevermind, if its older, we are good. I don't need exact numbers here. thanks!

[2022-01-13 10:15] matejcik commented on #987
confirming that versions 2.1.0 and 1.8.0 seem to be what introduced this change. so you should be safe to drop the `toChecksumAddress` calls

[2022-01-13 10:18] mroz22 commented on #987
thanks, it is already in develop :partying_face: so I am closing this issue.

[2022-01-13 10:18] #987 closed, assigned to mroz22

[2022-01-13 16:54] BCLind opened #1017 "pop up confirmation screen disappears in a few seconds - transaction fails"
Looking for help.  It just started a couple of days ago.  Using Metamask and the Trezor 1.  I can deposit to the hardware wallets and see the balances.  When I try to transfer, swap, or anything that requires my confirmation it fails.  I get the initial approval screen in Metamask for the gas and then for a second the tab opens starting the Trezor approval and it goes away.  I quickly go to Histor

[2022-01-13 17:00] rsimonton commented on #784
This issue (pop-up window appearing momentarily before closing when attempting to complete/sign a tx) has been long standing and has been very annoying but I've lived with it. Recently it's happening more often (or at least it feels that way).  This morning I was able to reproduce it 100% simply trying to sign a transaction on a proposal on https://commonwealth.im/.  Given that it's been happening

[2022-01-16 10:33] saluthejanitor opened #1020 "VPN issue with Trezor Connect"
I think this is not an issue specific to the application itself but I didn't know a better place to report it. When I try to sign a transaction, the very first popup that requires me to insert my PIN always fails behind a VPN, as in the popup opens and closes immediately. Popups where I just need to confirm directly in the hw (already loaded my PIN) work fine.

[2022-01-18 12:30] davidmisiak commented on #770
Thank you very much, we tested the new `paramsValidator` behavior in `cardano-hw-cli` and it seems to work perfectly.

[2022-01-19 15:43] tommq opened #1026 "Unknown addresses returned from getAccountInfo advanced"
When the getAccountInfo endpoint is used as:

`TrezorConnect.getAccountInfo({
  coin: "test",
  details: "tokens"
});`

The returned addresses have derivation path: **"unknown/0/0/0"**

No error is returned.

Steps to reproduce:

1. Go to https://trezor.github.io/connect-explorer/#/method/getAccountInfo-advanced
2. Empty the "OR BIP44 PATH" field
3. Select DETAILS: Tokens (Account addresses)
4. Se

[2022-01-19 17:42] #997 closed, assigned to nobody

[2022-01-20 12:09] mroz22 commented on #1026
Should be fixed now.

[2022-01-20 17:11] tsusanka commented on #1026
Fixed in https://github.com/trezor/connect/commit/eaa0fc3f4b97434d1e0e55878b70e481545491b2 (for reference).

[2022-01-20 17:12] #1026 closed, assigned to nobody

[2022-01-20 17:23] tsusanka commented on #1026
And probably introduced in https://github.com/trezor/connect/commit/4e6abd328e079e8d2790e440eeb0df4ddb1f6be2.

[2022-01-21 21:58] inthernar commented on #1017
This may help: https://github.com/trezor/connect/issues/784#issuecomment-1011673699

[2022-01-21 22:15] BCLind commented on #1017
Thank you for this.  I ended up deleting my whole metamask extension and rebuilding everything.  Pain in the butt, but it worked.  I do think it was something corrupt with the extension.

Again thank you for looking into this for me.

[2022-01-31 02:18] danny-molamola commented on #784
The issue is still happening.  I have switched from Brave to Chrome, and the pop up closed unexpectedly randomly and the frequency is high when I have many tabs open.  The usual fix is either force quit all chrome browsers or unplug the trezor and plug it back again a few times.  There is no error in the developer console when the pop up closed.  It can be easily reproduced as it basically happens

[2022-01-31 02:53] inthernar commented on #784
He's correct. It has been happening consistently. I went over the proposed "solution" provided by @wendys-cats
and it still happens. He is also correct, in saying that the only way to resolve this is to quit Chrome outright, then re-open and try again. Sometimes the issue persists even after quitting outright. But most of the time the quitting and restarting of Chrome solves the problem for a TX o

[2022-02-02 00:24] ryny24 commented on #784
This issue is driving me nuts tonight. When will this get resolved?!?!?!?

[2022-02-02 05:17] JoeGruffins opened #1038 "coins: Correct decred block time."
Decred's current `blocktime_seconds` values in coins.json:
https://github.com/trezor/connect/blob/1daabdd0230c04d77596e63ec7387e3aaa5515cd/src/data/coins.json#L749-L838

Mainnet should be 300 and testnet 120:
https://github.com/decred/dcrd/blob/bcc5023fa94d2e0895682012081fbe3cef3d6b51/chaincfg/mainnetparams.go#L96
https://github.com/decred/dcrd/blob/bcc5023fa94d2e0895682012081fbe3cef3d6b51/chaincf

[2022-02-02 12:37] mroz22 opened #1039 "legacy tests results"
We have just started running more tests against model One and doing so we have found some suspicious observations . I would like to determine if these results are expected or possibly bugs in firmware.

decred - 1.10.6
https://github.com/trezor/connect/blob/1e3e4648f7b92df0c1b10bf0fc1d18b4cd4ebf54/tests/__fixtures__/signTransactionDecred.js#L106-L108

decred 1.10.6
https://github.com/trezor/connec

[2022-02-03 13:32] mroz22 commented on #1038
Hi, we take these data from trezor-firmware repo. I would say that from this file most probably https://github.com/trezor/trezor-firmware/blob/master/common/defs/bitcoin/decred.json
So please open PR there if you wish to change this.

[2022-02-04 07:07] JoeGruffins commented on #1038
Thank you! https://github.com/trezor/trezor-firmware/issues/2099

[2022-02-04 07:07] #1038 closed, assigned to nobody

[2022-02-04 10:19] szymonlesisz opened #1040 "Tor tracking issue"
- [ ] detect .onion origin in web env and set `setting.useOnionLinks` to true
- [ ] BLOCKCHAIN.CONNECT should return { url: 'btc1.trezor.op`, onionUrl?: 'btc1.xxx.onion` }
- [ ] accept proxyAgent options in `setProxy` method

[2022-02-04 15:32] tsusanka commented on #235
Thank you for the issue! We will continue tracking this in https://github.com/trezor/trezor-suite/issues/4856.

[2022-02-04 15:33] #235 closed, assigned to nobody

[2022-02-04 15:43] tsusanka commented on #273
Thank you for your issue. There were many Stellar fixes in the past years so this is most likely fixed. Please reopen if this is not the case.

[2022-02-04 15:43] #273 closed, assigned to nobody

[2022-02-04 15:48] tsusanka commented on #340
As @mroz22 has refactored trezor-link heavily and this issue is 3 years old I think we can close. @mroz22 please open a new one in trezor-suite if you disagree.

[2022-02-04 15:48] #340 closed, assigned to szymonlesisz

[2022-02-04 15:48] tsusanka commented on #375
Will be done as part of the Connect pop up redesign. Being tracked in https://github.com/trezor/trezor-suite/issues/4363.

[2022-02-04 15:48] #375 closed, assigned to nobody

[2022-02-04 15:50] tsusanka commented on #394
I think global interaction timeout is great and enough for now? And as this issue is 3 years old it seems we do not need it at the moment. Please reopen if that is not the case.

[2022-02-04 15:50] #394 closed, assigned to keraf

[2022-02-04 15:53] tsusanka commented on #403
It seems to me this is fixed in develop:

https://github.com/trezor/connect/blob/cfeb056f1d3c6b2f40fd45bb20e63931dea3f57b/src/js/device/Device.js#L200-L204

Please reopen if this issue persists.

[2022-02-04 15:53] #403 closed, assigned to szymonlesisz

[2022-02-04 15:56] tsusanka commented on #452
Closing for inactivity as this 2 and a half years old and many things have changed since then. Please reopen if you still encounter this.

[2022-02-04 15:56] #452 closed, assigned to nobody

[2022-02-04 15:57] tsusanka commented on #454
@mroz22 please open a new one in trezor-suite if this is still relevant, but as you have refactored trezor-link I think it is not..

[2022-02-04 15:57] #454 closed, assigned to nobody

[2022-02-04 16:05] tsusanka commented on #622
Closing for inactivity.

[2022-02-04 16:05] #622 closed, assigned to nobody

[2022-02-04 16:06] #631 closed, assigned to nobody

[2022-02-04 16:08] tsusanka commented on #664
We will completely redesign connect-popup in https://github.com/trezor/trezor-suite/issues/4363 let's leave it for that. Thanks @waltonzt for the offer, we failed to respond, sorry 😢.

[2022-02-04 16:08] #664 closed, assigned to nobody

[2022-02-04 16:18] tsusanka commented on #676
Closing for inactivity.

[2022-02-04 16:18] #676 closed, assigned to nobody

[2022-02-04 16:24] tsusanka commented on #723
https://github.com/trezor/trezor-user-env/issues/49 is done, closing here 🎉 .

[2022-02-04 16:24] #723 closed, assigned to nobody

[2022-02-04 16:32] tsusanka commented on #793
I believe this is a duplicate of https://github.com/trezor/trezor-suite/issues/4865.

[2022-02-04 16:32] #793 closed, assigned to nobody

[2022-02-04 16:36] tsusanka commented on #825
We have released EIP-712 support [in January](https://blog.trezor.io/trezor-suite-and-trezor-model-one-firmware-updates-january-2022-4a77e4a07a5a) release.

[2022-02-04 16:36] #825 closed, assigned to nobody

[2022-02-04 16:40] #869 closed

[2022-02-04 16:56] tsusanka commented on #1017
Duplicate of https://github.com/trezor/trezor-suite/issues/4888.

[2022-02-04 16:56] #1017 closed, assigned to nobody

[2022-02-04 17:00] tsusanka commented on #804
Hi, thank you for your report. This is not currently on our roadmap, we would have to expose these crypto calls via firmware and we do not have product usage for this at the moment.

Also I belive if Alice and Bob know each other's public key, they can simple transact the symmetric key using asymmetric encryption. I am closing this as there is not much we can do about this but feel free to continu

[2022-02-04 17:00] #804 closed, assigned to nobody

[2022-03-01 15:47] Sheesh-bit commented on #784
This issue still happens, mostly in the Matic/Polygon Mainnet. The trezor will pops up for a sec and will suddenly close making the transaction unable to process. Tried every solution that is stated here in this thread but nothing works.

[2022-03-24 17:37] richyboycaldo commented on #784
I've been having this problems for months now. I can't believe it hasn't been fixed.

[2022-03-25 14:09] sime commented on #784
This thread has diverged, but if you have hard examples of reproducible cases, please the steps in a manner similar to below. It's important to share exactly which site/application you're experiencing the bug with. Unfortunately, so far I expect it to be a race condition, which is difficult to track down.

Device: Trezor Model T
**Prerequisites:**
1. Setup MetaMask with [Polygon network RPC](https

[2022-03-30 21:19] ANDYVDL commented on #784
Just started having the same issue. It tuned a year old a week ago! Happy birthday!

[2022-03-31 06:45] sime commented on #784
@ANDYVDL I'm looking for more detail about this. Could you share which site you are using, currency, exactly which actioned you performed?

[2022-04-05 13:44] terrymason commented on #784
I'm able to produce this any time - roughly 20% of my actions on the trezor are successful.  If I reboot my computer, fire up my browser, I'm able to make a transaction.  After that my transactions will all fail.  I then do a dance of unplugging my trezor and closing / reopening my browser.  It can get one, maybe two transactions before it fails.

The symptoms are that:
1. I take an action that re

[2022-04-05 13:50] terrymason commented on #784
I turned off safety checks in my trezor suite and tried again.
First transaction was successful
Second transaction launched the approval window, which then auto closed.  No request for input on the trezor device.   Transaction failed.

[2022-04-16 11:12] ian444 commented on #784
I'm mostly on Polygon and Harmony and have had 2 PC's running so I can use one while the other restarts to try to get a tx through. One is Linux, the other Win10, one running Chrome, the other Firefox or Chrome. One thing I found to help was to first send a transfer of funds to another wallet, but cancel it at the Trezor. This gets the Trezor and Metamask connected and warmed up. Then might get 2

[2022-04-16 11:59] faxotherapy commented on #784
Same for me, I did exactly the same thing. I moved part of my funds to Ledger X in order to deal with DeFi. It's indeed a wonderful stress-free experience. After 2 months of use, I never had a single issue between MetaMask and Ledger. Thumb up to Ledger for creating products that work nicely beyond Bitcoin maximalism.

[2022-04-20 14:19] sicalpath commented on #784
Fuck Fuck Fuck this fucking issue drives me crazy!!!!!!!!!!!!!!!!

[2022-04-20 14:32] faxotherapy commented on #784
I really sympathize. This bug is truly a nightmare. In my case, I 've been forced to switch from Trezor to buying yet another wallet, i.e. Ledger. Trezor can only be used for long-term storage. Since using Ledger, not a single problem arose with MetaMask (at least on Brave). It's a shame Trezor is in fact not compatible with DeFi. Personal opinion here, but my feelings tell me SatoshiLabs people a

[2022-04-20 15:10] sime commented on #784
We recently released an update to Trezor Connect which attempted to [squash race condition](https://github.com/trezor/connect/blob/396d65dca40ab87960dff05088a3ace9ba534350/CHANGELOG.md#fixed) we thought might be related.

I am aware the bug still exists, it's difficult to track down because it is not reproducible 100% of the time.

Which is why I ask contributors of this thread to continue to prov

[2022-04-20 15:23] mroz22 commented on #784
If you could guys please just enter this url into your browser

http://127.0.0.1:21325/status/

And tell me what is your bridge version. My guess is your bridge version is 2.0.27, right?

[2022-04-26 03:37] artystern commented on #784
I literally have the same routine and issues... I get a : sentry-install.js:1 MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 "latest" listeners added. Use emitter.setMaxListeners() to increase limit. Error in my console

<img width="926" alt="image" src="https://user-images.githubusercontent.com/17859244/165215380-f940c57f-f8d6-46ba-b384-f831444e4f9e.png">

[2022-05-04 14:19] sime commented on #784
@artystern What currency you are using, what action you are performing on what platform.

[2022-05-04 18:26] artystern commented on #784
Every transaction, whether on avax, ethereum or matic is doing this.
Usually first one works then second one pop up doesn't appear. Seems like a
systematic problem with trezor that most people are experiencing...

For my examples I'm interacting with Aave on Avalanch or Tokemak on
Ethereum. Happns every transaction (pop up doesn't appear and nothing
happens)

On Wed, May 4, 2022 at 9:20 AM Simon M

[2022-05-08 06:40] DegenDoc commented on #784
Like many here, this annoying issue would pop up randomly for me too. Highly frustrating to say the least!

This is what I did to fix this annoying problem.

1. Follow the steps at https://www.alphr.com/how-to-disable-ad-block/
2. Using Chrome, go to https://connect.trezor.io/ and click on the Lock icon next to the url to View Site Information.
3. Click on Site Settings, then to Privacy and Securi

[2022-05-13 05:31] KyleF0X commented on #784
Hi Im also having this issue using Metamask on Firefox with Trezor T.
Here's how to reproduce on the pulsechain bridge test net.

- First you will need to get some RINKEBY test net eth from faucet https://rinkebyfaucet.com/
- Then you will need to add the pulsechain test net https://pulsechain.com/
- then get some test pulse from faucet https://faucet.v2b.testnet.pulsechain.com/
- Then use pulseCh

[2022-05-16 13:25] sime commented on #784
@KyleF0X Thanks for the detailed report. You need to disable safety checks here because you are signing a testnet transaction with a mainnet derivation path. Which is what your Trezor shows when disabling safety checks. Thus it is a 'forbidden key path'.

You can fix that by selecting 'Trezor testnets' in the hardware wallet connection UI of MetaMask.

Just note, in my experience you cannot have t

[2022-05-17 01:48] KyleF0X commented on #784
@sime
Thanks for the reply

 How would that be done? Would i need to re-enter my private recovery keys?

[2022-05-17 07:28] sime commented on #784
(for people watching this thread, this comment is off-topic)

No need to re-enter anything. You are changing the derivation path of the connected Trezor. The UI of MetaMask is confusing, to do this, you need to add a 'new' hardware device, but since you are using the same hardware wallet, it will _actually_ update the derivation path of the previously connected one.

[2022-05-27 18:54] sirloinfurr commented on #784
I'm having this issue with a specific dapp - lyra.finance on optimism network. I was able to sign a transaction on synthetic with my trezor and MM thru optimism. But when I jump into Lyra, the dapps loads very slowly, and the trezor connect pop up window crashes in 2 seconds. I grabbed the url in the popup, and entered it into a new tab, but that didn't get me anywhere

[2022-09-09 12:12] CaveRock commented on #520
I am having an issue with using trezor-connect to send a p2wsh multisig change output.
I have setup a repeatable example here:

[example](https://github.com/CaveRock/trezor-connect-p2wsh-multisig)

I have not been able to find any examples on how to use trezor connect to send a change output to a p2wsh 2of3 change address.

In my example above the change is instead being sent to a pay-to-witness-p

[2022-10-06 03:40] Mertz22 opened #1107 "Soluisi yang terbaik"
Soluisi yang terbaik

_Originally posted by @inbdra in https://github.com/trezor/python-mnemonic/issues/102#issuecomment-1265125228_

[2022-10-11 08:05] danny-molamola commented on #784
From what I observed, it occurred much more frequently on less powerful
machines.  When I tried to sign a transaction, from the activity monitor it
shows 100% CPU utilization when the Metamask is popping up.  If I wait for
around 10 sec to let the CPU go back down to a lower % before signing on
Metamask, often times the Trezor pop-up can show up after that with no
issue.

This issue has been aroun

[2022-10-11 08:31] sirloinfurr commented on #784
I've been thinking this is the problem as well.  I have an older pc (2016), and everytime the trezor/MM struggles to process, the laptop's fans **always** start whirling loudly.  so i do think it is a hardware issue as well.

[2022-10-24 16:00] Ncortesa commented on #918
I'm having the same issue. There is already some solution available?

[2022-10-24 16:04] sime commented on #918
It's being tracked here: https://github.com/trezor/trezor-suite/issues/6441

Ideally to be released in November.

[2022-11-07 06:27] VandM3i commented on #784
I think I've found solution , I've closed all of Chrome extension (only meatamask left) , and the trezor pop up window work fast and fine.

[2022-11-18 23:51] runatyr1 commented on #784
It looks what fixed it for me was resetting the USB device bus.

Using Linux Fedora, had to install usblib development and compile usb-reset (didn't work from the snap store)
[code]

From what I have seen in this page and my experience, this issue can happen in Windows, Linux, Firefox, Brave, Chrome. So it's OS independent and web browser independent. It looks like a low level OS issue with the US