[2018-11-22 15:04] MisterTicot commented on #267
Well ok then maybe you could just accept a transaction in trezorConnect.stellarSignTransaction() and make the necessary changes to it. Maybe this way you don't need to use any dependency.

By the way do you now about asynchronous  library loading? In https://cosmic.link I use it to load my Ledger library only when client ask for it. You don't have to d/l it when you don't use it.

I still wonder w

[2018-11-22 15:39] szymonlesisz commented on #267
those are the messages expected by Trezor device, StellarSdkTransaction object needs to be mapped into this format:
https://github.com/trezor/connect/blob/develop/src/js/types/trezor.js#L380-L494

About accepting Transaction object inside "signStellarTransaction" method.
We agreed that in needs to be converted to some json or any other simple format before it is sent via postMessage, right?
Now, t

[2018-11-22 15:40] szymonlesisz commented on #267
And, yes. Connect use lazy-loading. You will not download anything before you call some TrezorConnect method

[2018-11-22 15:54] MisterTicot commented on #267
Ok then, but this needs further specifications and bug fixes because not everything works as expected.

You still didn't told me what the device is signing exactly?

[2018-11-22 16:08] szymonlesisz commented on #267
I've pasted this fields 2 times already:
https://github.com/trezor/connect/blob/develop/src/js/types/trezor.js#L380-L494

those messages are converted to protobuf and sent via USB cable to the device.

[2018-11-22 16:17] MisterTicot commented on #267
Ok but that's what need to be signed: if I make no error what needs to be signed is a hash of the XDR object.

[2018-11-22 16:29] szymonlesisz commented on #267
I'm not sure what exactly you are asking about. Connect doesn't sign anything, it just pass some messages to the device in format expected by device. Trezor device cannot assume that everyone will use stellar-sdk therefore it cannot be third-party related, in fact it cannot assume that javascript will be used at all, you can also communicate with Trezor using python for example. That is why it has

[2018-11-22 16:34] MisterTicot commented on #267
My question is "what the device is signing exactly?" As in "Precisely, how do you generate the signature you send back?"

XDR is not JavaScript related, it's the binary format we use on the ledger. It's what suppose to be signed so I'm wondering how do you obtain valid signatures without it.

[2018-11-22 17:02] tsusanka commented on #267
Hi @MisterTicot,

on the firmware side we do actually use XDR. In other words, we serialize the transaction as required for the Stellar network and then sign it.

I haven't read your discussion thoroughly but maybe your question is, why Connect (or whatever) does not send XDR directly and Trezor would just sign it? That's because Trezor needs to understand the data it is sending to show visual con

[2018-11-22 17:03] tsusanka commented on #267
Also, @zuluCrypto is the author of Stellar for trezor one (and we wrote trezor t support based on that), so maybe they are able to provide more asistence on this.

[2018-11-22 17:33] MisterTicot commented on #267
@tsusanka Ok thank you that's what I was looking for.

[2018-11-22 19:07] MisterTicot commented on #267
@szymonlesisz @tsusanka

I'm willing to work a bit on a converter - is there a kind of debug mode or some way I can extract the XDR generated by the device? I'd like to run conversion test so we can have the big picture of the things to fix. I already have a test suite so it's a matter of integrating Trezor with it: https://cosmic.plus/web-cosmic-lib/debug.html

[2018-11-23 06:25] Ark-Chen commented on #262
I found the reason，
First, you should use xpub，not ypub or upub.
Second, The script_type of the outgoing address should be SPENDWITNESS not SPENDMULTISIG。
@szymonlesisz @prusnak Thank you for your help.

[2018-11-23 06:25] #262 closed, assigned to nobody

[2018-11-23 09:32] tsusanka commented on #267
That'd be great.

Yes the trezor-core has an emulator where you can use a debug mode (run with `PYOPT=0 ./emu.sh` after `make build_unix`) and then you can print the data into your console or do whatever.

The best way to procede however, would be to add some tests. The unit tests are located in [trezor-core repo](https://github.com/trezor/trezor-core/tree/master/tests), the device tests in [pytho

[2018-11-24 16:51] MisterTicot commented on #267
Ok, looks like I have everything I need. I'm not very familiar with Python, though. I think I'll take a day next week to dig into that and see were it goes :+1:

[2018-11-27 19:45] raucao opened #268 ""All backends are offline" for BTC testnet"
https://testnet-bitcore1.trezor.io/ is throwing a 403, so Trezor Connect v6 is currently broken with testnet for us.

The URL is defined here: https://github.com/trezor/connect/blob/cef618a43a6cda621684f5a9dab71e8a923a6a6d/src/data/coins.json#L66-L69

[2018-11-27 20:07] raucao commented on #268
And it's back. ¯\_(ツ)_/¯

[2018-11-27 20:07] #268 closed, assigned to nobody

[2018-11-28 03:53] qiluge opened #269 "Dose trezor support XRP/Ripple multi sign transaction?"
Hello, I want to know dose trezor support xrp multi sign?

[2018-11-28 04:59] dwarrier opened #270 "ECDH session key with JS API"
Hi,

 I would appreciate any help or advice for making ECDH encryption and decryption available in a Javascript Trezor API.

I'm interested in using the Trezor hardware wallet to provide an ECDH key for use with the Enigma project (a short description of the encryption process used in that project is [here](http://enigma.co/protocol/Appendix.html?#encryption), code is [here](https://github.com/eni

[2018-11-28 06:08] dwarrier commented on #270
Looks like the implementation of ECDH in the Trezor code [here](https://github.com/trezor/trezor-crypto/blob/f9523f97df2c965835001d551738bbe1b93b53df/ecdsa.c#L644) is different than the one in Enigma, since the Trezor code concatenates X and Y, and Enigma replaces Y based on whether it's even or odd.

Is the implementation in the Trezor API considered closer to the standard than the one used by En

[2018-11-29 11:40] tsusanka commented on #269
Not at the moment

[2018-11-29 13:06] tsusanka commented on #270
Hi,

ECDH is a key agreement protocol, so you do not use it for encryption per se, but you can derive a key which you then would then use for encryption.

The `get_ecdh_session_key` is currently used for [SSH/GPG support](https://github.com/romanz/trezor-agent), written by @romanz. It is basically tied to the project (though unfortunately it is in the "wallet" app space). That being said, it does

[2018-11-29 13:37] matejcik commented on #270
I mean, it would be technically possible to use Trezor as-is, but you'd have to do the encryption/decryption on the PC instead of inside Trezor itself. Hard to say if that's worth it.

I don't think there's a standard to be close to. Trezor's implementation seems to match what GPG does, you'd have to convert Trezor's representation to Enigma's in order to arrive at the same shared key, but that sh

[2018-11-29 14:01] lordcase opened #271 "trezor-connect using server url instead of trezor.io"
I am trying to replicate the stellar account viewer implementation of trezor-connect. However it keeps lookong for the popup at the originating server's URL.

What does this depend on? I have tried the window.TREZOR_POPUP_ORIGIN = 'https://connect.trezor.io' solution however vith version6 it doesnt seem to work.
I have no local trezor-connect version, I just want to use the official one. What does

[2018-11-29 14:58] szymonlesisz commented on #271
Hi @lordcase,
Connect is set to open popup from "connect.trezor.io" domain automatically, however if you want to use popup from different location you need to set
window.__TREZOR_CONNECT_SRC = 'http://xxxx';

note that v4 is not compatible with v5+

[2018-11-30 02:30] dwarrier commented on #270
Thank you both for your explanations and insight, and (in advance) for your patience.

 tsusanka, 

  Got it, I would like to have the Trezor return a derived key, which would then be used to encrypt data in the browser with Enigma’s encryption code.

I mentioned Connect because I saw that https://github.com/trezor/trezor.js would be deprecated, and I assumed I’d need to implement this in JS. If I

[2018-11-30 09:55] lordcase commented on #271
Thanks @szymonlesisz my mistake, it is working now perfectly!

[2018-11-30 09:55] #271 closed, assigned to nobody

[2018-11-30 10:28] piavgh commented on #181
@szymonlesisz : Today I have this problem with coin: "eth"
Anyone figured this out?

[2018-11-30 13:04] szymonlesisz commented on #181
getAccountInfo is designed for "bitcoin-like" coins only specified here, with "bitcoin" key: https://github.com/trezor/connect/blob/develop/src/data/coins.json
Ethereum methods are documented here:
https://github.com/trezor/connect/blob/develop/docs/methods.md#ethereum

However we are working on backends for Ethereum and soon there will be "ethereumGetAccountInfo" method available

[2018-11-30 16:11] matejcik commented on #270
I don't see why you would need to do that. What Trezor returns is: `0x04[32-byte X][32-byte Y]`. Just split the bytes and continue the calculation.

It certainly is a common practice, but that doesn't mean that it's secure ;)

But it really depends on your threat model. The issue here is that not only you expose the decrypted content to your browser, but you also expose the encryption key. Given t

[2018-12-01 01:53] dwarrier commented on #270
Got it, thanks. If there's already a python implementation for this, it seems fairly straightforward to port that to JS.

This is a great point, I overlooked that the derived key would be non-ephemeral, and therefore very risky to expose. I think I misunderstood the [Enigma docs](http://enigma.co/protocol/Appendix.html?#encryption), because the use of a non-ephemeral symmetric key sounds bad. It w

[2018-12-02 23:11] lordcase opened #273 "Stellar Change Trust-type transactions fail, missing destination"
I have managed to make signing transactions work, but only if it's a send type transaction.
If I want to create change trust type (to accept a certain kind of asset, for example) I get an ""Invalid destination account" error.
Which is a problem, as these transactions do not need a destination address, as far as I know.
I have tried passing the source address as destination, but that does not work

[2018-12-03 13:30] prusnak commented on #273
cc @tsusanka

[2018-12-03 13:31] prusnak commented on #273
Maybe a duplicate of https://github.com/trezor/trezor-core/issues/421

[2018-12-03 13:35] lordcase commented on #273
Thanks @prusnak, it very well might be a duplicate.
In the other issue I have not seen mentioned that sending to trezor without destination already produces an error, that might be extra info that can help (or it can be a separate issue).
Did not think to look under Core, thx!

[2018-12-03 15:28] matejcik commented on #270
I suspect we're getting confused. At least I am :)
Trezor is a device for managing long-lived private keys. I don't think there's any advantage to using it for an ephemeral DH exchange: your attacker doesn't need the private key for anything, if they can steal the session key (which you _are_ exporting), they're done. So you could as well run the whole exchange on the PC.

What you could do is _si

[2018-12-03 15:35] matejcik commented on #270
hmm, I think I know what you are getting at - like, Trezor would hold a static "receiving key" and the counterparty would generate an ephemeral "sending key"? I suppose that could work (that's what NaCl does IIRC). But in that case Trezor is just doing the ECDH computation. It doesn't depend on your choice of KDFs, you're getting raw data out, it's up to you how you process them further.

[2018-12-03 15:57] tsusanka commented on #273
I think this is probably a Connect's issue, because firmware does not require destination in the `StellarChangeTrustOp`.

[2018-12-03 16:20] szymonlesisz commented on #273
Im pretty sure that there is no validation of transaction fields inside connect. And it doesn't send "destination" field in this type of tx. See here:
https://github.com/trezor/connect/blob/develop/src/js/core/methods/helpers/stellarSignTx.js#L160-L166

Connect does some params type validation before, but every error begins with "Invalid params: ...." string

[2018-12-03 18:57] tsusanka commented on #273
Hm I'll have another look then. @lordcase could you confirm this is a firmware error? Connect should say so.

Also you could you provide the exact input you're using? Or even more details how you are testing this? In other words, the more info you give the more I appreciate it :)

[2018-12-04 00:05] lordcase commented on #273
Ok, so first of all, the error payload i get is:
error: "Invalid destination account",
code: "Failure_ProcessError"

[2018-12-04 00:11] lordcase commented on #273
Our project is adding trezor support to the stellarterm app. I have managed to insert the login and sign functions successfully sofar.
Otherwise the app functions perfectly, if I use keypairs manually or use a ledger. But trezor support would be nice.
We have forked the app, you can find our version at https://stellarfish.org/ but the version with trezor support is only available on test.
I will t

[2018-12-04 02:56] garysen opened #276 "BTC Transaction more utxos"
Sometimes there is an extreme case, when a transaction (BTC) contains
multiple UTXO (say 500 UTXOS), the hardware needs a long time to complete the
signature, and sometimes even cannot be signed successfully. What is the
optimization scheme? Thanks!

[2018-12-04 04:35] piavgh opened #277 "ethereumGetAddress returns address of incorrect path"
This is the code for getAddress() function:

[code]

For my case, it returns `0x38239D328e43d476e50673b23125f25f7f03a7D0`, but this address is corresponding to path `m/44'/60'/0'`, NOT the path `m/44'/60'/0'/0` that is in my code (the correct value should be `0xa2E4a0DCb8137cB2e178e1Dd881C5aB3171C3b62`)

This causes the signTransaction method to be wrong also.

[2018-12-04 05:59] dwarrier commented on #270
I apologize for the confusion matejcik, I'm not as familiar with Enigma's encryption process as I should be. I'll get a better handle on how (or if) Enigma expects the derived key to be ephemeral. Your responses so far have been very helpful for my own understanding, I appreciate your help in sorting this out.

I may be confused as to how Trezor uses a KDF. From Trezor's perspective, is a KDF only

[2018-12-04 08:44] tsusanka opened #278 "Validate Stellar amounts are integers"
Since we use [stroops](https://www.stellar.org/developers/guides/concepts/assets.html#one-stroop-multiple-stroops) instead of lumens, we should validate amounts are in integers.

See https://github.com/trezor/trezor-core/issues/421#issuecomment-444018131 for more info.

[2018-12-04 08:56] tsusanka commented on #273
@lordcase Trezor One or Trezor T?

[2018-12-04 09:03] lordcase commented on #273
I'm using an One for testing

Tomas Susanka <notifications@github.com> ezt írta (időpont: 2018. dec. 4.,
K, 9:56):

[2018-12-04 09:06] tsusanka commented on #273
Aren't you calling CreateAccountOp before the ChangeTrustOp by any chance?

[2018-12-04 09:06] tsusanka commented on #273
(For reference: this might be connected to https://github.com/trezor/trezor-mcu/commit/b51f995da747a0630ae6eb298a0d0be3b5e05b08 )

[2018-12-04 09:19] #269 closed, assigned to nobody

[2018-12-04 09:25] lordcase commented on #273
No, actually looking at the code the only function that is being called
is stellarSignTransaction. The only difference is the parameters being
passed to it.

Tomas Susanka <notifications@github.com> ezt írta (időpont: 2018. dec. 4.,
K, 10:06):

[2018-12-04 09:32] tsusanka commented on #273
I mean if by any chance you're using more operations than one and one of them is ChangeTrust (or any other actually).

[2018-12-04 09:36] lordcase commented on #273
In this operation, no.

What happens is I log the user in (which is successful), and then in a
completely separate step I try to do the ChangeTrust operation.

There is one single call to TrezorConnect, which fails with the above error
without a destionation address in operations[0], succeeds with the source
address but then fails at another level (i suspect at the stellar network)

Tomas Susanka

[2018-12-04 12:45] matejcik commented on #270
Ah, I think you confuse what Enigma calls "KDF" with Trezor's deterministic key derivation.
I'm somewhat sure that Enigma means KDF as a diffuser. As in, take the elliptic curve point you get from ECDH, feed it through a couple rounds of hashing so that all properties of the original elliptic point are lost, and get out a suitable symmetric key.

Trezor OTOH is concerned with deriving keys determi

[2018-12-06 05:53] 0GCRYPT0 commented on #277
Hi piavgh,
I believe that the address that you get returned is an Ethereum address generated from a private key derived from the combination of the path's private key and some salt from your trezor. If you're having difficulties sending ETH, you should try the new Ethereum wallet on beta-wallet.trezor.io it's pretty slick. Not sure if it's on the main channel yet.

Hope that helps you.

[2018-12-06 06:10] dwarrier commented on #270
Thank you for pointing this out. I came across https://wiki.openssl.org/index.php/Elliptic_Curve_Diffie_Hellman and what you're saying makes sense. The Enigma docs were probably referring to the common practice of using a KDF with the output of ECDH.

I think I see-- so you're saying that if the session key is exposed to an attacker, it doesn't matter that the private key was hidden and held on th

[2018-12-06 12:49] matejcik commented on #270
The point of an ephemeral key is that it is not recoverable. Typically it should be short-lived, erased immediately after an encrypted exchange is over. In some usecases ephemeral keys are stored for later use, but erased as soon as that "later use" happens. This gives you forward secrecy - a compromise after-the-fact won't find any old keys.

You certainly _can_ derive ephemeral keys deterministi

[2018-12-07 03:09] dwarrier commented on #270
This is helpful, I appreciate the explanation.

Sure! Thank you for your patience and thorough responses, matejcik. I learned quite a bit from this conversation, I hope this helps others if they have similar questions.

[2018-12-07 03:09] #270 closed, assigned to nobody

[2018-12-07 05:51] shinsuny opened #282 "about cardanoSignTransaction"
Was just curious why `network` is not here in code but docs has

https://github.com/trezor/connect/blob/1e6d7ffc53fe189335a570fd45febf9623ff695c/src/js/types/cardano.js#L72

https://github.com/trezor/connect/blob/develop/docs/methods/cardanoSignTransaction.md

[2018-12-09 20:35] okipol88 opened #283 "XRP - ripple, unable to input destination tag"
Hello,

I don't see an option to input a destination tag for XRP transaction.
Is it missing? It is pretty crucial to identify a transaction in case of exchanges.

[2018-12-11 16:31] #265 closed, assigned to nobody

[2018-12-11 16:32] prusnak commented on #278
Fixed via https://github.com/trezor/connect/pull/279

[2018-12-11 16:32] #278 closed, assigned to nobody

[2018-12-11 17:19] #282 closed, assigned to nobody

[2018-12-11 17:19] szymonlesisz commented on #282
fixed, thanks!

[2018-12-11 17:21] szymonlesisz commented on #259
I've added TrezorConnect.cancel(); method which will interrupt currently running process and close the popup.
Will be released as 6.0.3 soon

[2018-12-11 17:21] #259 closed, assigned to nobody

[2018-12-11 17:30] szymonlesisz commented on #283
Looks like it's missing in firmware, there is no "destination" field except for `msg.payment.destination` which is a receiver address.
Please move your issue to https://github.com/trezor/trezor-core/issues

[2018-12-11 17:30] #283 closed, assigned to nobody

[2018-12-11 17:31] #264 closed, assigned to nobody

[2018-12-11 18:38] federicobond commented on #259
Awesome, thanks!

[2018-12-12 07:49] shinsuny opened #288 "TrezorConnect.on(DEVICE_EVENT) not working"
Have followed steps as described here (using ES6):
https://github.com/trezor/connect/blob/develop/docs/events.md

`DEVICE_EVENT` never got fired.
Tried to plug and unplug the device multiple times.

Using:
[code]
https://www.npmjs.com/package/trezor-connect : 6.0.2

do I need to initialize something?

[2018-12-14 13:27] MisterTicot commented on #267
It turned out I'll have no time to dig into that. I'll still be happy to provide the test case and review the progress, though.

[2018-12-18 16:13] werner opened #289 "Can't broadcast Bitcoin Gold transaction"
Hi, I can't manage to propagate a bitcoin gold transaction signed with Trezor.

I'm creating the transaction like this:

[code]

I have the next serializedTx hex:
[code]

When I try to broadcast it, I got:
`An error occured:
16: mandatory-script-verify-flag-failed (Script evaluated without error but finished with a false/empty top stack element). Code:-26`

Thanks.

[2018-12-18 19:18] werner commented on #289
I figured it out, was trying to sign a non segwit address as a segwit one.

[2018-12-18 19:18] #289 closed, assigned to nobody

[2018-12-18 20:31] tynes commented on #288
I am having a similar issue. It says in the docs, `Once user grants permission for hosting page to communicate with API TrezorConnect will emits events about device state.`

Looking for more information about letting the user grant permission

[2018-12-18 20:51] tynes commented on #288
After looking at the source code, I've noticed that you should call

[code]

to add the event listener to the window. The problem comes here:

https://github.com/trezor/connect/blob/develop/src/js/index.js#L41

`// ignore messages from domain other then iframe origin`

I wanted to use this outside of the iframe because I just want to use the trezor device without the iframe at all. Its a bit confu

[2018-12-19 09:28] tsusanka commented on #283
Will do in https://github.com/trezor/trezor-core/issues/443

[2018-12-19 09:53] szymonlesisz commented on #288
DEVICE_EVENT should be emitted only(!) after user grants permissions to this site inside TrezorConnect popup window.
You don't want some random site to sniffing around your device without your knowledge, right?

@tynes, If you want to use Trezor without TrezorConnect iframe i'm afraid you will need to prepare some custom code for your own purposes. We do not support custom hosts for TrezorConnect.

[2018-12-19 21:09] tynes commented on #288
@szymonlesisz Thank you for the response! I'm working on an application that is built on top of the bcoin wallet.  I'd like to:

1 - Import pubkeys from a trezor device to create watch only wallets
2 - Use bcoin to build transactions
3 - Sign the transactions using the trezor
4 - Submit the raw tx to bcoin

I started building with `trezor.js` but saw the deprecation warning. I also understand that

[2018-12-20 21:23] tynes opened #290 "TrezorConnect without Bitcore"
Is it possible to sign transactions locally in the browser without fetching data from Bitcore?

Here it creates a backend:
https://github.com/trezor/connect/blob/develop/src/js/core/methods/SignTransaction.js#L102

Does this mean I should be using `trezor.js`?

[2019-01-02 14:53] szymonlesisz commented on #290
To sign a non-segwit transaction you also need to know a input transaction hash. That is why there is a required connection to backend to fetch those data.
`trezor.js` will do the same. There is no possibility to sign this type of transaction in offline mode (yet)
However we could probably add another field to "signTransaction" method where you could put those referenced transactions in expected f

[2019-01-02 15:03] szymonlesisz commented on #288
I don't se a reason why not to.
I'm aware that opening new tab could breaks your UX, but think about the users. They don't want to (or at least they shouldn't to) put their sensitive data (like passphrase) into some untrusted 3rd party applications, that is why we ask for it in isolated environment served from `trezor.io` domain

[2019-01-02 15:11] szymonlesisz commented on #277
You default path is missing an address index. So it should looks like "m/44'/60'/0'/0/0"
Read more here: https://github.com/trezor/trezor-core/tree/master/docs/coins

[2019-01-02 15:11] #277 closed, assigned to nobody

[2019-01-07 09:25] #261 closed, assigned to nobody

[2019-01-07 14:44] vladimirvolek opened #292 "Better acquire error description in bootloader mode"
![50725161-ac972b00-10f9-11e9-9605-fcf728273aa6](https://user-images.githubusercontent.com/3112191/50774184-1434ae00-1293-11e9-96d6-70609bb2b3c8.png)

[2019-01-07 22:39] reqlez commented on #258
Is this related to the issue I'm having with the new Trezor Account Viewer ??? https://github.com/trezor/stellar-account-viewer/issues/2

[2019-01-07 22:43] istrau2 commented on #258
@reqlez This issue is closed and moved here: https://github.com/trezor/trezor-core/issues/421

[2019-01-08 10:37] szymonlesisz opened #293 "Add labeling module"

[2019-01-08 10:37] szymonlesisz opened #294 "Add permission manifest"

[2019-01-08 10:38] szymonlesisz opened #295 "Add fw rollout module"

[2019-01-08 11:35] vladimirvolek opened #296 "Run tests with emulator and bridge in CI"

[2019-01-09 09:21] SebastienGllmt opened #297 "Flow: string literal window.close [1] is incompatible with object type [2]."
If somebody uses `trezor-connect` in their node project with `flow-bin 0.86.0` you will get the error

```string literal window.close [1] is incompatible with object type [2].``` [here](https://github.com/trezor/connect/blob/5899a7f03741a00be933e7a1e4c0894bf88b081d/src/js/popup/PopupManager.js#L205)

[2019-01-10 22:28] tynes commented on #290
Thank you for the response. This functionality would be very useful to our application as it would allow for airgapped signing + privacy. We are using the bcoin wallet as a backend and have all of the information required locally to do the signing. We could map the data into the correct format required for the trezor. I am open to chatting some more as I believe this is a very important feature. I

[2019-01-15 19:14] werner opened #300 "Can't sign Bch transaction with custom path"
I generate an address using an xpub for bitcoin cash with this path: `m/49'/0'/0'/0/0/145/0/0`. The address is `qrq8s6u93hyt0n7re93jekk43f30v68qtg2qeljm5r`.

I tried to sign a transaction, but it always fails with this generic error: `Failed to compile output`.

Is it possible to sign the transaction?.

The transaction I'm trying to sign is:

[code]

Thanks.

[2019-01-16 09:24] prusnak commented on #300
You are using the wrong output address. It is missing the "bitcoincash:" prefix, the correct value is "bitcoincash:qp48agdrqxrru8wlszugulwhrj7epn3jz5dcc2c23c"

[2019-01-16 09:24] #300 closed, assigned to nobody

[2019-01-16 13:13] werner commented on #300
Worked as expected, thanks

[2019-01-18 05:18] federicobond opened #301 "Add TypeScript type definitions"
TypeScript has gained a lot of traction lately and it would be great to bundle some type definitions for it in this library. The API surface is pretty big though and it's likely I will get some of the details wrong. We already have some types we are using internally at Muun for our Web integration, which I could cleanup and contribute here.

Is this something you would be interested in supporting?

[2019-01-18 14:02] tsusanka opened #302 "Correctly work with numbers larger then 2^53"
Unfortunately, some coins use integers larger than 2^53 - 1, where the precision can get [lost](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER) during operations, because the integer does not fit in the IEEE-754 floating point standard ([more info](https://stackoverflow.com/questions/1848700/biggest-integer-that-can-be-stored-in-a-double)).

[2019-01-19 13:33] federicobond commented on #301
I submitted some type definitions for common and Bitcoin-related methods to DefinitelyTyped: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/32308

[2019-01-25 12:49] refi93 commented on #302
this affects also Cardano: https://github.com/trezor/connect/blob/5d843d41d40e9b6d20bd50da95420b3be700a7a4/src/js/core/methods/CardanoSignTransaction.js

https://cardanodocs.com/technical/protocols/binary-protocols/#basic-cardano-sl-data-types (max coin supply needs 56 bits to represent)

[2019-01-26 15:33] vladimirvolek commented on #295
https://github.com/trezor/trezor-rollout

[2019-01-30 09:29] yahyameo opened #310 "How to update firmware?"

[2019-01-30 10:32] szymonlesisz commented on #310
you can find this information in our wiki:
https://wiki.trezor.io/User_manual:Updating_the_Trezor_device_firmware

[2019-01-30 10:32] #310 closed, assigned to nobody

[2019-01-30 20:09] mralbertchen opened #311 "(Multi-sig) External addresses no xpub?"
From reading the documentation and perusing the repo I've discovered that the multisig param as specified in MultisigRedeemScriptType must have an array of { node, address_n } which I understand to be master xpub and derivation path. This makes sense for trezor wallets, but what if I have a multi-sig address with non-HD-wallets as other signers? Is there a way to just simply pass the public key? F

[2019-01-30 20:11] prusnak commented on #311
You can always generate XPUB (node) from the public key and use empty address path.

[2019-01-30 20:11] #311 closed, assigned to nobody

[2019-01-31 10:00] Ark-Chen opened #313 "LTC TEST Tx not found"
I signed ltctest in a similar way to btctest，return "Tx not found, txid 9501a8d9e76deef2e8a379538d11f5f7f813bffae2d3fbf7de0cbbf79c8a0a52: -5: No such mempool or blockchain transaction. Use gettransaction for wallet transactions."

I made a lot of attempts, but I don't know where the problem is.
Can you help me give me some tips?
Looking forward to your reply

[2019-01-31 10:07] Ark-Chen commented on #313
TrezorConnect.setCurrency('TEST');

/*
{
	accountDiscoveryBip44CoinType: null,
	accountDiscoveryGapLength: null,
	accountDiscoveryLimit: null,
	bitcoreURLS: null,
	coin: undefined,
	coinInfoURL: null,
	currency: "TEST",
	currencyUnits: null,
	inputs: {
		0: {
			address_n: (5) [-2147483604, -2147483646, -2147483648, 0, 1]
			amount: 100000000
			multisig: {pubkeys: Array(2), signatures: Array(2),

[2019-01-31 14:04] szymonlesisz commented on #313
Hi @Chappell-C ,
From the syntax it looks like you are using old version of connect (4 or below) which is not maintained.
Normally i would recommend you to use version 6 but unfortunately connect doesn't support Litecoin Testnet neither in newest or older versions. We just don't have any Litecoin testnet backends to work with.

TEST coin is used bitcoin testnet network only with bitcoin testnet ba

[2019-01-31 14:04] #313 closed, assigned to nobody

[2019-02-01 02:47] KevinBaiSg commented on #288
Hi @tynes, have you solved this problem?

[2019-02-01 02:55] Ark-Chen commented on #313
@szymonlesisz Thank you very much

[2019-02-01 03:40] KevinBaiSg commented on #288
Hi @szymonlesisz
I want to use the "trezor-connect" in my project, but my project is electron application, it seems it is not compatible, as popup\iframe window flow does not succeed. Can I remove the "iframe"? Do you have another suggestion?

[2019-02-03 15:26] mralbertchen opened #314 "Multisig error: Requested unknown tx"
Hello, I've created a test multisig transaction, below is the code:

[code]

This is giving this error:
[code]

Did some digging and found that the error is thrown here: https://github.com/trezor/connect/blob/4ef73565866868cca5d3653d43d3d5e98e7246c7/src/js/core/methods/helpers/signtx.js#L104

I see that this looks up a map of transactions (index parameter) by hash to refTransaction object, which i

[2019-02-03 16:27] mralbertchen commented on #314
Thanks for the quick response. If you check the bottom, I did this ```TrezorConnect.signTransaction({
  inputs,
  outputs,
  coin: "test"
}).then(console.log)```

Is this correct?

[2019-02-03 16:44] prusnak commented on #314
Yes, i haven't noticed that at first. That's why I reopened the issue and erased my comment.

[2019-02-03 19:22] mralbertchen commented on #314
Ahh. Ok.

I did some more digging. It looks like there was a similar bug here: https://github.com/trezor/connect/issues/203#issuecomment-418127800

I did notice that Trezor Connect is also throwing an error `error:"Invalid parameters: Input amount not set"` when I omit the input amounts, but from reading the docs, this should only be necessary when using a Segwit utxo? So could my transaction be m

[2019-02-04 08:22] szymonlesisz commented on #314
Hi @mralbertchen,
Connect is validating your inputs as segwit, because you are using segwit paths/address_n instead of multisig path/address_n which should start with 48 [or hardended 2147483696: (48 | 0x80000000) >>> 0]

[2019-02-04 17:50] mralbertchen commented on #314
Thank you! That was what the problem was.

Quick question before I close this issue: when I do want to move towards Segwit, does this mean I still pass in the same script_type 'SPENDMULTISIG' to the TransactionInput? I see that there's  'PAYTOWITNESS' and 'PAYTOP2SHWITNESS' too but I assume those are the native segwit and p2sh-wrapped flavors of a P2PKH input. Lastly, for multi-sig segwit, is ther

[2019-02-04 19:08] ssalaberry opened #315 "Firmware of connected device is too old"
A few hours ago, TREZOR stopped working. When connected to version 4 of trezor connect, it throws an exception of **Firmware of connected device is too old**.

We are using the following script https://connect.trezor.io/4/connect.js

Any help would be appreciated

[2019-02-05 04:21] KevinBaiSg commented on #245
Thanks, @prusnak , When can I use it supported electron? Because I want to develop a demo application for my teams this month. I have to decide to use trezor.js or connect for the time being. Do you have a demo use trezor.js?

[2019-02-05 09:54] szymonlesisz commented on #315
Whats you FW version? Btw you should consider to update connect to newest version (6)

[2019-02-05 13:33] ssalaberry commented on #315
After update the firmware, the device started working porperly. Yes @szymonlesisz , we have created a task in my project to do that. Thanks.

Can close this issue.

[2019-02-05 13:34] #315 closed, assigned to nobody

[2019-02-06 01:17] KevinBaiSg opened #317 "How to get best prev_hash of inputs when call bitcion signTransaction?"

[2019-02-06 09:59] #317 closed, assigned to nobody

[2019-02-16 23:20] lutsifer opened #329 "myetherwallet with ATH"
First i wish to apologize if this is not the right repo to post this problem, but I can't be sure where to put it actually.
I am trying to send ATH using myetherwallet, when I confirm sending operation from my trezor model one it throws error:

`{"exception":{"values":[{"type":"TypeError","value":"Invalid hex string","stacktrace":{"frames":[{"colno":268959,"filename":"https://www.myetherwallet.com

[2019-02-17 10:03] prusnak commented on #329
Use our next wallet: https://beta-wallet.trezor.io/next/

[2019-02-17 10:03] #329 closed, assigned to nobody

[2019-02-17 19:29] lutsifer commented on #329
:) right away after you add an option to use alternative ethash coins. I was trying to send ATH.

[2019-02-21 01:28] jjgonecrypto commented on #248
Any update on this @szymonlesisz ?

[2019-02-22 12:24] mroz22 opened #332 "To be installed firmware version in DEVICE_EVENT"
Feature request:

Currently DEVICE_EVENT shows only information about outdated firmware `firmware: "outdated"`.

It would be nice to have also information about the newest version that should be installed. Just like TRANSPORT_EVENT provides about bridge version.

[2019-02-26 14:23] szymonlesisz commented on #332
added.

device object has now "firmwareRelease" field

[2019-02-26 14:23] #332 closed, assigned to nobody

[2019-02-27 18:08] szymonlesisz opened #340 "Moved from trezor-link: Unhandled WebUsb Error: LowLevelTransportWithSharedConnections.call Error: Device released or disconnected"
https://github.com/trezor/trezor-link/issues/17

[2019-03-01 05:26] andrewsource147 opened #344 "TypeError: Cannot read property 'email' of null"
When I update the newest version of trezor-connect, I got error when trying to connect trezor in my DAPP.
[code]

After comment manifest.email  and manifest.appUrl it worked.
![screen shot 2019-03-01 at 12 25 42 pm](https://user-images.githubusercontent.com/31321699/53618287-47eddd80-3c1d-11e9-9120-d54978b31a57.png)

[2019-03-01 05:40] andrewsource147 commented on #344
Sorry my bad. I cannot reproduce this issue now, maybe it conflicts with one of my chrome extensions.

[2019-03-01 05:40] #344 closed, assigned to nobody

[2019-03-01 08:24] szymonlesisz commented on #344
Did you set your `TrezorConnect.manifest`?
We've added a new required method in which we would like you to provide a contact to reach you in case of any required maintenance.
you can read more here:
https://github.com/trezor/connect/blob/develop/docs/index.md#trezor-connect-manifest

[2019-03-01 11:30] mroz22 commented on #295
Probably part of this issue

I have device with erased firmware but bootloader 1.8.0 (the same version number as the latest firmware). Connect reports such device's firware as `valid`. Should't it say something like `uninstalled` ?

[2019-03-01 14:04] andrewsource147 commented on #344
Thank you, will add that!

On Fri, Mar 1, 2019 at 3:24 PM Szymon Lesisz <notifications@github.com>
wrote:

[2019-03-02 09:33] yuriygeorge opened #345 "Trezor Connect JS Produces DIfferent Signature Than Python Trezor Lib"
Bitcoin Testnet

When I use the Python Trezor to generate a signature, I get this:
[code]

But when I use Trezor Connect, I get something else:
[code]

I need to be able to generate the same signature using both libraries.

I notice the Python library has some additional parameters - prev_txes, but trezor-connect does not.

[code]
Other than the prev_txes parameters, the parameters I send to JS-Co

[2019-03-03 12:41] prusnak commented on #345
Show me the Python code you use to call `trezorlib.btc.sign_tx`

[2019-03-04 08:51] yuriygeorge commented on #345
Thanks for your reply.

inside the btc.py file of the trezorlib python library, this function is called (by electrum) as:

[code]

with the following parameters

client: <trezorlib.client.TrezorClient object at 0x7fbc0c7ce7f0> with transport[ bridge:lib02]

coin_name: 'Testnet'

inputs: List of a single TxInputType object:
[code]

outputs: List of a single TxOutputType object:
[code]
details: Sign

[2019-03-04 09:23] szymonlesisz commented on #345
I will investigate this.
BTW, is there any particular reason why are you not using correct address_n? (it should have 5 places, and testnet should have values: `[ 2147483693, 2147483649, 2147483648, 0, 0 ]`

[2019-03-04 09:25] prusnak commented on #345
@szymonlesisz they are using multisig

[2019-03-04 09:49] szymonlesisz commented on #345
I am aware that's not the reason of this bug, i'm just curious :)
My second question is: which version of TrezorConnect are you using?

[2019-03-04 10:23] prusnak commented on #345
maybe @matejcik can also help?

[2019-03-04 10:24] yuriygeorge commented on #345
I am just using the standard:
[code]
and when the popup happens, it loads:
https://connect.trezor.io/6/popup.html#loading

So, I'm guessing version 6.

Interestingly enough, when I try to run the Trezor Connect on localhost:8082, pointing to the v6 branch, (and then setting window.__TREZOR_CONNECT_SRC = 'https://localhost:8088/'), I get
"Encountered invalid prev_hash"
but when I point my applicati

[2019-03-04 10:28] szymonlesisz commented on #345
could you try to upgrade to 7.0.1 ? (by setting window.__TREZOR_CONNECT_SRC = 'https://connect.trezor.io/7/')

[2019-03-04 10:41] yuriygeorge commented on #345
Sure, when setting window.__TREZOR_CONNECT_SRC = 'https://connect.trezor.io/7/', the trezor screen loads the "Confirm path - Path m/45'/0/0/0 is unknown Are you sure? Yes | No" I click yes (green checkmark), and then it fails, returning the error:

Encountered invalid prev_hash

When I run the original version 6 (https://connect.trezor.io/6), interestingly enough, it does sign however, as describe

[2019-03-04 10:43] yuriygeorge commented on #345
Regarding your question - is there any particular reason why are you not using correct address_n?

I'm not really sure, but I model the address_n from the Electrum's project. For testnet, and legacy (non-segwit) p2sh multi-sig, it choses this derivation path: m/45'/0, which I believe translates to the address_n above: [2147483693, 0, 0, 0]

[2019-03-04 10:50] szymonlesisz commented on #345
Ok, i think i've find the issue.
I think the reason will be the `locktime` field. Connect 6 ignore this parameter and doesn't send it to device. That's why your signature is different. It was added since connect 7.

Could you confirm that by signing your transaction using connect@6 and python-trezor without `locktime` ?

[2019-03-04 10:50] szymonlesisz commented on #345
Now i will have a look on `Encountered invalid prev_hash` issue

[2019-03-04 11:06] prusnak commented on #345
@szymonlesisz if you don't send `locktime` while streaming prevhash transactions this will also be the cause for `Encountered invalid prev_hash` issue (the prevhash tx in the above example has locktime set to non-default value)

[2019-03-04 11:25] yuriygeorge commented on #345
Electrum automatically sets the locktime parameter to the current block I believe, but I hardcoded it so it did not pass the locktime to Trezorlib (i.e., setting it to None), which yielded this signature:
[code]
Trezor connect@6 yielded this signature:
[code]
Still different. (The connect@6 library yielded the same signature the whole time, as above). Will play around some more.

I used these para

[2019-03-04 16:10] szymonlesisz commented on #345
@yuriygeorge could you try it again with connect@7?

[2019-03-04 16:38] yuriygeorge commented on #345
Nice, I'm no longer getting the invalid prevhash error, but the signatures are still different.
connect@7 inputs:
[code]

Response from connect @ 7:
signature:
[code]
serializedTx:
[code]

For Electrum's python trezorlib:
signature:
[code]
serializedTx:
[code]

Oddly enough, the serializedTx output looks almost identical, except for the 2nd digit.
Also, I noticed that for Connect @ 7, the signatur

[2019-03-04 16:54] szymonlesisz commented on #345
i've decoded your serializedTx using: https://live.blockcypher.com/btc/decodetx/ and noticed that input sequence differs:
in connect@7 `4294967294` in electrum `4294967293`

[2019-03-04 16:58] szymonlesisz commented on #345
and maybe signature sizes are different because electrum adds another field: `opt_in_rbf: true`

[2019-03-04 17:00] matejcik commented on #345
The first byte is tx version. Does Connect also ignore the `version` field?

[2019-03-04 17:04] matejcik commented on #345
also `opt_in_rbf` is caused by the sequence number being 0xFFFFFFFD (which is strictly less than 0xFFFFFFFE per [BIP-125](https://github.com/bitcoin/bips/blob/master/bip-0125.mediawiki)). Shouldn't Connect also be setting that value?

[2019-03-04 17:17] yuriygeorge commented on #345
Yes, I see now that Electrum subtracts 1 from the sequence:
[code]
However, when I set sequence in Connect to match Python's (4294967293), I still get different signature:

connect@7 signature:
[code]
connect@7 serializedTx:
[code]
python sig/serializedTx:
[code]
I notice that Connect uses:
[code]
but Python uses
[code]

Electrum/python-trezorlib uses version 2 transactions, but Connect uses versi

[2019-03-04 17:24] matejcik commented on #345
Python uses version 2 because you're specifying version 2 somewhere - see your `SignTx` object.
That might be Electrum's default? Trezor's built-in default is 1, which is what Connect seems to use.

[2019-03-04 17:28] yuriygeorge commented on #345
Still, even when I change electrum's code to hardcode version 1, python returns this signature:
[code]

and serializedTx (which when loaded into https://live.blockcypher.com/btc/decodetx/ shows ver:1):
[code]

[2019-03-04 17:31] matejcik commented on #345
@yuriygeorge your sequence numbers on the input are still different. note that in your connectv7 example you listed 429496729**4**, and in your python example you listed 429496729**3**

[2019-03-04 17:34] yuriygeorge commented on #345
@matejcik you might be looking at an older post. I did re-run connectv7 with 429467293 (in a post above, quoted below), and the serializedTx then does then translate to the 4294967293 sequence when inserting it into https://live.blockcypher.com/btc/decodetx/:

[2019-03-04 17:40] szymonlesisz commented on #345
now, if you compare both signatures the only difference is in:

connect
[code]

electrum
[code]

which imho is legit

[2019-03-04 17:42] szymonlesisz commented on #345
i'm just adding new, optional field `version` to connect where you can explicitly set it to whatever you want

[2019-03-04 17:51] yuriygeorge commented on #345
That would be great!
Hardcoding electrum/python-trezor-lib to use version 1 doesn't seem to work. It may return the exact same serializedTx as connectv7, but when I go to update the new signature, the electrum code fails to locate the matching public key from the signature:

[code]

I'm hoping that if I set ver:2 in trezor connect explicitly, then it will work.

[2019-03-04 18:58] szymonlesisz commented on #345
Ok, so i've created a new branch for this fix:
https://github.com/trezor/connect/tree/fix/signTx-missing-params

@yuriygeorge could you test it locally if it solves this issue before we put it in production?

just add `"version": 2` to the params

[2019-03-04 19:00] yuriygeorge commented on #345
Will do

[2019-03-04 19:20] yuriygeorge commented on #345
It works! Same signature produced:
[code]
and confirmed that it works with Electrum, too. So, I guess the version number seemed to be the culprit!

Thank you very much!

[2019-03-04 20:03] szymonlesisz commented on #345
Great, thanks for for cooperation!

[2019-03-04 20:03] #345 closed, assigned to nobody

[2019-03-06 21:02] j-mikhail opened #349 "Issue with NEM Trezor Wallet"
Hello, I am having trouble getting the NEM Universal Client with Trezor Support v2.4.2 to connect to the Trezor servers. When I click on the Next button, and the Trezor Connect popup appears, it appears to hang at "Loading..."

Examining the debug console, I see this odd message:
[code]

Not sure what to make of that. Thoughts?

[2019-03-06 21:38] prusnak commented on #349
I suggest opening the issue in the NEM client repository.

[2019-03-07 10:32] shinsuny opened #350 "cardanoSignTransaction API params"
Found little bit inconsistency in `inputs` [parameter](https://github.com/trezor/connect/blob/develop/docs/methods/cardanoSignTransaction.md#params).

In [types](https://github.com/trezor/connect/blob/65b4a064125e5e65fb5010b0fd0b43a75d06238d/src/js/types/cardano.js#L58) :
[code]

but actual validation is done some [different parameter name](https://github.com/trezor/connect/blob/65b4a064125e5e65fb

[2019-03-07 10:59] szymonlesisz commented on #350
i will fix that, thanks!

[2019-03-07 15:16] yuriygeorge opened #351 "Need to Be Able to Pass Prev-Tx Parameter to Trezor Connect Similar to Python Trezorlib"
I notice that the python trezorlib library has ability to override/and pass your own prev_txes data structure for non-segwit transactions into the signTransaction method.

I really really need this in Trezor Connect JS version, too. The reason why is that I pre-generate a dependent transaction, that is used as an input into the transaction I sign with the Trezor. However, this pre-generated transa

[2019-03-07 20:35] szymonlesisz commented on #351
Hi,
I've already add `refTxs` param In branch `fix/signTx-missing-params` where we've fixing `network` parameter

Commit here:
https://github.com/trezor/connect/commit/258a1dd3e7c693be40411d20ec7f484d0178a579

[2019-03-07 22:42] floating opened #352 "How to talk directly to bridge?"
Hi all, [trezor.js](https://github.com/trezor/trezor.js) is relied upon by https://frame.sh, which runs locally on the user's machine. We've been using trezor.js to talk to Trezor Bridge and support all Trezor devices after the node-hid integration also became unsupported. If trezor.js is no longer being maintained, what is the recommended way to interface directly with the bridge? Does the same a

[2019-03-07 22:49] prusnak commented on #352
Why?

Again, why?

[2019-03-07 23:18] floating commented on #352
So we can provide an experience for our users that doesn't suck.

[2019-03-07 23:23] prusnak commented on #352
Ok, so popups are not a technical limitation but rather your preference.

[2019-03-07 23:34] floating commented on #352
I'm just trying to figure out a supported way to maintain the same access to Trezor devices we currently have with `trezor.js` as we've put a lot of work into building a really nice experience around interfacing with them, that our users love.

[2019-03-08 06:19] WilliamXie9 commented on #79
@prusnak
The links seems that it can't be used.

[2019-03-10 14:57] pruflyos opened #353 "requestLogin() with passphrase?"
The documentation of https://github.com/trezor/connect/docs/methods/requestLogin.md kind of suggests that you can set the param `useEmptyPassphrase` to `false`. I guess this should cause the flow to ask for an additional passphrase on login, right?
Well it doesn't seem to work right now. Even with `useEmptyPassphrase: false` no passphrase is asked during `requestLogin`.

[2019-03-10 18:38] pruflyos opened #354 "Documentation of TrezorConnect.renderWebUSBButton()"
Is there any documentation on the usage of `TrezorConnect.renderWebUSBButton()` method of `Version 7` of the API?

The documentation from
https://wiki.trezor.io/Developers_guide:Trezor_Connect_API_-_Login_with_Trezor
and
https://github.com/trezor/connect/blob/gh-pages/README.md
seems to be outdated as it refers to the method `TrezorConnect.renderLoginButtons()` which doesn't exist in `v7` anymore.

[2019-03-10 21:57] pruflyos opened #355 "requestLogin() with multiple domains"
As far as I understand `TrezorConnect.requestLogin()` uses the `origin` header to derive the public key and signature. So if my application is available on multiple domains the same user (or Trezor device) will end up with different identities depending on which domain he uses to access the application.

Or even if I just have a single domain and I want to migrate to another domain, user's won't b

[2019-03-11 15:25] yuriygeorge commented on #351
Very well, I tested it using the extra refTxs parameter, and everything seems to be working fine. Thanks.
[code]

[2019-03-11 15:25] #351 closed, assigned to nobody

[2019-03-13 18:08] matejcik opened #356 "Spending zcash v4 transactions"
Zcash sapling added some fields to transaction data. Connect will have to fill them, through adding more to `extra_data`

Namely:
[code]
see https://github.com/zcash/zips/blob/master/protocol/protocol.pdf

[2019-03-14 10:43] matejcik commented on #356
nevermind
this only applies for v1 non-overwintered transactions, and these are illegal per ZIP-202 "Backwards Compatibility" section https://github.com/zcash/zips/blob/master/zip-0202.rst

[2019-03-14 10:43] #356 closed, assigned to nobody

[2019-03-14 12:48] #350 closed, assigned to nobody

[2019-03-15 13:33] prusnak commented on #245
@szymonlesisz can you please describe what needs to done/fixed to use Connect in an Electron app?

[2019-03-18 22:25] tayvano commented on #245
Over a year ago we took steps, including using a forked version of trezor.js for months, in order to get Trezor working with our MyCrypto Electron app. Now we're back to square 1 as, once again, Electron apps no way of communicating with Trezor devices.

The "Safety check failed" error is now our # 1 support ticket with our users. While I understand Trezor has a lot going on, our in production and

[2019-03-18 22:56] rodrigopavezi commented on #245
@tayvano we fixed for now the issue with this change. https://github.com/SelfKeyFoundation/trezor-wallet-provider/pull/6/files though we know it can break at anytime they change something on the firmware or trezor-link and won't update trezor.js. We will investigate if we can start using trezor-connect but I guess it will not be an easy thing. Cheers

[2019-03-19 09:35] yuriygeorge commented on #351
Hi, will this be merged into v7, or v8? For now, I must run my own local server to access this feature, correct? Can you let me know what plans would be to merge this into v7 or v8 so then I can connect to trezor.io servers? Thanks

[2019-03-20 09:51] szymonlesisz commented on #351
It will be released today/tomorrow. I'll let you know here

[2019-03-20 10:01] szymonlesisz commented on #245
Guys, good news. I've managed to run it inside electron. It could be used 100% offline (without serving connect from connect.trezor.io domain) with our UI/popup or without it (your own custom UI/modals)
Today i will prepare some boilerplate to show you what needs to be done.
However i want to do it right, so the boilerplate will be "early beta", just for tryout and tests.
We will release it after

[2019-03-20 11:50] rodrigopavezi commented on #245
@szymonlesisz thanks a lot. we can't wait for it. Anything you need please let me know. Cheers

[2019-03-20 12:28] KevinBaiSg commented on #245
@szymonlesisz thanks, this is good news

[2019-03-20 13:02] yuriygeorge commented on #351
Thanks, on a separate, related issue, I notice that the custom "locktime" field is not displayed on the Trezor display screen when set. How can the user be certain that the locktime field was actually set? Is it possible in the near future to make Trezor display the locktime field if it is set? Otherwise, seems to defeat the purpose.

[2019-03-20 14:33] szymonlesisz commented on #351
This is not related to connect, it's a firmware issue so you should ask this question in here: https://github.com/trezor/trezor-core

[2019-03-20 14:38] oti-dev opened #362 "MultisigRedeemScriptType with external pubkeys"
Hello,

How do I construct MultisigRedeemScriptType.pubkeys out of external pubkeys that do not come from an HD wallet? This issue has already been posted before, and this answer was supposedly a solution:

_Originally posted by @prusnak in https://github.com/trezor/connect/issues/311#issuecomment-459091206_

I don't understand how to do this, though. How do I generate xpub out of an arbitrary pub

[2019-03-20 15:36] szymonlesisz commented on #245
so here it is:
https://github.com/szymonlesisz/trezor-connect-electron-boilerplate

description in readme, try it and let me know is it working for you

[2019-03-20 16:03] #297 closed, assigned to nobody

[2019-03-20 16:49] szymonlesisz commented on #351
7.0.2 released

[2019-03-20 16:52] szymonlesisz commented on #290
since 7.0.2 you can use `refTxs` field to sign transaction without connection to bitcore.
https://github.com/trezor/connect/blob/develop/docs/methods/signTransaction.md

[2019-03-20 16:52] #290 closed, assigned to nobody

[2019-03-20 17:11] szymonlesisz commented on #362
TrezorConnect will convert xpubs to `HDNode` for you [here](https://github.com/trezor/connect/blob/develop/src/js/utils/hdnode.js#L112-L121)
So your params should look like:
[code]

[2019-03-20 17:22] szymonlesisz commented on #354
`TrezorConnect.renderWebUSBButton` is not documented intentionally because it's useful only for our wallets and applications.
Basically it renders an empty button to pair device with browser. Read more about [Chome WebUSB API](https://developers.google.com/web/updates/2016/03/access-usb-devices-on-the-web)

On the other hand `TrezorConnect.renderLoginButtons` was removed in v5+ and no one was miss

[2019-03-20 17:22] #354 closed, assigned to nobody

[2019-03-20 17:44] szymonlesisz commented on #355
Since origin and public key are strictly combined there is no migration strategy for this case, same like in any other U2F

[2019-03-20 17:44] #355 closed, assigned to nobody

[2019-03-20 17:51] #353 closed, assigned to nobody

[2019-03-20 17:51] szymonlesisz commented on #353
`requestLogin` is designed to be paswordless, same as `cipherKeyValue`. Yes, you are right that docs could be misleading with this param so i've updated it.
Thanks

[2019-03-20 18:00] szymonlesisz commented on #352
hi @floating ,
Since your app is build in electron you can try to use currently developed electon integration.
You can find a simple boilerplate here:
https://github.com/szymonlesisz/trezor-connect-electron-boilerplate

You can choose not to use popup (described in code) and handle UI_EVENTS by your own

[2019-03-20 18:06] szymonlesisz commented on #301
Hi @federicobond,
Thanks for your contribution. We do have migration to TypeScript in our plans, but it's not high priority and right now we have more important things to do.  Just as you notice, this api is quite big and growing up everyday so this is not an easy task.

[2019-03-20 18:06] #301 closed, assigned to nobody

[2019-03-21 08:43] oti-dev commented on #362
The function you mentioned also expects an xpub as a parameter, which I don't have. But what if I use bitcoin core and I don't have an xpub? I have a regular public key, pregenerated from bitcoin core.

I have a pubkey like this:
023a94c415f8dc012ff9b71780f21d14f005db7ee276646c2e9e788ddf709649fd

In Bitcoin core I would've been able to use it for multisig transaction. In Trezor connect I'm require

[2019-03-21 11:06] prusnak commented on #362
You can convert any pubkey into the xpub. See https://github.com/bitcoin/bips/blob/master/bip-0032.mediawiki#Serialization_format

* set version bytes correctly (0x0488b21e)
* set depth to 0x00
* set fingerprint to 0x00000000
* set child number to 0x00000000
* set chain code to 0x00 x 32
* set public key to your public key

So your xpub in hex will look like this:

`0488b21e00000000000000000000000

[2019-03-21 11:06] #362 closed, assigned to nobody

[2019-03-21 14:57] keepkeyjon opened #363 "LoadDevice doesn't seem to work"
Against `v7.0.1`, I'm getting:

[code]

Is there some mode I need to put TrezorConnect into that tells it I know what I'm doing and enables `loadDevice()`? I'd like to use it for regression testing a library we're writing.

[2019-03-21 16:23] szymonlesisz commented on #363
loadDevice is not implemented yet, but we are working on implementation of all device management methods here:
https://github.com/trezor/connect/pull/320

[2019-03-21 16:33] #363 closed, assigned to nobody

[2019-03-21 16:47] keepkeyjon commented on #363
oh, wonderful. thank you!

[2019-03-21 19:31] floating commented on #352
Thanks @szymonlesisz!

Will we be able to listen to connect/disconnect events for multiple devices via transport or device events? Can we interact with and derive address info from multiple devices at once?

I will start testing with our implementation as soon as possible, thanks again for the boilerplate.

[2019-03-22 12:56] szymonlesisz commented on #352
yes, you can handle device, transport and ui events when "popup" is set to false.
yes, you can interact with multiple devices at once, but you need to pass "device" parameter to each call (described [here](https://github.com/trezor/connect/blob/develop/docs/methods/commonParams.md))

All should be obvious from the boilerplate

[2019-03-22 13:13] yuriygeorge commented on #351
Great! Thanks, verified!

[2019-03-22 15:01] MangoFarmAssets opened #364 "Trezor Connect Support for Ravencoin (RVN)"
We have a bip44 wallet for Ravencoin (asset aware) and are integrating Trezor using Trezor Connect.  Connect is functioning and we are able to load the XPUB from the device for watch-only purposes.

We have run into an issue when signing a RVN transaction.  RVN is supported in the device firmware, and the json is in the bitcoin defs (https://github.com/trezor/trezor-common/blob/master/defs/bitcoin

[2019-03-22 15:14] prusnak commented on #364
@szymonlesisz Is it enough to just add `"bitcoin:RVN": true,` into `connect` tree of `support.json` and rebuilding/redeploying connect?

[2019-03-22 15:42] szymonlesisz commented on #245
do you guys maybe know how to solve this issue with missing `window.opener` when connect is hosted outside? I've been struggling with this whole day. I've tried: https://gist.github.com/Gvozd/2cec0c8c510a707854e439fb15c561b0
but doesn't work. any ideas how to postMessage from popup@connect.trezor.io to electron when it doesn't have access to `window.opener`. should i use some `ipc` communication (

[2019-03-22 17:12] tayvano commented on #245
@szymonlesisz We have only been able to implement a bandaid solution using trezor js for now

https://github.com/MyCryptoHQ/MyCrypto/pull/2443

[2019-03-26 00:05] keepkeyjon opened #368 "Public api to list connected & paired devices"
What's the preferred way in `TrezorConnect.init({ popup: false })`-style clients to enumerate connected devices, and request pairing (in the case of WebUsb devices)?

[2019-03-26 08:23] szymonlesisz commented on #368
It depends on what kind of application you have in mind.
`popup: false` can be used only for connect hosted locally, it will not work from regular website implementation due to security reasons (iframe will not accept this value and will set it to `true`)
Currently due to changes in chrome 72 webusb in `popup` mode is disabled, we need to redesign pairing with webusb device WITIN 3rd party website

[2019-03-26 09:10] tsusanka opened #382 "Stellarport fails singing some dummy transaction"
From email:

Looks like there is some issue with the new firmware signing some transactions. Is there any way you could test it out at stellarport.io ? You can try going to Wallet > Profile and setting a nickname. In order to set a nickname, it asks you to sign a dummy transaction and gets stuck with an error of "Illegal Buffer".

---------

I'm not 100% sure this is a firmware issue, this might c

[2019-03-26 15:08] keepkeyjon commented on #368
Oh, damn. That kills the use case I had in mind. What's the security consideration here?

I'll assume `popup: true` for now, and we can talk about whether you're willing to whitelist our URL later.

[2019-03-27 14:01] prusnak commented on #364
@MangoFarmAssets Do what I suggest above in your locally deployed Connect.
 Then try whether SignTransaction, PushTransaction, ComposeTransaction calls work for you.

If everything works, please open a pull request to trezor-common where you submit the change mentioned above.

[2019-03-27 14:07] #364 closed, assigned to nobody

[2019-03-27 14:27] MangoFarmAssets commented on #364
Will do @prusnak.  Thanks very much.

[2019-03-27 15:26] prusnak opened #369 "Allow signTransaction if no backend is defined"
We should allow the coins with no backends defined in their JSON because they still can be used via `signTransaction` if the caller provides the necessary info.

[2019-03-27 15:29] AlexITC commented on #369
From what I see on [SignTransaction.js](https://github.com/trezor/connect/blob/develop/src/js/core/methods/SignTransaction.js#L152), this is already supported, isn't it?

[2019-04-01 12:10] tsusanka commented on #382
I've looked into this briefly and I don't think this is a firmware issue. Stellarport says "Illegal value for Message.Field .StellarManageDataOp.key of type string: object (not a string)". I believe we need to investigate what Stellarport is sending into Connect because, the operation message doesn't make it into Trezor (StellarManageDataOp).

[2019-04-02 18:13] dwolfgram opened #373 "Property 'manifest' does not exist on type 'typeof TrezorConnect"
Hello!

I just updated to v7.0.2 and the required manifest function does not exist of type TrezorConnect. I tried to `npm install @types/trezor-connect@latest` but it is a v6 types. Any guidance on this? Thanks :)

[2019-04-02 18:55] szymonlesisz commented on #373
Hi,
We are not maintaining @types/trezor-connect those types are created by someone else for version 6.
See [this thread](https://github.com/trezor/connect/issues/301)

[2019-04-02 18:55] #373 closed, assigned to nobody

[2019-04-05 11:50] tsusanka commented on #382
Closing for no response, will open again if that changes.

[2019-04-08 08:38] bosomt opened #375 "Trezor icons too small"
Trezor icons are too small and it's hard to distinguish if it's model One or model T

![Screenshot_20190408_103654](https://user-images.githubusercontent.com/31506317/55710153-44066580-59ea-11e9-885c-cf6896ea4ffc.png)

[2019-04-08 18:15] dternyak opened #376 "Monero Support"
With the addition of Monero to the Monero GUI for Trezor, it'd be great if this repo could be updated with Monero support.

[2019-04-09 10:39] prusnak commented on #376
This is not planned at the moment. It does not make sense to have a web wallet for privacy oriented coin.

[2019-04-09 10:39] #376 closed, assigned to nobody

[2019-04-09 14:45] dternyak commented on #376
@prusnak Thanks for the reply. Just to play devil's advocate, a web based wallet does not necessarily imply privacy risks if that's the main reason for closing this issue.

MyMonero (which was started by Ricardo Spagni) offers a web based wallet for many years now.

With https://github.com/monero-project/monero/pull/4139, users should be able to run their own light wallet infra, and a neat UX woul

[2019-04-10 01:49] MangoFarmAssets opened #379 "Undefined error with Connect/RVN integration"
When attempting to sign a Ravencoin send transaction (with an included Reference tx) using Trezor Connect, the following error is returned with an undefined error code: ".TxAck.TransactionType.TxInputType#address is not a field: undefined".

The following object is what is being submitted to the signTransaction function:
{inputs:[{address:"RQnwRPQdDeoNLLsJCCTZiE9SRxREppqaaQ",prev_index:0,prev_hash

[2019-04-10 08:46] szymonlesisz commented on #379
This error is correct.
there is no `address` field in [transaction input](https://github.com/trezor/connect/blob/develop/src/js/types/params.js#L124-L136)
You should to use `address_n` where you specify path for account which is a "owner" of this utxo

[2019-04-10 08:46] #379 closed, assigned to nobody

[2019-04-10 09:50] MangoFarmAssets commented on #379
Thank you!

[2019-04-11 15:15] eabz opened #380 "Issue with Polis extended Pub and Priv prefix"
Hello,
I am testing the Polis integration over connect.
While I get the extendedPubKey data from trezor, I am getting a xpub prefix, double checked integration on trezor-common and is correctly defined: https://github.com/satoshilabs/slips/blob/master/slip-0132.md#registered-hd-version-bytes

Can I get a workaround to get this fixed?

Greetings.

[2019-04-11 15:30] eabz opened #381 "Issue with Litecoin bech32 m/84/2/0 Path."
Hello again,
I am trying to get a Litecoin bech32 extendedPubKey from Trezor wallet using this function:
[code]

I am getting this response:
[code]

[2019-04-12 11:19] tsusanka commented on #381
This is fixed in [trezor-core](https://github.com/trezor/trezor-core) master branch and will be shipped in the next release.

For reference: in 2.1.0 some segwit coins did not have the `xpub_magic_segwit_native` field properly set. This was fixed in https://github.com/trezor/trezor-common/commit/792a4eddb5afa366181b7b2f8a5d84532b31a6a1

[2019-04-12 11:24] #381 closed, assigned to nobody

[2019-04-12 12:19] prusnak commented on #380
You swapped xprv_magic and xpub_magic values in the json. Please send a fix.

[2019-04-12 12:19] #380 closed, assigned to nobody

[2019-04-12 14:27] eabz commented on #380
Thanks

[2019-04-12 18:45] istrau2 commented on #382
@tsusanka Sorry for the delay,

We have fixed the

which seems to have exposed another issue in connect/firmware. It seems that something is choking when a base64 encoded string is passed as the value in the manage data operation:
https://github.com/trezor/connect/blob/develop/src/js/types/stellar.js#L105

You can reproduce by going to Wallet > Profile and setting a nickname. Doing so now produces

[2019-04-12 20:15] prusnak commented on #382
@istrau2 Show us the message causing the error. My guess is, surprise, surprise, that one field contains non-hex characters, despite it should not.

[2019-04-12 21:37] istrau2 commented on #382
@prusnak The transaction looks like:

`{"source":"GABWHTAVRYF2MCNDR5YC5SC3JTZQBGDZ3HKI4QAREV5533VU43W4HJUX","fee":100,"sequence":"0","timeBounds":{"minTime":"1555104914","maxTime":"1555105214"},"operations":[{"source":"GDZPDP7JQMR66FOUN7EOLXRYOICHFDIBEVYLL6ISXA7P2HTNIP775K7B","type":"manageData","name":"Stellarport auth","value":"rflvVyDLDyNg6SiuxXJ87SG57+SsFINDKOt1nty2w3uXwVE20Jt7wwnAz6eLUWBs8xMI

[2019-04-14 17:36] prusnak commented on #382
@istrau2 Show us the message you are sending to Connect, not the internal representation of the message.

Also this seems like a Connect issue - moving to the Connect repo.

[2019-04-14 17:36] prusnak commented on #382
@szymonlesisz can you have a look too?

[2019-04-15 04:16] Gabriel-2010 opened #383 "trezor-connect@7.0.2-electron.4 issue"
I am trying to integrate trezor connect with electron. I have npm install trezor-connect@7.0.2-electron.4, but when I call TrezorConnect.getAddress, if failed with "Uncaught TypeError: Cannot read property 'handleMessage' of undefined" in iframe.js:78

Here is my code:
  getAddresses = async () => {
    var TrezorConnect = require('trezor-connect').default;
    TrezorConnect.manifest({
      email

[2019-04-15 07:34] szymonlesisz commented on #382
i'll have a look

[2019-04-15 08:35] szymonlesisz commented on #382
According to [protobuf messages](https://github.com/trezor/connect/blob/develop/src/data/messages/messages.json#L7989) value should be sent as bytes, which in this case means `Buffer.toString('hex')`. Value in plain base64 will not be accepted by protobuf transalation and this is the place in code where it's failing

Fix:
`Buffer.from("rflvVyDLDyNg6SiuxXJ87SG57+SsFINDKOt1nty2w3uXwVE20Jt7wwnAz6eLUW

[2019-04-15 11:31] szymonlesisz commented on #368
The main security reason for this is that you don't want to some random 3rd party website enumerate your device without your knowledge/permission. You may become an easy target for phishing since they already know that you have Trezor

[2019-04-15 11:31] #368 closed, assigned to nobody

[2019-04-15 11:33] szymonlesisz commented on #369
already implemented here https://github.com/trezor/connect/commit/b0ec953bae95ff0b454cd6fc9050308783c96a92

[2019-04-15 11:33] #369 closed, assigned to nobody

[2019-04-15 11:51] Gabriel-2010 commented on #383
I followed the demo "https://github.com/szymonlesisz/trezor-connect-electron-boilerplate.git" and fixed this issue.  The solution is using "https://sisyfos.trezor.io/connect-electron/" instead of "https://connect.trezor.io/7/trezor-connect.js". Although I don't know the reason, it is working now.

[2019-04-15 11:51] #383 closed, assigned to nobody

[2019-04-15 12:01] szymonlesisz commented on #383
Sorry i didn't managed to respond on time.
This branch is not released to public yet, changes made there are not compatible with endpoint hosted on `connect.trezor.io/7` that's why you need to use endpoint on `sisyfos.trezor.io/connect-electron` which is a playground/test environment for connect.
Therefore i'm warning you to not use this endpoint for production builds

[2019-04-15 15:19] Gabriel-2010 commented on #383
@szymonlesisz
Thanks for your reply. If I want to integrate trezor-connect into electron for production builds, how can I do? Waiting for a new release or something else I didn't know? Many Thanks.

[2019-04-15 15:31] szymonlesisz commented on #383
yes, wait for official release of version 8, it will be out soon

[2019-04-15 15:38] Gabriel-2010 commented on #383
Sounds great. Thanks.

[2019-04-15 20:33] prusnak commented on #382
@istrau2 please fix your code according to the suggestion above

[2019-04-15 20:33] #382 closed, assigned to tsusanka

[2019-04-15 23:17] istrau2 opened #385 "What is Stellar result.publicKey?"
I am getting the following response from `stellarSignTransaction`:
{
   id: 2,
   result: "success",
   {
        payload: {signature: "...", publicKey: "f2f1bfe98323ef15d46fc8e5de387204728d012570b5f912b83efd1e6d43fffe"}
    }
}
in this case, what is `publicKey`?

I was testing with the following trezor public key: `GDZPDP7JQMR66FOUN7EOLXRYOICHFDIBEVYLL6ISXA7P2HTNIP775K7B`. How do I get `GDZPDP7JQ

[2019-04-16 09:27] prusnak commented on #385
I can give you this code, but if you don't understand it, you need to look into Stellar documentation how to convert public key to address:

https://github.com/trezor/trezor-firmware/blob/master/core/src/apps/stellar/helpers.py#L19-L26

[2019-04-16 09:27] #385 closed, assigned to nobody

[2019-04-16 10:54] bitcodernull opened #386 "is there a method for getting root xpub"
thanks

[2019-04-16 12:11] #386 closed, assigned to nobody

[2019-04-16 18:41] istrau2 commented on #382
@prusnak @szymonlesisz @tsusanka
We are now passing the values in `hex` to connect and there are no errors. However, the signature seems to be incorrect. I can't figure out if this is an issue with the data that I am passing to connect or a bug in connect or the firmware.

Here is an example case:

I pass the following transaction to connect:
`{"source":"GD7SV72HJSL2VMJAEN4LYX3VXIFHAZ4FJDVBPTLEERT

[2019-04-16 18:56] prusnak commented on #382
Why do you think the signature is incorrect? What format are you expecting?

[2019-04-16 19:36] istrau2 commented on #382
@prusnak

Because of the following is false:
[code]
We use the code above to verify all transactions that pass through Stellarport. All the other ones are fine but this one is producing a false result.

[2019-04-16 21:20] prusnak commented on #382
That's because you are AGAIN using hex representation used by Protobuf in the context which expects some native Stellar encoding. You are a developer, read the documentation and understand it. You cannot expect us to do all the homework for you.

So once again: you receive the signature in hex form. Convert it to whatever format required by StellarSdk. Which format? This is written in the Stellar

[2019-04-17 02:18] istrau2 commented on #382
@prusnak No, I don't think that is it. `transaction` above is a well formed StellarSdk transaction. I think I probably communicated the issue badly above. I left out some code for the sake of brevity:

[code]

All other Trezor signatures are working fine with the code above. It is only this specific transaction that isn't passing. Here are some of the features of the transaction that may be causin

[2019-04-17 08:15] bitcodernull commented on #248
Any update now?

[2019-04-17 08:42] tsusanka commented on #382
Could you try on Trezor One as well? If the signature differs or not

[2019-04-17 09:18] bitcodernull opened #387 "Can the connect run on server"
Can the connect run on server

[2019-04-17 09:42] prusnak commented on #387
yes

[2019-04-17 09:42] #387 closed, assigned to nobody

[2019-04-17 14:08] istrau2 commented on #382
@tsusanka I am testing on the Trezor One. I don't have a model T to test on currently.

[2019-04-17 14:10] tsusanka commented on #382
You can test using an emulator, see here https://github.com/trezor/trezor-firmware/blob/master/core/docs/emulator.md

[2019-04-17 14:13] istrau2 commented on #382
@tsusanka Yes, unfortunately I am on windows and I have to spin up a VM to test. I will test on emulator after ensuring that it works on the a real Trezor One first. Currently, I am experiencing the issue above on the real Trezor One. Can we address that?

[2019-04-18 16:34] bitcodernull opened #388 "cardanoGetPublicKey method return "Forbidden key path""
TrezorConnect.cardanoGetPublicKey({path:"m/44'/1729'/1'", showOnTrezor : false})

return :

code: "Failure_DataError"
error: "Forbidden key path"

------
Maybe i miss something , how to resolve it
thanks

[2019-04-18 16:39] refi93 commented on #388
Cardano's coin index is 1815', not 1729'. 1729' is Tezos:  https://github.com/satoshilabs/slips/blob/master/slip-0044.md

[2019-04-18 16:54] #388 closed, assigned to nobody

[2019-04-19 01:31] bitcodernull commented on #388
thanks
i  change the path, it works

On trezon, should path be in accordance with the bip44 specification?

I tested it, TrezorConnect.getPublicKey can make a non-compliant path, such as m/0/0/0

Cardano must meet the specifications?

[2019-04-19 01:58] bitcodernull opened #389 "On trezon, should path must be in accordance with the bip44 specification?"
On trezon, should path must be in accordance with the bip44 specification?

I have tested it, TrezorConnect.getPublicKey can make a non-compliant path, such as "m/0/0/0" or "m".   using path "m", i can get the root xpub for secpk1, it is great.
Cardano/stellar path must meet the specifications?

---------------
i want to get root xpub , then use the same path to derivative child xpubs for differen

[2019-04-20 10:12] prusnak commented on #388
Yes

[2019-04-20 10:12] prusnak commented on #389
Yes

[2019-04-20 10:12] #389 closed, assigned to nobody

[2019-04-25 07:31] ribuluo000 commented on #317
why close it?

[2019-04-25 07:31] ribuluo000 commented on #317
Why close it? @KevinBaiSg

[2019-04-25 08:59] ribuluo000 opened #390 "Fee 0.199 TEST is unexpectedly high, Send anyway"
When I call the function
[code]

I got the content show on my trezor :
[code]
the 0.199 is all my balance, and than I click the cancel button.

Now I have these problems:
How can I set my fee?
How can I get the `params` used in `TrezorConnect.signTransaction(params)` correctly, and
how can I get the `inputs`, `address_n`,`prev_index`,`prev_hash`,`outputs` and more?
Thanks!

[2019-04-25 09:11] ribuluo000 commented on #390
Is there any other document about `TrezorConnect.signTransaction(params)`?
I found this document below, but I coundn't understand every field in this document.
[code]

[2019-04-25 10:36] ribuluo000 commented on #390
I found prev_hash change the Fee number...
When the prev_hash is `68bc0bba65cefdc43d5e00ddce10441a1b642980ea9faf487a0932389a3bcb4c` the Fee is very high.

When the prev_hash is `9bf451983e69f3e285caff7b789123c0ac56e438fad36e7b4565583317ab6dfd` the Fee is 0.002- amount.
What should I do, to get or set a nomal Fee?

[2019-04-25 12:17] prusnak commented on #390
You do not set the fee. It is set implicitly. The fee is everything you don't spend.

[2019-04-25 12:17] #390 closed, assigned to nobody

[2019-04-25 12:44] szymonlesisz commented on #390
for example:
your input has value 100
you want to spend 5 to some address, and get rest to your change address.
then:
[code]
In this case fee is '1' (100 - 5 - 94)

Btw, you've set bitcoin in derivation path, it should be :
[code]

[2019-04-25 12:48] szymonlesisz commented on #390
alternatively, you can use [ComposeTransaction](https://github.com/trezor/connect/blob/develop/docs/methods/composeTransaction.md) method where you don't have to worry about utxos and you are able to set custom fee

[2019-04-26 06:50] ribuluo000 commented on #390
I want to deal with utxos, but I don't know how to do. Is there any examples? Thanks! @szymonlesisz

[2019-04-26 08:07] ribuluo000 opened #391 "-26: mandatory-script-verify-flag-failed (Script failed an OP_EQUALVERIFY operation) (code 16)"
signTransaction.params

![image](https://user-images.githubusercontent.com/9551756/56792655-a3fb6980-683c-11e9-98a1-8caa26212545.png)
![image](https://user-images.githubusercontent.com/9551756/56792757-e45ae780-683c-11e9-95f2-b5aec156d512.png)

[code]

[code]

Maybe my inputs and outputs is incorrect, and I don't know what is correct. Is there any examples? Thanks!

[2019-04-26 10:53] prusnak commented on #390
https://trezor.github.io/connect-explorer/#/composetx

[2019-04-28 05:50] ribuluo000 commented on #391
There is another examples to get the same error in
https://trezor.github.io/connect-explorer/#/sign-tx

![image](https://user-images.githubusercontent.com/9551756/56859387-69203f80-69bc-11e9-93c6-de9b78c15a8c.png)

[2019-04-28 08:08] JasonHJ opened #392 "Port 21325 net::ERR_CONNECTION_REFUSED in Electron"
Hi all:
When I connected to trezor, it would popup a window and then print a error like :
'POST http://127.0.0.1:21325/ net::ERR_CONNECTION_REFUSED'.
It works on my Mac, and wrong on my ubuntu virtual machines.

Does anybody ever had this problem?

[2019-04-28 08:58] ribuluo000 commented on #390
I want to use

[code]

But I got this error.

![image](https://user-images.githubusercontent.com/9551756/56861753-9aa60480-69d6-11e9-9a1b-7bbf2c1b67f7.png)

[2019-04-28 09:00] ribuluo000 commented on #390
Is there any document about TrezorConnect.signTransaction?

[2019-04-28 09:01] prusnak commented on #392
Don't you have a firewall running the Ubuntu VM?

[2019-04-28 09:02] prusnak commented on #391
You are probably using the wrong path to spend the input. Are you sure that you are spending the correct input with the correct private key?

[2019-04-28 09:02] #391 closed, assigned to nobody

[2019-04-28 09:27] ribuluo000 commented on #391
This is my newest code,
[code]
and there is some TEST in my Account#1
![image](https://user-images.githubusercontent.com/9551756/56862070-9af3cf00-69d9-11e9-8bdf-2bdb245b7acb.png)

Almost all my TEST is in the address myVk1rfucsMYUimBUgkMtg1Bu6n5kD5URn
![image](https://user-images.githubusercontent.com/9551756/56862098-e60de200-69d9-11e9-8f1b-e540427ef3d5.png)

And my account info is
[code]

[code

[2019-04-28 09:29] JasonHJ commented on #392
Hi @prusnak
The UFW service has been turned off

[2019-04-28 09:51] ribuluo000 commented on #391
How can I get the correct input with the correct private key? @prusnak

[2019-04-28 10:07] ribuluo000 commented on #391
I send a transaction Succeed，this is my code here base on the info above.

address_n is path + utxo.item. addressPath [2147483692, 2147483649, 2147483648] + [0, 2];
prev_index is utxo.item. index;
prev_hash is utxo.item. transactionHash;

[code]

response:
[code]

![image](https://user-images.githubusercontent.com/9551756/56862712-86ff9b80-69e0-11e9-8813-4cd5751622be.png)

[2019-04-29 02:59] ribuluo000 commented on #391
I know how to sign transaction and push transaction correctly, due to I coundn't find an example, now I provide an example, hope can help some one!

### example:

[code]

[2019-04-29 03:35] ribuluo000 commented on #390
相关问题以及example 请看以下链接
https://github.com/trezor/connect/issues/391

[2019-04-29 07:43] prusnak commented on #391
Thanks

[2019-04-29 09:24] szymonlesisz commented on #392
did you a set proper origin to http request?

https://github.com/szymonlesisz/trezor-connect-electron-boilerplate/blob/master/src/electron.js#L58-L64

[2019-05-02 04:41] floating commented on #352
Hey @szymonlesisz can you provide an example using `trezor-connect` in a node process with no reference to `window`? The renderer and main processes are isolated in Frame and we connect to all signers from a pure node process.

[2019-05-06 02:12] Gabriel-2010 commented on #392
I met the same issue. I also tried "trezor-connect-electron-boilerplate" by following steps:
[code]
The console shows "POST http://127.0.0.1:21325/ net::ERR_CONNECTION_REFUSED.
The GUI shows "Install Bridge" button. When click it, nothing happened.

I am sure Ubuntu VM's firewall is disabled.
[code]

[2019-05-09 13:16] slowbackspace opened #394 "Feature request: Ability to set timeout for potentially long running methods"
eg `blockchainSubscribe`

[2019-05-11 09:54] bosomt commented on #267
all referenced issues are already closed.
Can we consider it fixed ?
Can we close this issue ?

[2019-05-14 06:56] maulikvora opened #395 "fork of bitcoin but 10 decimals satoshis instead of 8 decimals"
We have already Flashcoin supprted by Trezor Connect, which is a clone of Bitcoin.

We are facing a problem related to Satoshi decimals.
Generally Bitcoin and its Clones have
1 BTC = 100 000 000 Satoshis  (8 Decimals)
1 LTC = 100 000 000 Litoshis. (8 Decimals)

But for FLASH,
its, 1 FLASH = 10 000 000 000 Satoshis (10 Decimals)

But Trezor firmware considers it 8 Decimals always and its showing di

[2019-05-14 14:38] floating commented on #352
We're still using `trezor.js` because we need it work in node -- some of our users are starting to report `Error: Missing at least one required field for Message .EthereumAddress: address` possibly related to https://github.com/trezor/trezor-wallet/issues/377 but not fixed in `trezor.js`?

[2019-05-15 06:07] MisterTicot commented on #267
@bosomt I don't have time to confirm that. I assume that if all issues are closed we can close this one too. Thank you for noticing, I plan to work on Trezor/Stellar integration again once I'll have some free time. If I encounter any issue I can open a new open.

[2019-05-15 06:21] bosomt commented on #267
i'm closing this old issue.
As soon someone report broken transactions + and we will be able to reproduce it we will open new issue in correct repository

@szymonlesisz please close, i can't

[2019-05-15 09:45] smdmitry opened #396 "Komodo coin support and outdated lib bitcoinjs-lib-zcash"
I want to integrate Komodo coin support to Connect, but Trezor Connect uses deprecated library bitcoinjs-lib-zcash here https://github.com/trezor/connect/blob/develop/src/js/backend/BlockBook.js#L8

How can this be resolved? Please look at my PR: https://github.com/karel-3d/bitcoinjs-lib/pull/13

Maybe its better use newer version of this lib supported by Trezor: https://github.com/trezor/trezor-u

[2019-05-15 21:28] keepkeyjon commented on #395
It's hardcoded to 8 in the firmware: https://github.com/trezor/trezor-firmware/blob/236ca1ae830d3c0b7fd9755a1286141484e0b567/legacy/firmware/layout2.c#L38 You'd have to make it read from the coin table instead.

[2019-05-16 16:14] slowbackspace opened #397 "rippleGetAccountInfo returns unhelpful error message "o""
[code]

returns
[code]

[2019-05-18 14:27] keepkeyjon opened #398 "Supported Coins List"
I'd like to build a compatibility matrix for beta.shapeshift.com... Is there json-formatted list of coins supported by TrezorConnect vs wallet.trezor.io vs 3rd party wallets served up somewhere on trezor.io? Or is the recommended thing to do for us to submodule trezor-firmware/common/defs so we can access support.json / coins_details.json from our frontend?

[2019-05-18 19:01] floating commented on #352
More users reporting `Error: Missing at least one required field for Message .EthereumAddress: address`. I've tried to test against trezor.js `8.1.0` but calling `session.getPublicKey` now results in `Error: Digest method not supported`, any ideas?

What's the best way to forward? Perhaps we should maintain support for `trezor.js` until `trezor-connect` supports node.

[2019-05-20 04:35] trustfarm-dev opened #399 "How to add new coin on trezor connector? and MEW, MyCrypto."
Thanks, for trezor.

We have launched new coin , derived from ethereum.

1. ChainID is 0x8288 (33416) EIP-155 Supports.
2. note url : https://teonode1.tao.foundation

Coin Name  is  TEO : you can refer https://forum.tao.foundation
Exchanges are  :  BISQ (P2P) , Graviex.net  , Stex.com

And running MEW variants TAO wallet sites are
https://wallet.tao.foundation  ,  also github is https://github.com

[2019-05-20 05:14] trustfarm-dev commented on #399
Basically added TREZOR support ,
but
![image](https://user-images.githubusercontent.com/18391665/57997796-894da500-7b09-11e9-88a9-61ae4085edaa.png)

Can you inform when error?

[2019-05-20 09:13] szymonlesisz commented on #398
Hi @keepkeyjon, you can find complete list of coins supported by connect here:
https://connect.trezor.io/7/data/coins.json

Those data are generated from trezor-firmware/common/defs.
You can find a script, in `tools/cointool.py` which will dump all definitions depending on filters.
for example: `cointool.py dump -p -d connect` will generate all coins with `connect` set to true

[2019-05-20 09:24] szymonlesisz commented on #399
Hi @trustfarm-dev,
From what i understood you want to add TEO (or TAO?) coin to be supported by Trezor.
Follow developers contribution instructions:

https://wiki.trezor.io/Developers_guide:Contributing

[2019-05-20 09:24] #399 closed, assigned to nobody

[2019-05-20 09:55] szymonlesisz commented on #396
Hi @smdmitry
I've already added Komodo to https://github.com/trezor/trezor-utxo-lib/tree/trezor/src, rewrote connect to implement this new library in branch [v8-beta](https://github.com/trezor/connect/tree/v8-beta) (this one replaces bitcoinjs-lib) BUT during tests and implementation we decided that we need to
split `connect` repository to monorepo structure to properly add nodejs, react-native an

[2019-05-20 10:24] trustfarm-dev commented on #399
@szymonlesisz  Thanks, I will do.

[2019-05-20 14:13] keepkeyjon commented on #398
wonderful, thank you!

[2019-05-20 14:13] #398 closed, assigned to nobody

[2019-05-20 17:18] keepkeyjon opened #400 "Multi-device path / id + initialization order"
I'm having trouble reliably getting the `device.path` from the DEVICE_EVENT stream on library startup for use in further messages when doing multi-device support. Seems I'm dealing with a race between the `TrezorConnect.init()` call and the relevant `TrezorConnect.on(DEVICE_EVENT, ...)` call, which needs to be registered first in order to catch the event, but also needs to happen after init() is f

[2019-05-21 15:03] keepkeyjon commented on #400
I think part of the issue is that I'm only getting `device-connect` / `device-change` events for one of the connected Trezor's. The events show up in the debug logs coming from Connect, but they don't all get fed into my `on(DEVICE_EVENT, handler)`.

[2019-05-21 15:37] keepkeyjon commented on #400
Oh, I see. It depends on the permissions dialog having been accepted.

[2019-05-22 15:56] keepkeyjon opened #401 "feature: add "show on device" for getPublicKey"
I'd like to be able to show users their xpubs with verification on-device.

[2019-05-23 11:42] Gabriel-2010 commented on #392
I found the solution. It is working after I installed trezor bridge from trezor.io.

[2019-05-24 19:10] keepkeyjon opened #403 "bug: "device call in progress" race"
I'm seeing a race on the state of `runPromise`, which gets cleared after a message is sent, instead of just before:
 https://github.com/trezor/connect/blob/c7fb0032a8475cc09ec29ccc860fbe76066f4169/src/js/device/Device.js#L172

This shows up on rapid back-to-back calls to TrezorConnect, where the first request gets cancelled by the user, and then the second request gets rejected with a "device call

[2019-05-29 16:58] floating commented on #352
Any word on this? We need an upgrade path for node.js users.

[2019-05-30 22:04] floating opened #406 "uiResponse doesn't target device"
For methods like `getPublicKey` you can target a devices with a "device" parameter. This doesn't seem to be working for the `uiResponse` method.

[2019-05-31 12:37] szymonlesisz commented on #352
looks like you are sending outdated message definitions to transport.configure
Since FW 2.1.0 EthereumAddress is sent as checksummed string instead of bytes:
https://connect.trezor.io/7/data/messages/messages.json (new definitions)
https://connect.trezor.io/7/data/messages/messages-v6.json (legacy definitions)

I'm aware that nodejs version of connect is a must and i'm working hard on this for a f

[2019-06-03 13:43] fintegri opened #407 "Can't able to send eth amount using sign in transaction"
Hi,

Here is the code I used to send ETH amount but it throw error on params

**Example code:**

var amount = 0.001;
	amount = amount * 100000000;
	amount = "0x"+amount.toString(16);
TrezorConnect.signTransaction({
    path: "m/44'/60'/0'/0/",
    transaction: {

        to: "0x9cb019E497De945500c88D1cE3800aE9250ddE84",
        value: amount,
        data: "0x01",
        chainId: 1,
        nonce

[2019-06-07 02:52] mralbertchen opened #408 "signTransaction SPENDMULTISIG is showing a firmware error on firmware v2+"
This code has been and still is working fine on TrezorOne v1.8

On v2.1.1 Trezor Model T, I get a warning that says 'Path m/48/0/0 is unknown. Are you sure?' - even after pressing yes and going through all the confirmation, the response I get is

`code: "Failure_FirmwareError"
error: "Firmware error"`

Not sure if SPENDMULTISIG is not supported on v2+ or if the firmware is actually bugged. Thanks.

[2019-06-07 03:02] mralbertchen commented on #407
Incorrect method - that is for Bitcoin / UTXO-based signing, which is why it's looking for the inputs argument.

For Ethereum, the correct method is https://github.com/trezor/connect/blob/develop/docs/methods/ethereumSignTransaction.md

[2019-06-08 19:48] pbca26 opened #409 "Unable to sign Komodo transaction version 1"
I'm working on a Trezor integration and ran into an issue where I need to sign transaction version 1.

The response I'm getting from my Trezor is "Illegal str: Length not a multiple of 2". Transaction version 4 works fine.

Transaction object

[code]

[2019-06-10 08:52] wliyongfeng opened #410 "SPENDMULTISIG error on bitcoin testnet"
Following code is my function to sign `P2SH` transaction on testnet:

[code]

and `tpubDHeS8MCAkLvohjQJt1hKDHwBtPvgoqbhhKSKK5t4QSR99hz8rctYu2mDdoZLHSVr5X3ChMacuU8xzKZBYXMg27PFyLCLGpHHom92s7NYmHK` is the `xpub` from my trezor.

But the function always return error

[code]

What I have tried to fix:

1.  change `address_n` to `[(48 | 0x80000000) >>> 0]`, `[(44 | 0x80000000) >>> 0, (1 | 0x80000000) >

[2019-06-10 09:33] wliyongfeng commented on #410
BTW, I use [bitcoinjs-lib](https://github.com/bitcoinjs/bitcoinjs-lib/blob/master/test/integration/addresses.js#L39) to generate the `P2SH` address.

[2019-06-10 13:14] #407 closed, assigned to nobody

[2019-06-10 16:01] szymonlesisz commented on #410
your input is pointing to Bitcoin instead of Testnet. Read more about bip44:
https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki

`address_n: [(48 | 0x80000000) >>> 0, 0, 0]`

should be:

`address_n: [(48 | 0x80000000) >>> 0, (1 | 0x80000000) >>> 0, (0 | 0x80000000) >>> 0, 0, 0]`

[2019-06-11 02:42] wliyongfeng commented on #410
@szymonlesisz Thanks for quick response. I think you are right with the `address_n`.

I changed the `address_n` to `[(48 | 0x80000000) >>> 0, (1 | 0x80000000) >>> 0, (0 | 0x80000000) >>> 0, 0, 0]` as your suggestion. But unfortunately, it still fails with the same error.

My new code:

[code]

My trezor popup with

1.
[code]

2.
[code]

Could you find any problem with my new code?
Any problem with

[2019-06-14 06:12] wliyongfeng commented on #410
It's the problem of `address_n`. Solved now.

[2019-06-14 06:12] #410 closed, assigned to nobody

[2019-06-14 14:11] szymonlesisz commented on #408
At the first sight: your "address_n" is not hardended, this is why you get `Path m/48/0/0 is unknown. Are you sure?` warning.
Also derivation path needs to point to correct change address (receiver of this input)
Try with:
[code]

[Read more about path](https://github.com/trezor/connect/blob/develop/docs/methods/path.md)

[2019-06-14 14:34] #392 closed, assigned to nobody

[2019-06-19 14:14] keepkeyjon opened #415 "feature: list which xpubs are being requested in getPublicKeys"
The current dialog in `getPublicKey` doesn't tell you which XPUBs are being requested when an app asks for more than one. It would be more user-friendly if that dialog told them which accounts this is giving full transaction history on.

[2019-07-04 00:26] floating opened #417 "https://sisyfos.trezor.io/connect-electron is no longer available"
https://sisyfos.trezor.io/connect-electron is no longer available and broke the current build. What is the official connect source with electron event functionality?

[2019-07-06 15:15] floating commented on #352
Any updates on node.js support? `trezor.js` should have been supported until connect was ready for node users

[2019-07-11 00:44] i-am-logger commented on #224
can you point me to the code ?

[2019-07-12 03:13] floating commented on #417
?

[2019-07-19 01:14] jafri opened #420 "Invalid parameters: Method eosGetPublicKey not found"
When calling `await TrezorConnect.eosGetPublicKey`. It launches https://connect.trezor.io/7/popup.html#loading and then returns the following error:

[code]

[2019-07-19 01:29] jafri commented on #420
I believe the https://connect.trezor.io/7 link needs to updated to the new version

[2019-07-19 12:43] floating commented on #417
Could we get an update on this?

[2019-07-19 16:07] pankrats commented on #417
@szymonlesisz probably would know

[2019-07-23 02:30] floating commented on #417
@szymonlesisz Any info?

[2019-07-23 17:18] szymonlesisz commented on #420
released as 7.0.4, sorry for delay

[2019-07-23 17:18] #420 closed, assigned to nobody

[2019-07-23 21:30] jafri opened #424 "EOS eosGetPublicKey error: "Iframe timeout""
@szymonlesisz  Getting the following error after new window is opened:

[code]

on first login with ```TrezorConnect.eosGetPublicKey```

[2019-07-23 21:43] jafri commented on #424
The second time the function is called, it goes a little further:

<img width="440" alt="Screen Shot 2019-07-23 at 3 36 30 PM" src="https://user-images.githubusercontent.com/13677357/61749533-363ddb80-ad60-11e9-8bdd-d0320f5a3c52.png">
<img width="477" alt="Screen Shot 2019-07-23 at 3 36 39 PM" src="https://user-images.githubusercontent.com/13677357/61749543-3b9b2600-ad60-11e9-9e6b-ede9171ea4ed.png

[2019-07-23 22:22] jafri commented on #424
Here is a testing URL, press login in top right and Trezor: https://5d37871e5ca929000ab4aaad--determined-carson-b95cce.netlify.com/

[2019-07-24 08:53] szymonlesisz commented on #424
maybe it will be easier to debug if you provide some code.
Here's mine working example:
https://jsfiddle.net/szlesisz/53uk06yL/

[2019-07-24 09:13] jafri commented on #424
@szymonlesisz thank you for the example.

It looks like all the issues were coming from setting appUrl to 'https://bloks.io' instead of 'bloks.io'

[2019-07-24 09:13] #424 closed, assigned to nobody

[2019-07-24 09:28] szymonlesisz commented on #424
so it will be a connect issue in manifest function, thanks for pointing that i will fix it in next release

[2019-07-24 10:29] szymonlesisz commented on #424
try with 7.0.5, it should be working with 'https://bloks.io' as well

[2019-07-24 12:50] ConnorMac opened #426 "TrezorConnect.stellarSignTransaction does not allow inclusion of additional signatures"
When trying to setup and sign mutli-signature transactions with a Trezor the stellarSignTransaction transaction json object does not allow the inclusion of a signatures array.

This means it's impossible to sign with more than 1 account as the the Trezor will not being signing the correct transaction without the first signature and the JS SDK will return an invalid signature error when trying to a

[2019-07-24 13:17] jafri commented on #424
Works great 🥇 🥇 🥇

Try it out at https://bloks.io

[2019-07-25 02:59] adacai1982 opened #427 "Unable to sign transaction when upgraded to 1.8.0 and using https://connect.trezor.io/7/trezor-connect.js"
When try to sign a btc transaction through the latest trezor connect after upgrading the firmware to 1.8.0 the web page stucked at "Please follow the instructions on the device", although I've already confirmed the transaction on the device.

[2019-07-26 14:42] szymonlesisz commented on #427
it should be fixed now (7.0.5), sorry for inconvenience

[2019-07-27 06:11] bytefly opened #428 "Invalid bitcoin output address ..."
I just deliver a tx to trezor connect to sign, but the API returns: Invalid parameters: Invalid Bitcoin output address 17UBanuHnVXu7QTZwMDij3TcHnN1ptBcvA. I've checked that the address is valid, and I don't know how to handle that now?

[2019-07-27 07:13] bytefly commented on #428
Sorry, my connect.js is too old. It's ok now after updating the latest script.

[2019-07-27 07:13] #428 closed, assigned to nobody

[2019-07-29 13:20] ghost opened #429 "Iframe timeout when calling trezor-connect inside sandboxed iframe"
Hey, @szymonlesisz. Getting `Iframe timeout` error when using trezor-connect inside sandboxed iframe with parameters `allow-scripts allow-popups`. Any help will be appreciated

It works with `allow-same-origin` parameter added, but I don't want to add it for a reason

Plunkr with example: https://plnkr.co/edit/670gh1P132uIPkpXgNrW?p=preview

[2019-07-30 01:53] floating commented on #417
Can we please just get an update on this? We'd really like to release a fix and we're not sure the status of things. We had everything working with connect.

[2019-07-30 11:02] ConnorMac commented on #426
@szymonlesisz Any chance to have a look at this yet? Trying to make sure I'm not missing something that isn't documented.

[2019-07-31 08:46] szymonlesisz commented on #417
Hi, sorry for delay, i'm just finishing working on version 8, it should be available by the end of the week

[2019-07-31 08:57] prusnak commented on #426
Please check the supported fields in this protobuf definition: https://github.com/trezor/trezor-firmware/blob/master/common/protob/messages-stellar.proto

If you require fields that are not there, the operation is not supported in the firmware (and that's the reason why it is not in the Connect).

[2019-07-31 08:57] #426 closed, assigned to nobody

[2019-07-31 09:24] szymonlesisz commented on #429
I think `allow-same-origin` is required to allow postMessaging between elements

[2019-07-31 09:24] #429 closed, assigned to nobody

[2019-07-31 09:25] #427 closed, assigned to nobody

[2019-07-31 14:53] ghost commented on #429
@szymonlesisz postMessage is working without `allow-same-origin` option when using with `*` parameter as origin parameter
Example here: https://plnkr.co/edit/9f1s3fUjptjyHw2cvuTt?p=preview

[2019-07-31 15:25] floating commented on #417
Great, thanks @szymonlesisz!

[2019-07-31 15:46] szymonlesisz commented on #429
yeah, but i don't want to use "*", for a reason :)

[2019-08-05 10:00] Ark-Chen opened #431 "about dust_limit ？"
dust_limit value on the btc chain is 546, but I see that the source code must be higher than 546
Can't equal 546 because of other reasons?

![image](https://user-images.githubusercontent.com/31213168/62455932-f89e7100-b7a9-11e9-9853-733495644f0d.png)

[2019-08-05 10:12] szymonlesisz commented on #431
`coinInfo` precisely data inside [coins.json file](https://connect.trezor.io/7/data/coins.json) are generated from [trezor-firmware/common](https://github.com/trezor/trezor-firmware/tree/master/common) repository.
If you think this value is invalid please report it there

[2019-08-05 10:12] #431 closed, assigned to nobody

[2019-08-06 04:49] cshung1994 opened #432 "How Can I send ETH transaction?"
I follow the doc but I have no idea about the respone (r, v, s)
[code]
response
[code]

[2019-08-06 08:49] szymonlesisz commented on #432
`v`, `r` and `s` are the values for the transaction signature.
You can use them for serialize transaction using `EthereumTx` library https://github.com/ethereumjs/ethereumjs-tx/blob/master/src/transaction.ts#L53-L64

[2019-08-06 08:49] #432 closed, assigned to nobody

[2019-08-06 15:12] floating commented on #417
@szymonlesisz Where can I find version 8 details?

[2019-08-06 22:40] #400 closed, assigned to nobody

[2019-08-07 17:06] szymonlesisz commented on #417
package `trezor-connect@8.0.0-rc.1` with electron support is already released,
i will keep it as `beta` release for a while to make sure that every implementation is working correctly.

You don't have to specify custom `connectSrc` now, just use default at https://connect.trezor.io/8/

[2019-08-07 17:24] eabz commented on #417
Thanks @szymonlesisz I have been waiting this release for months.
Tested and works!

[2019-08-09 08:20] Ark-Chen opened #436 "sign multisig error"
[code]
this is my params，
return “Pubkey not found in multisig script”

fromAddress：MPERDxzrKjGdYp7wJKTjmZnshbbXHXrZ1T
redeemScript：53210258f1f2c95384e3cba5887d18a3aef0f677a3676997eff49d13b6678e63ca28f52102cff23cb29afa266595cb6844f6d07d4fb58b3243c3879c70962d362be0b65b172102eeef88a1898dab1965b668c00bea3844b73b47b44e03dbe4a00d9dbea361243a2103958ee704b23b1e9db6f3cf604c6d281f2294058962a74555e3c729daa1

[2019-08-09 08:21] Ark-Chen commented on #436
@szymonlesisz

[2019-08-09 08:24] Ark-Chen commented on #436
"trezor-connect": "^7.0.3"

[2019-08-09 10:48] Ark-Chen commented on #436
sorry, I use the wrong path.

[2019-08-09 10:48] #436 closed, assigned to nobody

[2019-08-13 10:47] jafri opened #437 "EOS Action Error"
When passing in this action to EOS Trezor:

[code]

Trezor connect returns this error:
[code]

[2019-08-13 13:03] szymonlesisz commented on #437
could you provide whole "transaction" json?

[2019-08-14 15:07] jafri commented on #437
@szymonlesisz

[code]

[2019-08-15 06:28] szymonlesisz commented on #437
according to [types](https://github.com/trezor/connect/blob/develop/src/js/types/eos.js#L110-L114) it should be:
[code]

you have used `voter` instead.

[2019-08-15 06:30] jafri commented on #437
@szymonlesisz that is incorrect. It is voter on the EOS blockchain
<img width="455" alt="Screen Shot 2019-08-15 at 12 29 40 AM" src="https://user-images.githubusercontent.com/13677357/63076872-d1574a80-bef3-11e9-88a0-38f4c44f9277.png">

[2019-08-15 06:46] szymonlesisz commented on #437
EOS support was added to trezor-connect as a pull request by a third party and tbh i don't know much about this network, therefore there is a possibility that not all parameters have proper name.
I will change this to "voter". Could you please have a look and check the rest of EOS actions parameters are valid [here](https://github.com/trezor/connect/blob/develop/src/js/types/eos.js#L70-L144)? I do

[2019-08-15 06:52] jafri commented on #437
@szymonlesisz should be good now: https://github.com/trezor/connect/pull/438

[2019-08-15 10:52] szymonlesisz commented on #437
Cool, thanks for contribution!
It's merged and will be released in few hours as 8.0.1

[2019-08-15 10:54] #417 closed, assigned to nobody

[2019-08-15 11:01] szymonlesisz commented on #352
I've added node.js support to connect v8.
Youcan try it out by installing trezor-connect with ["extended" tag ](https://www.npmjs.com/package/trezor-connect/v/8.0.0-extended)
This package has a lot more dependencies than a regular one and until i rewrite this api to monorepo structure it will be maintained with "extended" tag in npm

[2019-08-15 11:18] jafri commented on #437
@szymonlesisz what is the process for adding new actions? Provide new types and new display messages?

[2019-08-15 11:28] szymonlesisz commented on #437
It would be to easy :)
Firstly you need to add those actions to the [firmware](https://wiki.trezor.io/Developers_guide-Contributing#Adding_a_new_coin)
After that you need to build new protobuf messages from `trezor-common` submodule and finally add types and [param tranformation](https://github.com/trezor/connect/blob/develop/src/js/core/methods/helpers/eosSignTx.js#L167) to `trezor-connect` (para

[2019-08-15 11:30] jafri commented on #437
Thanks for the steps @szymonlesisz :)

[2019-08-15 11:30] #437 closed, assigned to nobody

[2019-08-18 06:05] Crypto2 opened #442 "How to set login page icon (hostIcon) in current Connect?"
Upgrading from v4 here, got everything working but can't figure out how to set the image shown on the login page? I've tried icon, hosticon, and hostIcon in in the requestLogin() params but seemingly no result.

[2019-08-19 17:00] destrys commented on #401
This would be very useful.

[2019-08-20 07:58] szymonlesisz commented on #442
We have decided that we don't want to inject images from a thirdparty servers.
If you want to have your logo inside popup please make a PR with modified [config.xml](https://github.com/trezor/connect/blob/develop/src/data/config.json#L25) file where you specify your url and image and add your image to [icons directory](https://github.com/trezor/connect/tree/develop/src/data/icons)

[2019-08-22 11:25] danra opened #443 "Add support for EOS REX"
REX support is missing when connected to bloks.io with Trezor One.
From what I understood talking with bloks.io, to support this, Trezor Connect has to add support for the operation (or more in general, to non-standard EOS contracts).

Thanks,
Dan

[2019-08-23 08:05] szymonlesisz commented on #443
Hi @danra, not quite.
Connect is just a API which provides UI for the user and provide communication with Trezor device. Adding new operation to connect doesn't solve anything. From what i know connect supports all types of operations known by the device. [Here's](https://github.com/trezor/trezor-firmware/blob/master/common/protob/messages-eos.proto#L68-L82) a complete list of known operations.
To

[2019-08-23 16:07] danra commented on #443
I see - I will try and open a matching issue for the Trezor Wallet, then.

Thanks,
Dan

On Fri, Aug 23, 2019 at 11:05 AM Szymon Lesisz <notifications@github.com>
wrote:

[2019-09-08 23:02] vlddm commented on #122
Sure, but user also have to look at trezor connect popup window before every transaction signing. Quite annoying and slow.

[2019-09-09 20:29] stachrom opened #451 "trezor.io was on this blacklist (used by pihole)"
**blacklist**: https://github.com/StevenBlack/hosts
--> https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
This is used by pihole https://github.com/pi-hole/pi-hole.

And why on earth is the password manager (https://github.com/trezor/trezor-password-manager) not able to connect to trezor (t1) - without a working DNS connection to connect.trezor.io?

Can you explain, why this is nece

[2019-09-09 20:34] stachrom commented on #451
not anymore - they removed it already.
--> https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts is clean again.

I think the ban is introduced by https://gitlab.com/ZeroDot1/CoinBlockerLists

[2019-09-12 06:07] adacai1982 opened #452 "Wrong sender when signing without chain id set"
I'm using the https://connect.trezor.io/76/trezor-connect.js for trezor connet.
and signing the eth transaction without chainid (without EIP155 enabled), like this
`
	var transaction =
			{
				path: unsignedTransaction.sourceHdPath,
				transaction:{
					to: unsignedTransaction.targetAddress,
					value: unsignedTransaction.ethAmountToHex,
					//chainId: chainId,
					nonce: unsignedTransaction

[2019-09-14 19:25] kolontsov commented on #302
Hi, any updates on this issue?

[2019-09-18 10:46] MisterTicot commented on #382
@istrau2 Can you check the displayed information on your Trezor device for timebounds?

[2019-09-18 15:55] mroz22 opened #454 "Unknown message"
Probably we need to load message definitions conditionally because of the new backupType field. This happens when I send resetDevice with backupType field with 2.1.1 fw

![image](https://user-images.githubusercontent.com/30367552/65164331-fbdd7b80-da3c-11e9-83da-f27f3f19cd86.png)

[2019-09-18 20:05] istrau2 commented on #382
Hi @MisterTicot. Thanks for reporting. Can you be more specific on what issue you are seeing. In other words, what operation(s) are you submitting and what timebounds are you seeing (or not seeing)? What were you expecting to see and what appears to be incorrect?

Thanks.

[2019-09-19 01:41] MisterTicot commented on #382
@istrau2
I'm not reporting an issue
I was suggesting that your transaction from 16 April failed because Trezor doesn't handle timebound properly. You asked about it:

I think you can confirm it by trying to sign the transaction again, and checking the timebound information displayed on the device.

[2019-09-19 02:55] istrau2 commented on #382
@MisterTicot Ah, I see. The original issue is from many months ago. I don't remember how I resolved it but I did =)

[2019-09-23 19:58] jonathansmirnoff opened #455 "RSK wallet needs access to BTC 44'/0'/0' path"
In addition to his own path, the RSK wallet needs access to the BTC 44'/0'/0' path.
You can see that in the official documentation here: https://github.com/rsksmart/rskj/wiki/Send-funds-to-RSK.

We hope you can help with this issue. This is something new because in the past it was possible to access to BTC 44'/0'/0' path.

Thanks!

[2019-09-24 08:12] szymonlesisz commented on #455
I'm not sure that i understand whats the problem here. Btc path is accessible like it was before, nothing was changed in that matter

[2019-09-24 10:38] MisterTicot opened #456 "Any place I can privately report a security issue?"
You can contact me at REMOVED.

[2019-09-24 12:15] MisterTicot commented on #267
I'm closing it. I'm in the process of doing a complete check of what works & what doesn't & I will post a detailed report for each issue.

[2019-09-24 12:15] #267 closed, assigned to nobody

[2019-09-24 12:15] #456 closed, assigned to nobody

[2019-09-24 13:33] jonathansmirnoff commented on #455
@szymonlesisz thanks for your response.  The problem that we're having is that we need to use these methods: `TrezorConnect.ethereumGetAddress` and `TrezorConnect.ethereumSignTransaction` with the derivation path of btc. In the past, as I said, it was working.

Thanks!

[2019-09-27 12:07] fujiwaraizuho commented on #408
I'm also experiencing the same problem.
Is there any solution?

My Inputs:
<pre>
const inputs = [
    {
        address_n: [(44 | 0x80000000) >>> 0, (22 | 0x80000000) >>> 0, (0 | 0x80000000) >>> 0, 0, 0],
        prev_hash: 'b4070e816f727a795cc364f44ba0bb88d7174e8532076f63122f7e529d2c22a9',
        prev_index: 0,
        script_type: 'SPENDMULTISIG',
        multisig: {
            pubkeys: [

[2019-09-27 13:46] fujiwaraizuho opened #459 "signTransaction SPENDMULTISIG is showing a Firmware error on Trezor Model T v2.1.5"
**Same as #408**

Firmware error occurred when executing the following code on **Trezor Model T v2.1.5**.
Please tell me how to solve this!

Error:
<pre>
{
  "payload": {
    "error": "Firmware error",
    "code": "Failure_FirmwareError"
  },
  "id": 1,
  "success": false
}
</pre>

Code:
[code]

[2019-09-28 06:46] MisterTicot opened #461 "[BUG] Stellar signing / transaction timebounds"
**Issue**

Trezor doesn't displays `timebounds.minTime` proprely, but the signature is
valid.

**Transaction Template**

[code]

**Device Display**

`Valid from [no restriction]`

[2019-09-28 06:50] MisterTicot opened #462 "[BUG?] Stellar signing / binary text memo"
**Issue**

In js-stellar-sdk, text memo can be built either from a _String_ or a _Buffer_.
The later allow for binary values to be used. Trezor doesn't allow for a
_Buffer_ to be passed as MEMO_TEXT value, so it is unclear how this can be
achieved.

I tried to convert the _Buffer_ into ASCII characters, but the signature was
invalid.

**Transaction Template**

[code]

**Device Display**

`Memo (TE

[2019-09-28 06:51] MisterTicot opened #463 "[BUG?] Stellar signing / `bumpSequence` operation"
**Issue**

Trezor seems to parse the `bumpTo` field incorrectly and produce an invalid
signature.

**Transaction Template**

[code]

**Device Display**

[code]

[2019-09-28 06:53] MisterTicot opened #464 "[BUG?] Stellar signing / changeTrust operation"
**Issue**

Trezor seems to parse the `limit` field incorrectly and produce an `User
canceled` error when about to show the operation on the device.

**Transaction Template**

[code]

**Notes**

- When setting the limit to the maximum, "9223372036854775807", TrezorConnect
  throw a type error: "expecting integer".
- I noticed that in [messages-stellar.proto], `limit` is of type _uint64_ while
  in

[2019-09-28 06:56] MisterTicot opened #465 "[BUG?] Stellar signing / manageData"
**Issue**

I could not figure a way to get the right signature for setting data entries to
values that have a length that is not a multiple of 4 bytes.

In other words, when setting data entries to values whose length in bytes is a
multiple of 4, the signature is good. This including unsetting data entry (using
an empty buffer as value).

**What I tried**

- Encode value as hex.
- Write value into

[2019-09-28 06:59] MisterTicot opened #466 "[BUG?] Stellar signing / set/unset signer"
**Issue**

When trying to set a signer, the device doesn't display the operation but sign
the transaction. Then, the signature is invalid.

**Transaction Template**

[code]

**What I've tried**

- I tried weight=0 and weight=1.
- I tried with other key types (tx & hash).

[2019-09-28 07:03] MisterTicot opened #467 "[Feature] Stellar signing / missing operations"
**Issue**

4 of the Stellar operations are not supported by Trezor: inflation, createPassiveSellOffer, manageSellOffer & manageBuyOffer.

**Notes**

- `createPassiveSellOffer` is the new name for `createPassiveOffer` - `createPassiveOffer` is still supported in Stellar official libraries for backward compatibility purpose.
- `manageSellOffer` is the new name for `manageOffer` - `manageSellOffer` i

[2019-09-28 08:16] MisterTicot opened #468 "About the 7 issues I opened"
I'm writing an open-source library to ease integration of the Trezor wallet with Stellar applications. I just released a beta here: https://www.npmjs.com/package/@cosmic-plus/trezor-wallet

During the development, I tried to submit every & each possible transaction to the test network, and I opened an issue for each cases I could not solve.

In most case, I'm not sure if it is a bug or me doing so

[2019-09-30 07:48] szymonlesisz commented on #468
Hi @MisterTicot,
Thanks for your reports, but all of your issues are targeting the firmware so please move them to the [proper repository](https://github.com/trezor/trezor-firmware/)
`trezor-connect` is only a dummy api to call known Trezor messages - so if firmware doesn't have them implemented connect will not help you with that

[2019-09-30 07:54] MisterTicot commented on #468
@szymonlesisz Can you do it please? I don't have the required permissions to transfer an issue.

[2019-09-30 07:55] MisterTicot commented on #468
By the way, are you absolutely sure each issue is related to the firmware? It seems to be that some of the issues may be API related.

[2019-09-30 08:00] szymonlesisz commented on #468
[this one](https://github.com/trezor/connect/issues/463)  probably belongs here, but tbh. i dont have enough time to debug it right now

[2019-09-30 08:10] MisterTicot commented on #468
@szymonlesisz

Ok then I can only leave it in that state hoping you'll take over it soon. Unfortunately I can't sort it out for you.

Please acknowledge that I can't decently release a stable version of the library until those issues are solved. So if you guys still aim at a wide support into Stellar apps you probably want to take over it soon.

[2019-09-30 08:13] tsusanka commented on #468
@MisterTicot thanks for the reports. We will transfer most of the issues to trezor-firmware, even the ones where we are not sure, because we need to debug how the firmware behaves. Could you please write to each issue which Trezor are you using (Model One vs T) and which fw version?

We will try to address this soon, but please note that we have other duties at the moment as well. Also, the firmwa

[2019-09-30 19:58] keepkeyjon opened #469 "getPublicKey incorrectly reports `Bitcoin Account #1` for ETH xpub"
If I call `getPublicKey` with:

[code]

The UI says we're requesting ` Bitcoin legacy account #1`, which isn't correct. It should probably say something like `All Ethereum accounts` or something similar.

[2019-10-01 07:38] szymonlesisz commented on #469
use `ethereumGetPublic` key method instead or do not use "crossChain" parameter

[2019-10-01 09:12] MisterTicot commented on #468
@tsusanka I'm using Trezor One with the latest firmware

[2019-10-01 12:02] #459 closed, assigned to nobody

[2019-10-02 12:11] maxd opened #472 "[QUESTION] Why `signTransaction` has such cumbersome interface?"
Trezor Wallet has [simple UI](https://wiki.trezor.io/User_manual-Making_payments#Enter_the_destination_address_and_the_amount) to transfer money (need to fill ~3 fields: `Destination Address`, `Amount`, `Currency`). Some Trezor Connect methods has similar interface (i.e. `ethereumSignTransaction` or `rippleSignTransaction` methods).

But `signTransaction` has completely different interface. For ex

[2019-10-04 18:20] jonathansmirnoff commented on #455
@szymonlesisz did you have the chance to review the issue that I explained?

[2019-10-06 05:19] Rovak opened #473 "No tests being executed"
I'm working on implementing tests for TRON but somehow i keep getting the result that no tests are being executed: `Executed 0 of 22`

The test can be found at https://github.com/Rovak/connect/blob/495765a66efb397447bc7f648924994e504ffe16/src/__tests__/core/tronSignTransaction.spec.js

I'm using the latest `trezor-firmware` version, how can i actually execute the tests?

[code]

[2019-10-06 07:57] Rovak commented on #473
Fixed it by killing the `trezord-go` background service

[2019-10-06 07:57] #473 closed, assigned to nobody

[2019-10-08 15:10] szymonlesisz commented on #455
Hi @jonathansmirnoff  looks like its firmware issue after all. moving to firmware repo

[2019-10-08 15:29] szymonlesisz commented on #463
connect expects `to` [parameter](https://github.com/trezor/connect/blob/develop/src/js/core/methods/helpers/stellarSignTx.js#L207) you are using `bumpTo`.

Should i rename it?

[2019-10-09 16:47] #443 closed, assigned to nobody

[2019-10-09 16:57] #395 closed, assigned to nobody

[2019-10-10 10:55] MisterTicot commented on #463
I think so, as you're trying to match the official API: https://www.stellar.org/developers/guides/concepts/list-of-operations.html#bump-sequence

As far as I can tell, people who support Trezor are not making use of this feature so far, so I think this still time to change it.

(By the way thank you for pointing it, I totally missed it when looking for solutions)

[2019-10-11 12:10] mroz22 opened #475 "features.recovery_mode"
`features.recovery_mode` field is not set/updated correctly as it changes on device so it seems to be the root if this issue https://github.com/trezor/trezor-suite/issues/1024#issuecomment-601178179 happens for both webusb and bridge.

[2019-10-13 17:37] #469 closed, assigned to nobody

[2019-10-14 13:58] szymonlesisz commented on #468
Hi @MisterTicot ,
I've fixed multiple issues [here](https://github.com/trezor/connect/pull/474/commits/d317e35cee43bebc43504553b208569f88bd54e0)

- fixed [`uint64` issue](https://github.com/trezor/connect/issues/464)
- fixed [`bumpSequence` issue](https://github.com/trezor/connect/issues/463)
- fixed flowtype (required/optional params and amounts/sequence/... as strings)

I've also add a tool whic

[2019-10-14 14:24] #442 closed, assigned to nobody

[2019-10-14 14:25] #408 closed, assigned to nobody

[2019-10-14 14:30] szymonlesisz commented on #472
It's caused by complexity of Bitcoin (and other bitcoin-like coins).
You need to known your inputs and their previous transactions in order to sign them.
The wallet UI that you are referring to is simplified because wallet already knows those data from account discovery process but i can ensure you that they are used during in signTransaction.

[2019-10-14 14:30] #472 closed, assigned to nobody

[2019-10-14 15:06] szymonlesisz commented on #302
Fixed in 8.0.7 for Cardano, Stellar, Ripple and Lisk. Bitcoin-like (doge, etc...) was unaffected

[2019-10-14 15:06] #302 closed, assigned to nobody

[2019-10-14 16:59] Crypto2 commented on #442
Before I do a PR is this the correct format? https://github.com/CoinPaymentsNet/connect/commit/b50e6eb6498b8b8f8d65f6119987aa8056584365#diff-eddd43f5c219d893a272123d5754ddc4

[2019-10-15 08:36] szymonlesisz commented on #409
It's not problem of tx version rather "script_sig" field of `refTxs`
It's not a valid hex (odd length 209) and includes space (looks like two hexes for me)

[2019-10-15 08:36] #409 closed, assigned to nobody

[2019-10-16 03:06] MisterTicot commented on #468
@szymonlesisz

I'm looking into it - I think I'm going to PR a few changes. Anyway, this is great work. Thank you for that.

Any clue when this can be released? Meanwhile, is there a way I can include the latest revision into my test interface?

[2019-10-16 04:51] MisterTicot commented on #468
@szymonlesisz

https://github.com/szymonlesisz/trezor-connect-stellarsdk/pull/1
https://github.com/trezor/connect/pull/478

Please let me know if everything is ok.

[2019-10-16 07:53] szymonlesisz commented on #468
connect with those changes was already released 2 days ago:
https://www.npmjs.com/package/trezor-connect/v/8.0.7

new firmware is released every first wednesday of the month, however you can already test it with emulator from master branch
https://github.com/trezor/trezor-firmware/blob/master/core/docs/emulator/index.md

I've add a comment to your PR

[2019-10-16 08:17] szymonlesisz commented on #468
I've noticed that you also did a PR in firmware with `manageBuyOffer` operation. Maybe i should add/prepare connect to support it too? And what about `pathPaymentStrictSend`? tbh i don't understand stellar too much and i don't know what it does exactly, but i've noticed that we don't have support for those two operations

[2019-10-16 09:59] MisterTicot commented on #468
That would be great!

This is a new operation that is expected to get enabled for mainnet in two weeks and that is already available on the testnet. Details are [here](https://www.stellar.org/developers/blog/horizon-v0-22-0-released-protocol-12-support).

It is a conversion+transfer. pathPaymentStrictReceive (previously pathPayment) is like:

`Convert up to N Ethereum to send exactly 200USD to Ali

[2019-10-16 10:42] szymonlesisz commented on #452
did you update firmware recently?
from connect point of view there were no changes in this method for a long time, especially in version 7

[2019-10-16 10:43] #451 closed, assigned to nobody

[2019-10-16 10:43] szymonlesisz commented on #451
thanks for report

[2019-10-16 10:56] MisterTicot commented on #468
https://www.npmjs.com/package/trezor-connect/v/8.0.7

I'm not sure if this is intended, but this is marked as a beta release - the latest being 7.0.5. Is it safe to switch?

[2019-10-16 11:04] szymonlesisz commented on #468
yes, it is safe to use. it's marked as `beta` because there was [multiple breaking changes](https://github.com/trezor/connect/blob/develop/CHANGELOG.md#800) in communication process between host, iframe and popup and also in "backend" layer and export targets (nodejs and electron support). I'm still adding/fixing few things there, but it affects only "bitcoin-like" and "ethereum-like" coins and i

[2019-10-16 12:06] MisterTicot commented on #468
I just swiched to Trezor-Connect 8.x & latest T1 firmware:

- `bumpSequence` works fine

- `changeTrust` gives me `user cancelled` instead of showing the operation confirmation screen. I tried with `limit: "0"`, `limit: "10000000000"` and max limit (`"9223372036854775807"`). Example:

[code]

- `manageData` still breaks on non-4 byte round values, so I guess the firmware
  fix has not been release

[2019-10-16 12:15] szymonlesisz commented on #468
`changeTrust` is expecting "line" not "asset" field

I wouldn't expect to be released since fixes was added 14 days ago :)

Like i said before, you can test it with emulator from master branch of `trezor-firmware` those fixes are already there. This is where i get trezor signatures from (signatures used on my test repo)

[2019-10-16 12:52] MisterTicot commented on #468
Right on the spot − works great now. Looks like we're not far from having everything fixed. Thank you guys :D.

[2019-10-19 09:41] MisterTicot opened #479 "[BUG] Stellar Signing / Wrong Handling of Tx Source Account"
(I don't know if it comes from Connect of Firmware, please move the issue if relevant)

**Issue:**

Signing a transaction which use another source than the Trezor device leads to a wrong signature (in multi-signers account). Also, the device (T1) doesn't displays the information about the source account pubkey being used.

**Tx Template:**

Cannot come with one - happens with any kind of transacti

[2019-10-21 10:13] szymonlesisz commented on #479
Looks like FW issue to me, connect doesn't work with keys and does not validate them at all.
I'm moving this to firmware repo

[2019-11-04 16:40] fujiwaraizuho opened #487 "Add support for BitZeny"
Hi.
Thank you for a very good library!

BitZeny is also registered in trezor-firmware and trezor-common and strongly requests support.
https://github.com/trezor/trezor-firmware/pull/155

This should be solved simply by updating coins.json

[2019-11-08 07:43] MisterTicot commented on #464
Fixed

[2019-11-08 07:43] #464 closed, assigned to nobody

[2019-11-08 07:43] MisterTicot commented on #463
Fixed

[2019-11-08 07:43] #463 closed, assigned to nobody

[2019-11-08 08:31] MisterTicot opened #488 "Feature: improve pubkeys exportation UX"
**Motivation**

Exporting pubkeys to application involves user interactions that could be skipped without weakening Trezor security model.

## Current situation

At that time, we have to confirm the exportation of the same pubkeys to the same applications each time we want to use it. This is redundant & annoying.

**Case 1: `Ask me again`**

Unless user checked `Don't ask me again`, pubkey exporta

[2019-11-11 07:29] jhrespicio opened #489 "`limit` parameter in signing a Stellar `changeTrust` operation does not accept the maximum"
The maximum `limit` in a Stellar `changeTrust` operation is `922337203685.4775807` ([see](https://www.stellar.org/developers/guides/concepts/assets.html)), and it is the default value . If the `transaction` is converted to a Trezor transaction, the limit is converted to a raw integer, thus to `9223372036854775807`. Upon signing with Trezor, Trezor returns an error on such a figure: `integer expect

[2019-11-11 10:59] szymonlesisz commented on #489
try with https://connect.trezor.io/8/trezor-connect.js (version 8)
[Multiple stellar issues](https://github.com/trezor/connect/blob/develop/CHANGELOG.md#807) were fixed recently

[2019-11-11 13:58] jhrespicio commented on #489
@szymonlesisz that did it.

[2019-11-11 13:58] #489 closed, assigned to nobody

[2019-11-14 23:12] #487 closed, assigned to nobody

[2019-11-19 13:43] sorooris opened #496 "Wrong URL for downloading Bridge in Connect 7 pop-up"
Connect 7 with MyEtherWallet
Prerequisite: Bridge not installed

**Steps to reproduce:**
1. Navigate to a third party wallet (e.g. MEW) and s
2. Select the option to user with hardware (i.e. Trezor)
3. Connect pop-up with a Bridge download prompt is displayed

**Expected behavior:**
The URL of the link in the button redirects to the specific Bridge download page - https://wallet.trezor.io/#/bridge

[2019-11-21 11:23] vladimirvolek opened #498 "Add base image with bridge and emulator"

[2019-11-22 12:28] #498 closed, assigned to nobody

[2019-11-24 18:26] 93Kamuran commented on #94
Hi, could you find a solution for your problem ?

Im looking for this on  a few days

[2019-11-28 11:54] chrdevmar opened #500 "Trouble running tests"
Hi guys, I'm having trouble getting the tests to run, I seem to be having a similar issue to #473 but killing the trezord background service doesn't help. In fact I think it makes it worse as the debug output errors with `Error in BridgeTransport.init', TypeError: Failed to fetch` if I attempt to run tests without the transport process running. I have tried running bridge both with and without emu

[2019-11-30 00:39] chrdevmar commented on #500
Attempting to debug more now, I am running tests from the `develop` branch so none of my changes are included. I don't think that my tests are ever able to get past the jasmine beforeEach hooks in `core.test.js`. I receive a `transport-start` event and the transport gets initialised successfully, but no other events end up coming through after that so the `done` callback never gets executed. Any a

[2019-11-30 16:03] szymonlesisz commented on #500
Hi ScaredIbis,
Yeah, tests are the long time issue and they need to be refactored. They works only on certain configuration. My advice do not waste your time with this karma setup. Im already working on migration to jest in [feature/tests](https://github.com/trezor/connect/tree/feature/tests) branch.
However it's not finished yet and not documented at all

[2019-11-30 23:32] chrdevmar commented on #500
Thanks for the reply, FYI we will probably be opening up a PR early next year. Hopefully the timing works out so we can implement some tests using the changes from that branch.

[2019-12-04 11:30] mroz22 opened #504 "Race condition in node"
When I run a method with invalid params in node environemnt.

It goes here:

https://github.com/trezor/connect/blob/b9452183b4ffd3168c3865b79a8ca2b1e3096e04/src/js/core/Core.js#L272

Then core event is emitted and handled here:

https://github.com/trezor/connect/blob/b9452183b4ffd3168c3865b79a8ca2b1e3096e04/src/js/env/node/index.js#L54-L66

As a result, promise is deleted from messagePromises on l

[2019-12-08 10:00] Cabecinha84 opened #506 "Iframe timeout -> Popup blocked"
I was trying to use the official trezor connect on one electron app and got a iframe timeout and a popup saying that the popup was blocked when trying to use any api method.
Had the same problem with trezor-connect-electron-boilerplate project and raised a issue there.
<img width="960" alt="Error_trezor_connect" src="https://user-images.githubusercontent.com/42519726/70387807-892bce80-19a1-11ea-9f

[2019-12-10 09:16] szymonlesisz commented on #506
I cannot help you without code example

[2019-12-10 09:20] Cabecinha84 commented on #506
just running boilerplate project without changing anything. The error on print screen is what I get running it.
https://github.com/szymonlesisz/trezor-connect-electron-boilerplate/issues/5

[2019-12-10 09:53] szymonlesisz commented on #506
Oh i see, yeah this example is a little bit outdated and i don't have a time to maintain it.
Change connect version:
`yarn add trezor-connect@8.0.11-extended`

Use proper endpoint (or do not set it at all, it's default value):
`
TrezorConnect.init({
    connectSrc: 'https://connect.trezor.io/8/',
}
`

You can also check one of these examples (not finished yet):
https://github.com/trezor/connect/tr

[2019-12-12 12:56] #296 closed, assigned to vladimirvolek

[2019-12-19 03:17] dhruvbansal opened #509 "Can we make `TrezorConnect.getAddress` work with multisig addresses?"
The `TrezorConnect.getAddress` method does not respect `multisig` or `script_type` parameters when passed.  This prevents the Trezor device from displaying a multisig address, at least when being accessed through TrezorConnect.

* The [docs for TrezorConnect.getAddress](https://github.com/trezor/connect/blob/develop/docs/methods/getAddress.md) do not discuss the `multisig` nor `script_type` parame

[2019-12-20 21:46] Mrtenz opened #511 "WebUSB documentation"
Is there any documentation on using WebUSB? I tried simply using the `webusb` option on `TrezorConnect.init`, but that doesn't seem to work. Is there anything else needed to use WebUSB instead of Trezor Bridge?

[2019-12-21 11:33] nodech opened #512 "Message builder exports functions and are used as classes"
I changed babel configs so it outputs `async/await` code for node.js to make debugging easier, but it can't be used right now:
 Message builder: https://github.com/trezor/connect/blob/develop/src/js/message/builder.js exports functions that will be exported as arrow functions if you target later browser/node, but because arrow functions can't be used as constructors it will fail.

So either messag

[2019-12-21 15:10] nodech opened #513 "Device: firstRunPromise will resolve many times"
Even though first run promise, should be resolved once -- https://github.com/trezor/connect/blob/929d37c59bb1d079861fb27cffb795f19c5a477f/src/js/device/Device.js#L303 will resolve every time there's incoming call (If understand that part correctly)

Fact is, that promise resolves several times, it could probably fixed by `this.loaded` first.

[2019-12-21 15:23] nodech opened #514 "No bundle payload (babel issue?)"
Somehow changing target for this code:
https://github.com/trezor/connect/blob/929d37c59bb1d079861fb27cffb795f19c5a477f/src/js/core/methods/GetPublicKey.js#L34

Specifically object spread into array: `[ ...message.payload ]`, this wont change with the new target where spreads are available and wont work because `Object is not iterable`, whereas old target (IE9) will produce `[].concat(message.paylo

[2019-12-21 16:49] szymonlesisz commented on #513
there is only one place in code where it's checked:
https://github.com/trezor/connect/blob/develop/src/js/core/Core.js#L359-L362

so resolving this promise multiple times will not have any side effects.
Anyway thanks for pointing that out, it should be done better

[2019-12-21 16:51] szymonlesisz commented on #514
good catch, params validation is a mess and needs to be refactored

Thanks

[2019-12-21 16:56] szymonlesisz commented on #512
again, good catch :) and thanks for your contribution :)

to be honest this is that part of the code which i likely do not touch until it's working :)
but seriously, we are planning massive refactoring to typescript and monorepo structure so this kind of stuff will be refactored

[2019-12-22 13:07] nodech commented on #513
Yeah, there are no side effects. Just test runner threw an error that there were multiple resolves, so I decided to look into it.

[2019-12-22 13:10] nodech commented on #512
I believe that will take quite some time, looking forward to new updates. I could create PRs that I am using currently locally to get rid of the errors and have modern js output for node.
It is not be a big change though.

[2019-12-22 14:38] nodech opened #515 "Node support - clean up"
I could not find a way to clean up after I am done with trezor, and there's leaking connection to the bridge server. Even if you clean up everything in trezor-connect, there will still be fetch request to `/listen` and currently there's no way to pass `signal` from `Abortcontroller`, so the process will get stuck unless device connect/disconnect event happens. I could not think of good way to do t

[2019-12-30 03:36] Gabriel-2010 commented on #506
I have the same issue. It always appeared when trying to use any API method. But it works occasionally after many tries. Does it have a good solution? I doubt whether the timeout period is too short?

[2020-01-04 12:36] #512 closed, assigned to szymonlesisz

[2020-01-04 12:36] #513 closed, assigned to szymonlesisz

[2020-01-04 12:36] #514 closed, assigned to szymonlesisz

[2020-01-04 15:48] prusnak commented on #509
Hey Dhruv!

We just released connect 8.0.13 with your changes. Please test them out and report back whether everything works as expected.

Thank you for the contribution and @szymonlesisz for reviewing and adapting the changes!

[2020-01-04 15:48] #509 closed, assigned to nobody

[2020-01-15 07:57] Cabecinha84 commented on #506
Hello, even with those changes, it doesn't work. Really would like to give it a try to add trezor support to zelcore.

[2020-01-17 08:11] prettyCoders opened #518 "help"
![图片](https://user-images.githubusercontent.com/36216120/72595090-09036c00-3944-11ea-815d-6102aa349fde.png)

[2020-01-17 08:36] szymonlesisz commented on #518
your derivation path `m/45'/0/0/0` is not valid [bip44 path](https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki) and doesn't match Bitcoin Testnet pattern. It should be: `m/44'/'1'/0'` or `m/48'/'1'/0'` or `m/84'/'1'/0'`

however if you still want to get keys from your custom path "coin" parameter should not be set

[2020-01-17 08:36] #518 closed, assigned to nobody

[2020-01-17 10:47] prettyCoders opened #519 "help"
![图片](https://user-images.githubusercontent.com/36216120/72606501-ad43dd80-3959-11ea-8ef3-3959409413b8.png)
What is the script_sig?Is redeemScript?

[2020-01-17 10:50] prettyCoders commented on #519
![图片](https://user-images.githubusercontent.com/36216120/72606744-1c213680-395a-11ea-93bc-78244f8ff815.png)
This is my input ,It can be sign success, but it is invalid

[2020-01-19 07:39] prettyCoders commented on #519
anybody there?

[2020-01-23 14:37] nodech opened #520 "Accept P2WSH outputs."
If you have P2WSH output for transaction, code will still try to create P2WPKH instead and throw `Output ${i} scripts differ.`.

Code that generates incorrect script for p2wsh is in `js/core/methods/helpers/signtxVerify.js`:
  https://github.com/trezor/connect/blob/6b568b2f6828951fac64009a4d542f5391e220ca/src/js/core/methods/helpers/signtxVerify.js#L56

example solution could look like this:
[code

[2020-01-28 05:04] fujiwaraizuho opened #521 "About updating coins.json"
Why are coins added to Trezor Firmware not always added to coins.json?

https://github.com/trezor/connect/blob/develop/src/data/coins.json

[2020-01-28 19:05] nodech opened #523 "Ripple tests failing"
I noticed two tests for ripple are failing, when I ran tests for https://github.com/trezor/connect/pull/522.

Tests that are failing:

[code]

[2020-02-05 15:08] tommq opened #524 "getting an address from getAccountInfo"
I am integrating connect into out react app. I would like user to be able to choose an address from trezor which we save for later use.

I tried the getAccountInfo method the discovery way, but response only has xpub/zpub/ypub and derivation path. I call:

[code]

And get:

[code]

My question is if there is any way to get the address user selected. Dealing with xpubs seems unnecessary and complex

[2020-02-06 12:26] szymonlesisz commented on #524
use:
`
TrezorConnect.getAccountInfo({
  coin: "btc",
  details: "tokens"
});
`
https://trezor.github.io/connect-explorer/#/method/getAccountInfo-advanced

[2020-02-06 12:27] #524 closed, assigned to nobody

[2020-02-13 12:30] nodar-chkuaselidze opened #528 "popupPromise resolves"
Even though this does not cause issues, I believe properly managing promises is better then this behaviour: in `js/core/Core.js` `_popupPromise` is being resolved multiple times here: https://github.com/trezor/connect/blob/18c7f2fab1aa06969415bf9f9bf903253dcefa84/src/js/core/Core.js#L122

It may need more than simple fix, anyway it's not a big one.

[2020-02-13 15:44] mroz22 opened #529 "backup device method does not pass params"
just make it accept params and pass them to call()

https://github.com/trezor/connect/blob/18c7f2fab1aa06969415bf9f9bf903253dcefa84/src/js/index.js#L266-L268

[2020-02-18 14:02] mroz22 commented on #529
resolved by https://github.com/trezor/connect/commit/9e10d89e4acbda13e0461d4e1b97ed22b51358c7

[2020-02-18 14:02] #529 closed, assigned to nobody

[2020-03-02 06:30] webees opened #531 "Is there an example of multisig for GetAddress?"
**I really don't know what to do, hope to get some help, thanks.**

**I sent to the device:**
[code]
**But got a reply:**
[code]
**This is the data object:**
[code]

[2020-03-03 09:10] tsusanka commented on #531
Hi, I have created a new issue: https://github.com/trezor/trezor-firmware/issues/888 this is either a bug or we should return a more meaningful message. Will look into it soon.

[2020-03-11 16:52] webees commented on #531
I already know how to use it. 3q.

[2020-03-12 23:13] bucko13 commented on #520
+1 on this issue. I'm getting the same error when trying to sign a tx with a bech32, P2WSH address in the output.

[2020-03-13 22:14] bucko13 opened #533 "Unable to run test suite"
After following the instructions on running the test suite, I end up in a state where none of the tests seem capable of running. For example, running `npm run test -- -t signTransaction` gives me

[code]
The trezord seems to be running as I can access the status page at `http://127.0.0.1:21325/status/`.
When I run the test, the emulator is spun up and I can see the emulated trezor screen run throu

[2020-03-13 22:39] bucko13 commented on #520
Also want to add that this seems to be a regression. The same transaction is able to be signed when using connect v^7, but fails with the `Output ${i} scripts differ.` error when using v8.

[2020-03-14 14:51] vctt94 opened #535 "Can't connect to node application"
I am trying to use trezor-connect to connect into this repo: https://github.com/matheusd/trezor-decred-poc

But as it is in nodejs, I am receiving the following error: `throw new Error('This version of trezor-connect is not suitable to work without browser');`

Before we were usinng `trezor.js`, which worked just fine. Is There a forecast for supporting node, or another lib I can use?

[2020-03-16 08:20] szymonlesisz commented on #535
Hi @vctt94,
Try with `trezor-connect@8.1.0-beta.2` or `trezor-connect@8.0.13-extended`

[2020-03-16 08:58] szymonlesisz commented on #533
Are you sure that you are running those test agains emulator and not physical trezor device?
Error clearly says that this is not a `debug link` device.
Debug link (emulator) is mandatory to allow "click on device" (decision) operation

[2020-03-17 20:39] #521 closed, assigned to nobody

[2020-03-18 10:50] #504 closed, assigned to nobody

[2020-03-18 11:01] szymonlesisz commented on #520
could you please provide some code example?

[2020-03-18 11:10] szymonlesisz commented on #519
its a input script signature hex
https://tbtc1.trezor.io/tx/b42c658796927fb4d75aa7c5c404be78718c814b4fcd9a22a077a8c876a7240f

[2020-03-18 11:10] #519 closed, assigned to nobody

[2020-03-18 13:12] szymonlesisz commented on #523
fixed

[2020-03-18 13:12] #523 closed, assigned to nobody

[2020-03-18 20:27] bucko13 commented on #520
The issue itself is pretty straightforward in that if you try and sign a tx that pays to a P2WSH output (program length of `32` rather than the P2WPKH length of `20`) then the signing will fail with the same error message indicated by OP.

I've put together a test app you can use to verify yourself though in codesandbox: https://codesandbox.io/s/trezor-connect-signing-bug-pdh4e

I can also verify

[2020-03-19 12:25] #520 closed, assigned to nobody

[2020-03-19 12:31] szymonlesisz commented on #520
wow, great example :)
PR merged, thanks!
i've also added some [unit testing ](https://github.com/trezor/connect/commit/df224ea4f97863d91ecd37486f60d923aeb1090a)

[2020-03-23 11:41] #295 closed, assigned to szymonlesisz

[2020-03-23 22:13] vctt94 commented on #535
When trying the suggested libs, I get an event `UI_EVENT` with type `ui-no_transport`.

Is there a way to get transport?

[2020-03-24 07:10] szymonlesisz commented on #535
you need install trezord (trezor bridge) https://wallet.trezor.io/#/bridge

[2020-03-24 11:54] vctt94 commented on #535
I am using https://github.com/trezor/trezord-go, which used to work with `trezor.js`.

But I also tried with this bridge and got the same result. Should I really just init trezor-connect and it is fine to use?

code right now:

[code]

And the event handler which I see the `no-ui_transport`error:

[code]

[2020-03-24 19:07] szymonlesisz commented on #535
yes, the code is correct, the fact that you get an UI_EVENT means that connect is running correctly but coulnd't reach trezord for some reason. Whats your setup?

[2020-03-24 19:20] vctt94 commented on #535
I am using `trezord-go`, as citted.

Running the python emulator from https://github.com/trezor/trezor-firmware at latest master. commit: 8ddf799cad4f3e5d6f13d22f21154d2d572c8519

And I am trying to connect to the repo linked above

[2020-03-24 19:24] szymonlesisz commented on #535
I meant your total setup, Os, node version
Do you see some logs while running trezord?

I've just run your code without problem, so the issue will be somewhere in the setup

[2020-03-24 19:30] vctt94 commented on #535
My bad.

OS: Debian GNU/Linux 10 (buster)
Node version: v13.9.0

Logs from trezord:

[code]

Logs from emulator:

[code]

[2020-03-25 06:07] szymonlesisz commented on #535
so there is some communication going on, there were two requests to `trezord` and `Initialize` call in emulator, yet you get "no transport error". Looks impossible :)

[2020-03-25 08:23] szymonlesisz commented on #535
and the same setup works with 'trezor.js' but it doesnt with 'trezor-conect'?

[2020-03-25 08:42] mroz22 commented on #475
Okey, we are going to solve this from client;

[2020-03-25 08:42] #475 closed, assigned to mroz22

[2020-03-25 09:26] ecdsa256k1 opened #546 "Dose trezor support XRP/Ripple multi sign transaction?"
Is it possible to send Multisig transaction using trezor?

[2020-03-25 09:55] szymonlesisz commented on #546
Not yet, however there is a pull request with multisig implementation in https://github.com/trezor/trezor-firmware/pull/848 repo

[2020-03-25 09:55] #546 closed, assigned to nobody

[2020-03-25 12:59] vctt94 commented on #535
Yeah, it does. But the device got disconnected when I try to get the address, for example, with the latest firmware. Here are the logs:

trezord:

[code]

Logs from emu.py:

[code]

Logs from application:

![image](https://user-images.githubusercontent.com/15069783/77538922-46720180-6e7f-11ea-9359-415a454cf1ab.png)

[2020-03-25 16:23] szymonlesisz commented on #535
magic! `trezor.js` and `trezor-connect` both are using the same code for communication with `trezord`

could you check it again with this simple project?
https://github.com/szymonlesisz/connect-nodejs-example

[2020-03-25 17:48] vctt94 commented on #535
Output from this simple project:

[code]

[2020-03-25 18:00] szymonlesisz commented on #535
ok, so `trezor-connect` is working correctly it returns response (failed, but still) there is a visible communication with bridge and no `ui-no_transport` error so we can say that it's not a connect problem

i would blame `trezord` how do you run it, with what params?

[2020-03-25 18:04] szymonlesisz commented on #535
or maybe try to run official build instead of trezord master (it could be broken, afaik there were some changes recently)

[2020-03-25 18:19] vctt94 commented on #535
Running at trezord latest build `v2.0.29` throws that error. At `v2.0.28` it works as expected!

Thanks for helpping me debbug this @szymonlesisz, really appreciate your help.

Closing this issue as it is not related with trezor connect

[2020-03-25 18:20] #535 closed, assigned to nobody

[2020-03-26 10:35] tsusanka commented on #535
@vctt94 do you think you could try out on the branch `tsusanka/udp-timeout` in trezord-go? I have increased the timeouts. Don't forget to pull, the commit should be 93c72e438b5f7fcdd66305501311e848f3fda984.

[2020-03-26 12:54] vctt94 commented on #535
@tsusanka Worked here

[2020-03-29 11:57] PavelNiedoba opened #547 "trezor connect generates bech32 adresy by default"
But trezor web interface don't support them. Please generate addresses recognized by web client by default. also finish bech32 support.

here is what happens to trezor users

https://client.simplecoin.eu/en/post/adresses-bc1-bech32-from-trezor-wallet

i don't want to give them heart attacks

[2020-03-29 17:41] szymonlesisz commented on #547
fixed https://github.com/trezor/connect/pull/548 and already released
Thanks for pointing that out

[2020-03-29 17:41] #547 closed, assigned to nobody

[2020-04-05 23:00] lnbc1QWFyb24 opened #554 "Connect Stuck on Loading (Firefox)"
When using version `8.0.13`, the connect popup stays stuck on the loading spinner when using Firefox(version `74.0.1`).

Version `8` works correctly on Chrome, and version `7` also works correctly on both Firefox and Chrome.

[2020-04-06 11:18] CodeForcer opened #555 "How to sign P2WSH transactions using Trezor?"
I run a non-custodial exchange and would like to support Bitcoin trading for my customers using their Trezor wallets.

Unfortunately, to do so I require the ability for a Trezor to sign a transaction which contains a custom unlocking script, according to the BIP 143 standard as defined here (https://github.com/bitcoin/bips/blob/master/bip-0143.mediawiki#Native_P2WSH). I cannot figure out how to do

[2020-04-08 19:04] Matt561 commented on #314
I am in the same boat. I do not know what to pass into signTransaction and keep getting invalid signatures because of it.

Would appreciate a clear answer!

[2020-04-08 21:43] prusnak commented on #314
@tsusanka or @matejcik can you please help with the answer and then close the issue? Thanks!

[2020-04-09 09:12] matejcik commented on #314
You need to use script-type `SPENDWITNESS`/`PAYTOWITNESS` together with multisig fields to get a segwit multisig. Same thing with p2shwitness (for p2sh-wrapped-segwit).

[2020-04-09 10:17] #314 closed, assigned to nobody

[2020-04-16 14:18] vctt94 opened #562 "Support Decred"
decred is supported by trezor-firmware, but it is not supported for trezor-connect right now.

We used trezor.js for our connection, but with that being deprecated, now we need to support decred at trezor-connect, so we can still supporting trezor.

[2020-04-16 17:31] dixefaj949 opened #565 "composeTransaction function does nothing."
I am trying to use the composeTransaction function to send bitcoin, It does not return a error, no success message and there is nothing displayed on my trezor.
This is my code:
`var TrezorConnect = require('trezor-connect').default;
//var TrezorConnect = require('./tools');

TrezorConnect.manifest({
    email: 'developer@xyz.com',
    appUrl: 'http://your.application.com'
})

// params are key-val

[2020-04-16 17:31] dixefaj949 commented on #565
`var TrezorConnect = require('trezor-connect').default;
//var TrezorConnect = require('./tools');

TrezorConnect.manifest({
    email: 'developer@xyz.com',
    appUrl: 'http://your.application.com'
})

// params are key-value pairs inside Object
TrezorConnect.composeTransaction({
    outputs: [
        { amount: "200000", address: "ADDRESSHERE" }
    ],
    coin: "btc",
    push: true
});`

[2020-04-16 18:31] szymonlesisz commented on #565
it should be working like this:
https://trezor.github.io/connect-explorer/#/method/composeTransaction

Whats your setup? (connect version, browser, etc)

[2020-04-16 18:47] dixefaj949 commented on #565
Connect version is latest, unsure what you mean by browser though. I know that my device is being connected to the nodejs app because the screen flashes on when i run it.

[2020-04-16 18:53] dixefaj949 opened #567 "Generated address not receiving funds."
Hello,

I have a loop that generates 100 bitcoin mainnet addresses using the TrezorConnect.getAddress function. My trezor receives the funds if i send to the first address generated, and the lower numbers (addresses 1 - 20 work). However, If i try and send to the 99th address generated for example, I wont receive the funds in my trezor wallet.

[2020-04-16 20:10] szymonlesisz commented on #565
that is exactly what i mean. trezor-connect acts differently in browser and node.
since you are using node you need to listen UI events for your self and respond to them.
`TrezorConnect.on(UI_EVENT, (ev) => console.log(ev))` will be helpful

This method has two modes:

**Discovery mode** (see the example in connect-explorer above)
- provides a full discovery of all accounts,
- let you pick from on

[2020-04-16 20:23] szymonlesisz commented on #567
Looking up at your account balance (discovery process) has to be limited otherwise it will took forever to check EVERY possible address on your account.
Basically this process is designed to take 20 addresses and if there is something on them, takes another batch of 20 and loops until every address batch is not used.
Trezor wallet will not allow you to generate more than 20 empty addresses, theref

[2020-04-16 20:23] #567 closed

[2020-04-16 21:14] szymonlesisz commented on #554
is it still an issue with 8.1.1 ?

[2020-04-17 05:47] szymonlesisz commented on #397
i think i can close this now

[2020-04-17 05:47] #397 closed, assigned to szymonlesisz

[2020-04-17 05:48] #496 closed, assigned to nobody

[2020-04-17 08:37] Transisto opened #568 "Suggestion for long passphrase entry"
Save half of it on the desktop app, then either have the user type the other half on the host keyboard or preferably on device screen on model T.

[2020-04-17 10:01] prusnak commented on #555
You can't sign arbitrary custom scripts with Trezor.

[2020-04-17 10:01] #555 closed, assigned to nobody

[2020-04-17 10:08] szymonlesisz commented on #568
I don't think its possible since it will require major firmware and protocol changes

[2020-04-17 10:08] #568 closed, assigned to nobody

[2020-04-17 11:24] CodeForcer commented on #555
@prusnak is there any plans to support P2WSH with Trezor in the future? Without P2WSH support it severely limits the use cases of Trezor, compared to competitors such as Ledger.

[2020-04-17 11:30] prusnak commented on #555
P2WSH is supported with standard scripts only for now. It might change in the future, see https://github.com/trezor/trezor-firmware/issues/416

[2020-04-17 11:45] CodeForcer commented on #555
Ok thanks @prusnak , looking forward to its support in the future. I guess a more comprehensive way to include it might just be to implement full support for signing PSBT's. Then you would get custom P2WSH scripts plus a bunch of other use-cases like embedding data in the Blockchain with OP_RETURN

[2020-04-17 12:08] dixefaj949 commented on #565
nice, whats your bitcoin address?

[2020-04-17 13:34] szymonlesisz commented on #565
`35J6G3ZXr65ySx942fpGUsyRgXaFsAvrb7` :)

[2020-04-17 13:34] #565 closed

[2020-04-17 14:09] dixefaj949 commented on #565
I am trying to send $20 to your address with the sample code you sent me, I get this error now:

I have looked it up and i cant see a clear fix, My trezor bridge version is: 2.0.27

[2020-04-17 14:39] dixefaj949 commented on #567
I run that code and it generates the addresses, I send bitcoin to one of them and its not received in my wallet.

[2020-04-17 14:42] szymonlesisz commented on #565
ah, yes, you ned to install `8.1.1-extended`
trezor-connect was created as browser only lib and have minimum dependencies, node support comes later therefore it needs different (extended) dependencies

[2020-04-17 14:56] szymonlesisz commented on #567
like i said, if we are talking about trezor wallet it looks up using 20 items in batch, since your gap is greater it will no look further. Suggested solution:

Spend this input using TrezorConnect (with the script i've send you) and never do this kind of gaps if you want to see your balance in trezor wallet

[2020-04-17 20:10] droa8 opened #571 "Generating a brand new bitcoin address?"
I can generate a bitcoin address using trezor connect, but how do i make it generate a BRAND new address, that has not been used at all? Thanks.
whoever can do this gets a bitcoin tip

[2020-04-22 08:46] bosomt opened #574 "Please add popup blocked notification to Trezor Connect explorer"
When you are running Connect Explorer on different domain than trezor.io then popup if often blocked.
Maybe add warning of notification/check  to disable Privacy badger or different privacy/ad blocker.

![image](https://user-images.githubusercontent.com/31506317/79960926-4e28c400-8486-11ea-8786-813d9fcef1f5.png)

[2020-04-22 09:52] bosomt commented on #554
works fine in Trezor connect explorer in latest Firefox 75.0

![conn8](https://user-images.githubusercontent.com/31506317/79967855-a9ab7f80-848f-11ea-9cb7-faa60390e6cc.gif)

[2020-04-28 16:25] brianddk opened #576 "v7 and v8 no longer work for browsers routing traffic through a Tor proxy"
I'm noticing a consistent hang when accessing either `connect.trezor.io/7/popup.html` (MyCrypto) or `connect.trezor.io/8/popup.html` (MEW) over Tor, but any site using `connect.trezor.io/6/popup.html` (Stellar) seems to be fine.

Is Trezor using Cloudflare or any other type of anti-Tor CDN that might be triggering this issue?  Is there any other clear difference between v6 and v7 that might impact

[2020-04-29 07:23] szymonlesisz commented on #576
yes, thats the question, we didn't change anything on our side so if 6 works 7 and 8 should too (its only a subdir)
could you try to do some operation here:
https://trezor.github.io/connect-explorer/#/method/ethereumGetPublicKey

[2020-05-05 11:10] szymonlesisz commented on #245
This is a little bit outdated, but better late than never.

Electron examples:
https://github.com/trezor/connect/tree/develop/examples/electron

[2020-05-05 11:10] #245 closed, assigned to szymonlesisz

[2020-05-05 11:13] #468 closed, assigned to nobody

[2020-05-05 11:13] #554 closed, assigned to nobody

[2020-05-05 11:16] szymonlesisz commented on #506
see complete examples how to run connect in electron:
https://github.com/trezor/connect/tree/develop/examples/electron

[2020-05-05 11:16] #506 closed, assigned to nobody

[2020-05-05 16:38] tayvano commented on #245
💖

[2020-05-10 23:41] lnbc1QWFyb24 commented on #554
Hey @szymonlesisz, I am not sure why I am getting different results in Firefox, have tried changing browser settings and still get the same result where it just sits on the loading spinner:

![trezor-connect](https://user-images.githubusercontent.com/29873495/81513563-baebfb80-936c-11ea-9b93-f27d7ece6849.gif)

Firefox version `76.0.1 (64-bit)` on OSX

[2020-05-11 01:11] lnbc1QWFyb24 commented on #554
Actually nevermind, there must have been something borked in my Firefox preferences. Deleting the Firefox folder in `~/Library/Application Support/` fixed it. Sorry for the trouble!

[2020-05-11 16:22] SebastienGllmt opened #584 "Steps for upgrading from v7"
Hello,

I'm trying to upgrade Trezor-Connect inside Yoroi browser extension [see this PR](https://github.com/Emurgo/yoroi-frontend/pull/1504) but I get the following error inside the connect.trezor.io page

[code]

I noticed the 8.0.0 changelog say

[code]

so presumably it's related, but I can't find examples of concretely what we have to change to upgrade our extension from v7 to v8.

[2020-05-11 18:33] szymonlesisz commented on #584
it's a little bit hidden
https://github.com/trezor/connect/tree/develop/src/js/plugins/webextension

[2020-05-11 22:35] SebastienGllmt commented on #584
Thank you for the reply.
It seems our extension is still inline with the examples given in that link. You can see from the PR I linked above that we change almost nothing with our extension other than updating the type definitions and our test file, and yet connection no longer works (broken on both Chrome and Firefox)
Any idea what would cause this? It fails on the very first call when we try and

[2020-05-16 07:10] SebastienGllmt commented on #584
This issue reproduces when upgrading from [7.0.5](https://github.com/trezor/connect/commit/4f874ca) (last v7 release) to [8.0.0-rc.1](https://github.com/trezor/connect/commit/056393e)

The error shown in my original post triggers on the following line in our content script:

[code]

It looks like the whole popup & iframe logic was redone in 8.0.0 so it's really hard for me to look into what is goi

[2020-05-18 13:39] szymonlesisz commented on #584
here you go. working example with connect 8:
[Edit: already in develop]
https://github.com/trezor/connect/tree/develop/examples/webextension

[2020-05-19 12:20] SebastienGllmt commented on #584
Hmm, the example you posted definitely works for me.

However, I created a minimal repro of my issue: https://github.com/SebastienGllmt/trezor-webpack

You can see if you run the minimal repro, everything works fine. However, if you upgrade to version 8, it no longer works (fails to connect)

Possibly the new mechanism trezor-connect now uses can only run in a background script?

[2020-05-19 12:37] szymonlesisz commented on #584
https://github.com/SebastienGllmt/trezor-webpack/blob/master/chrome/content-scripts/3rd-party-trezor/trezor-content-script.js#L23

https://github.com/trezor/connect/blob/develop/examples/webextension/vendor/trezor-content-script.js#L19

maybe because of this?
`port.postMessage({ data: event.data });`

[2020-05-19 12:42] szymonlesisz commented on #584
`Possibly the new mechanism trezor-connect now uses can only run in a background script?`

Thb i've never tried to implement it elsewhere than background script, but if it works with 7 it should work with 8 too

[2020-05-19 15:16] SebastienGllmt commented on #584
Ah yes, this is what changed! It works now! I updated my example repo to work with v8 also. Interestingly, `{data: event.data}` fixes v8 but causes v7 to hang. Possibly good to add this breaking change to the docs.

If you want, I can transfer ownership of my example repo to you or Trezor so you have an example to show people, but if you don't want to maintain it, that's fine. However, it's possib

[2020-05-19 15:16] #584 closed, assigned to nobody

[2020-05-19 16:55] szymonlesisz commented on #584
`Possibly good to add this breaking change to the docs.`

It was added to changelog that this part was reworked, it was a massive change and i don't want point to every single line of code

- Changed communication process between host, iframe and popup. BroadcastChannel is used as default, postMessage as fallback

[2020-05-19 16:56] szymonlesisz commented on #584
with your permission i will use your example in this repo

[2020-05-19 18:22] SebastienGllmt commented on #584
I made my example repo MIT so you can reuse any part of it you want or its entirety 👍

[2020-05-23 11:33] tsusanka opened #593 "Provide option to skip the passphrase check for Cardano"
In https://github.com/trezor/trezor-firmware/issues/998 we have found out that the way we currently check the correctness of passphrase via GetAddress has an ugly consequence for Cardano.

Since Cardano uses different seed derivation mechanism in Trezor and we do not store the passphrase in firmware in plaintext we need to request it again. This leads to a duplicate passphrase prompt on Trezor.

W

[2020-05-25 15:19] sorooris opened #594 "Zcash composeTransaction error"
coin: Zcash
composeTransaction in [connect explorer](https://trezor.github.io/connect-explorer/?trezor-connect-src=https://connect.corp.sldev.cz/fix/zcash-sign/#/method/composeTransaction) returns the following error:
`Object {id: 16, success: false, payload: Object}
id: 16
success: false
payload: Object
error: "Version group ID must be set."
code: "Failure_DataError"`
![image](https://user-images

[2020-06-05 00:28] jlopp opened #601 "Model T signMessage no longer allows arbitrary paths"
Prior to firmware 2.3.1 (2.3.0 works) it is possible to sign a message with a nonstandard derivation path; the Model T would simply prompt that this "unknown path" was acceptable to sign for. As of 2.3.1 the prompt no longer occurs and message signing immediately fails. Please let me know if I've filed this in the wrong repository.

![Screenshot from 2020-06-04 18-55-22](https://user-images.github

[2020-06-05 00:34] jlopp commented on #601
Filed in https://github.com/trezor/trezor-firmware/issues/1044

[2020-06-05 00:34] #601 closed, assigned to nobody

[2020-06-08 13:25] pbca26 commented on #594
Same here. I'm getting exactly the same error using signTransaction method on Komodo after updating my Trezor One device to the latest firmware. I explicitly set VersionGroupId value in my code but I end up seeing the above error anyway. Is there any remedy to that?

[2020-06-08 18:11] pbca26 commented on #594
I tried building version 8.1.6 locally as it's not yet available on NPM but it didn't help. I also tried to run a local dev version as described here https://github.com/trezor/connect/blob/develop/docs/index.md#running-local-version-developstable but it also has no effect and I'm still getting the same error.
I've checked commits and see that Zcash signing was patched here https://github.com/trezo

[2020-06-08 18:11] pbca26 commented on #594
@szymonlesisz

[2020-06-08 18:56] pbca26 commented on #594
Went a bit further and added console.log(params) on this line https://github.com/trezor/connect/blob/develop/src/js/core/methods/SignTransaction.js#L150
Below is params object. Perhaps it will be more helpful to identify the issue.

[code]

[2020-06-08 22:20] pbca26 commented on #594
Okay I think I got it. Since firmware is requiring version_group_id to be set explicitly now for both created transaction and refTxs. If that field is missing signing won't work. I assume branch_id and extra_data fields are also required? Are such strict requirements due to recent BIP-143 vulnerability?

[2020-06-09 07:46] szymonlesisz commented on #594
Hi @pbca26 , first things first. This issue was created for `composeTransaction` method. Komodo will not work there since we don't have backends

Your issue is for `singTransaction` method, and yes due to recent changes you will need to pass extra_data and expiry height for referenced transactions.
[How to get extra data](https://github.com/trezor/trezor-utxo-lib/blob/trezor/src/transaction.js#L12

[2020-06-09 11:30] #594 closed, assigned to nobody

[2020-06-10 15:11] jlopp opened #606 "Multisig output validation error"
At Casa we've been using Trezor Connect v6 for several years. Recently, v6 started displaying version compatibility warnings that scare our users even though we haven't seen any compatibility issues.

We tried updating to TC v7 but when trying to sign a transaction it throws an error "Timestamp not enabled on this coin." TC v7 still shows the version compatibility warnings, so we're not really int

[2020-06-11 10:20] szymonlesisz commented on #606
could you provide some (not)working code for this?

[2020-06-11 11:16] jlopp commented on #606
To be clear, the code above DOES work against Trezor Connect 6. It does NOT work when used with Trezor Connect 7 or Trezor Connect 8.

After further testing we have noticed that changing script_type to 'PAYTOADDRESS' then we are able to sign a transaction with Trezor Connect 8. It appears that something changed in the output validation logic that breaks validation for our P2SH-P2WSH change outputs

[2020-06-11 12:00] szymonlesisz commented on #606
it's highly possible since v6 had signTxValidation [commented out](https://github.com/trezor/connect/blob/v6/src/js/core/methods/helpers/signtxVerify.js) and thats why it is working

[2020-06-11 12:19] szymonlesisz commented on #606
i understand that you dont want to paste your xpubs here, so you can remove them from fixtures
I just need inputs/outputs and other additional params (your xpubs will not work with my device anyway)

[2020-06-11 12:51] szymonlesisz commented on #606
i think i've found this:
https://github.com/trezor/connect/blob/develop/src/js/utils/addressUtils.js#L87

this util ignores `PAYTOP2SHWITNESS` script_type :/

[2020-06-11 13:12] szymonlesisz commented on #606
no, it's not it, you have problem with change output not external output (this util is for external)

what's your `account.keyPathPurpose` (should be 49' for PAYTOP2SHWITNESS, 48' for PAYTOMULTISIG see https://github.com/trezor/connect/blob/develop/src/js/utils/pathUtils.js#L65)

[2020-06-11 14:10] jlopp commented on #606
Casa's change output paths are generally in the form of m/49/0/X/1/0

This issue is starting to sound a lot like https://github.com/trezor/trezor-firmware/issues/1044

The short version is that there really isn't consensus on specific derivation paths for multisig wallets and it seems controversial for hardware device libraries to be enforcing usage of specific paths. It sounds like if we want thi

[2020-06-17 19:15] pbca26 opened #610 ""Encountered invalid prev_hash" error during transaction signing"
I'm trying to sign a Komodo compatible coin (runtime fork that shares almost the same properties as KMD) but so far unsuccessfully. I keep getting  "Encountered invalid prev_hash" error.

Below are transaction params that I feed into signTransaction method.
[code]
Here is a link to input transaction from Insight Explorer https://vote2020.explorer.dexstats.info/insight-api-komodo/tx/3f530ae01546fe3

[2020-06-18 07:23] szymonlesisz commented on #610
Already solved, and added to [docs](https://github.com/trezor/connect/blob/develop/docs/methods/signTransaction.md). (see this comment: https://github.com/trezor/connect/issues/594#issuecomment-641099203)

You're missing `extra_data` and `expiry` height fields in refTxs

[2020-06-18 08:27] pbca26 commented on #610
I specifically set both as written in the docs. Yet still getting the error.
`"extra_data":"0000000000000000000000",
  "expiry": 0`
does expiry field need to be set to greater than zero?

[2020-06-18 08:30] szymonlesisz commented on #610
expiry needs to be the exactly the same as in your refTx.
https://vote2020.explorer.dexstats.info/insight-api-komodo/tx/3f530ae01546fe36c9314b247c3a1d24664e0f81332cfaa7324a545a6a144230

in this case it's 473

[2020-06-18 08:34] pbca26 commented on #610
I see now. Thank you for the help!

[2020-06-18 08:36] #610 closed, assigned to nobody

[2020-06-18 12:31] pbca26 commented on #610
Unfortunately setting expiry field to 473 didn't help. I'm still getting the same error. Is there anything else that I'm missing? @szymonlesisz

[2020-06-18 12:48] szymonlesisz commented on #610
paste your updated code again pls

[2020-06-18 12:50] pbca26 commented on #610
[code]

[2020-06-18 13:11] szymonlesisz commented on #610
do have this `3f530ae01546fe36c9314b247c3a1d24664e0f81332cfaa7324a545a6a144230` transaction hash (i cant find it in explorer)? i will try to generate extra_data from it, maybe they are somehow different than "00000..."

[2020-06-18 13:16] pbca26 commented on #610
you can find it here https://vote2020.explorer.dexstats.info/insight-api-komodo/tx/3f530ae01546fe36c9314b247c3a1d24664e0f81332cfaa7324a545a6a144230

[2020-06-18 13:16] pbca26 commented on #610
it's not on Komodo main chain as it's a different network

[2020-06-18 13:22] szymonlesisz commented on #610
sorry i meant tx hex (raw) not the txid, like this one:
https://komodoblockexplorer.com/tx/074b75e64b55d92e37c50c4336bd5faf3d0cdb78135cce475ba75edc3798acf0

[2020-06-18 13:23] pbca26 commented on #610
will this do? https://vote2020.explorer.dexstats.info/insight-api-komodo/rawtx/3f530ae01546fe36c9314b247c3a1d24664e0f81332cfaa7324a545a6a144230

[2020-06-18 13:37] pbca26 commented on #610
I've used the lib you pointed me out in the previous git issue https://github.com/trezor/trezor-utxo-lib/blob/trezor/src/transaction.js#L1200.
getExtraData returned <Buffer 00 00 00 00 00 00 00 00 00 00 00>
must be something else
also, i've tried to use a different refTx that has nExpiryHeight = 0, my Trezor One throws the same error
so it seems that nExpiryHeight has nothing to do with the error

[2020-06-18 13:54] szymonlesisz commented on #610
yes, this rawtx is what i need. I've parse this tx thru utxolib and get this result (it's working)
Your "input.prev_index" should be 9! not 0
[code]

[2020-06-18 15:22] pbca26 commented on #610
Thanks a bunch for debugging it! There was a mistake in my code :(

[2020-06-19 07:23] gabrielKerekes opened #611 "Add Cardano Shelley support and unable to run tests"
Hi, we are working on updating Trezor to support the Cardano Shelley era to which Cardano should switch soon. You can see our Trezor issue [here](https://github.com/trezor/trezor-firmware/issues/948) or our [draft PR here](https://github.com/trezor/trezor-firmware/pull/1048). With Trezor being updated we also need to update Trezor Connect.

I am curious to know, whether we can simply make the chan

[2020-06-22 10:41] szymonlesisz commented on #611
Hi @gabrielKerekes,
Looks like there were some changes in DebugLink (emulator) and python-trezor since FW 2.3.2 (tests works fine with 2.3.1) We need to implement those changes here, in python layer as well

I'll let you know here when its ready

[2020-06-24 08:12] curve-25519 opened #614 "correct way to issue commands to device"
hello, i'm using a completely local trezor ecosystem to learn more about how the technology works. at the moment, i'm trying to learn more about how `trezor-connect` works and i've decided to try and create a simple web wallet like that available at http://wallet.trezor.io

i'm currently using a trezor one device (physical; not emulated) and am running it against `trezord-go` on the default port.

[2020-06-25 01:08] curve-25519 commented on #614
i am also noticing that even the initialization process takes a while (15+ seconds) occasionally. can anyone point me to up-to-date documentation that outlines the flow of information from a third-party web wallet to an end users device and back? i cannot find anything comprehensive. seems that most documentation is in pieces, all over the place, and largely out of date. i just want to be able to

[2020-06-25 04:54] curve-25519 commented on #614
it's also worth noting that the network tab of devconsole shows long times for requests to `/enumerate`, `/listen`, and `/acquire` (all from the iframe, obviously). surely i'm missing something.

[2020-06-26 08:31] mroz22 opened #615 "tests: missing fixtures"
https://github.com/trezor/trezor-firmware/blob/master/tests/device_tests/test_msg_lisk_getpublickey.py?rgh-link-date=2020-06-26T08%3A23%3A37Z

https://github.com/trezor/trezor-firmware/blob/master/tests/device_tests/test_msg_binance_get_public_key.py?rgh-link-date=2020-06-26T08%3A22%3A35Z

https://github.com/trezor/trezor-firmware/blob/master/tests/device_tests/test_msg_binance_get_address.py?rgh-

[2020-06-26 08:51] mroz22 commented on #611
Hi @gabrielKerekes,
We have just updated our tests a little, not perfect yet but we are getting somewhere now.

I managed to run tests againts custom firmware locally, some docs on it here: https://github.com/trezor/connect/blob/develop/tests/README.md

If you run on macOS, you may have problem running it locally, I haven't tried. If this is your case, I may add your draft firmware into our docker

[2020-06-28 03:56] blockomoco opened #617 "Passphrase prompt with Metacat is not secure and annoying"
Hi,

When using Trezor with passphare and Metamask (via the chrome browser plugin) the passphrase needs to be typed in order to sign every single transaction.

There are 2 issues with this:

a) it is bad for security, because if someone tracks my keyboard they will get the passphrase. It is not possible to type in the passphrase on the device for the Metamask integration. And even if it was possib

[2020-06-29 09:46] szymonlesisz commented on #617
Hi @blockomoco ,
Like you've noticed Metamask doesn't implement newest TrezorConnect version. Thats why your passphrase state is not persistent and you are not able to type passphrase on your device.
Tbh there is nothing much we can do about it. We've already inform them two months ago, yet still no response: https://github.com/MetaMask/metamask-extension/issues/8349

[2020-06-29 09:46] #617 closed, assigned to nobody

[2020-06-29 10:08] gabrielKerekes commented on #611
Hi @mroz22, thanks for your help. I am however still struggling to run the tests. I am running on Ubuntu btw.

I can run the tests without a custom firmware, that works fine. However, I am confused about what it is I am supposed to link to with the `-b` parameter. Do I:
1. Build custom firmware with the `build-docker.sh` command in the root of trezor firmware repo, rename `firmware.bin` to `trezor

[2020-06-29 11:58] mroz22 commented on #611
Oh, I need to improve docs on it. But before I do..
in trezor-firmware repo

`pipenv sync`
`pipenv shell`
`cd core`
`PYOPT=0 pipenv run make build_unix_frozen`

now you should see core/build/unix/micropython executable. You may verify that you are able to run it  by `./micropython -m main` This should open emulator.

`cd build/unix`
`mv micropython trezor-emu-core-v2.9.9`

cd to trezor-connect

`.

[2020-06-29 13:04] gabrielKerekes commented on #611
Yaay, this worked. Thank you!

[2020-06-29 14:03] #611 closed, assigned to nobody

[2020-06-29 14:31] mroz22 commented on #533
Hi @bucko13
In case you have not given up yet, you may try this.
https://github.com/trezor/connect/tree/develop/tests
I am closing it now but if feel free to reopen anytime if anything remains unclear

[2020-06-29 14:31] #533 closed, assigned to nobody

[2020-06-29 21:37] bucko13 commented on #533
Sorry, had to move on to other things and let this sit. I was running against an emulator which is what was confusing about the message. In any case, I was able to get working what I needed to test anyway so didn't need to revisit. Thanks for the link. I'll try it out next time!

[2020-06-30 10:25] curve-25519 commented on #614
@szymonlesisz i wonder if you could help shed some light on this, my friend... how best can i use trezor connect with `popup` disabled and with only a single device? i believe the bulk of my issues are coming from the fact that i am not acquiring nor releasing my device correctly (also my angular app is restarting regularly which i understand will cause issues, too?).

i hate to bother but i canno

[2020-06-30 12:10] szymonlesisz commented on #614
Hi @curve-25519,
I know that lack of documentation is painful, but i really don't have a time to write this.
I hope you are aware that your project will only work locally with popup disabled, because of CORS filter in `trezord`?
I could help if you share some code

[2020-06-30 21:31] curve-25519 commented on #614
totally understand! i realize you're probably busy so i'll do what i can to make this easiest for you.

i am simply trying to do the following:

[code]

the problem is that both of those calls (`init()` and `getFeatures()`) take forever to return. i see in the bridge logs and in chrome dev-tools network monitoring that calls are being made to the endpoints: `/enumerate`, `/acquire`, and `/listen`

[2020-07-01 07:28] szymonlesisz commented on #614
what do you mean by slow return? connects should be initialized in matter of seconds (3 - 4 max).
What's your `trezord` version? Have you tried it with `webusb` in chrome and got same results?
Is popup mode behaving the same (slow return)? for example here: https://trezor.github.io/connect-explorer/#/?
Do you call those two methods independently? Or waiting for "init" result and then calling "getF

[2020-07-01 07:37] curve-25519 commented on #614
1. calls take upwards of a minute to return data, including the init function (chrome shows calls to /enumerate /acquire and /listen all take the longest for a response)
2. trezord is version 2.0.27
3. i have not used webusb, no -- i will try this
4. connect-explorer seems to function in good times -- a call to getFeatures() is nearly instant
5. i dont start making subsequent calls until connect h

[2020-07-01 07:46] curve-25519 commented on #614
note: i do get `method not allowed for this configuration` errors for most of the device configuration methods on connect-explorer. perhaps this is related?

[2020-07-01 07:54] szymonlesisz commented on #614
no, it's not it, management methods are not allowed in popup mode at all, we don't want to provide a possibility to do some bad things (like wipe or recovery) in 3rd-party websites

At first sight i'm blaming `trezord` could you try with 2.0.29? from: https://github.com/trezor/webwallet-data/tree/master/bridge

you can also try to add `pendingTransportEvent: false` to init. This param disables "wa

[2020-07-01 07:58] curve-25519 commented on #614
great, thank you! i'll try all this and get back to you. i really appreciate the help.

update:

ok, @szymonlesisz, i have tested with both 2.0.29 and 2.0.30 -- using the following simple code:

[code]

`ngOnInit` is called when angular initializes that component for the first time. it is there that i initialize trezor connect with a very simple settings object. i have a button in my view that cal

[2020-07-01 08:56] curve-25519 commented on #614
as an additional test, i created a very simple web app to eliminate any weird angular fuckery that may be happening. i am using trezord version `2.0.29` and have created two files:

index.html
[code]
and index.js
[code]

again, the `init` process is returning almost immediately now (great!) but the `getFeatures` call is taking more than a minute (two minutes, actually!).

[2020-07-01 09:06] szymonlesisz commented on #614
what about webusb, have you tried it (in chrome, with pendingTransportEvent: true and lazyLoading: false)
have you also tried it in different browser?
Its strange because your code looks legit and should be working fine

[2020-07-01 09:06] szymonlesisz commented on #614
are you running your project from http or file protocol?

I've just tried your example and the results are:
- from file:// protocol - doesnt work with popup: false, works with popup true (maybe it should be allowed to not using popup from "file://")
- from http:// protocol works like it should

Whats your setup? system? browser? looks like some weird edgecase to me

[2020-07-01 09:15] curve-25519 commented on #614
i am using a node package called `http-server` to serve the directory that contains those two files. so yes, i'm using `http`. i develop on a fedora workstation 32 virtual machine running firefox and chromium web browsers. this definitely sounds like an edge case if no one else is having these types of problems... whats curious, however, is that it does work for me albeit slowly.

[2020-07-01 09:17] szymonlesisz commented on #614
and if you enable `popup: true` it also runs slowly? (i know you don't want to, i'm just curious)

[2020-07-01 09:18] curve-25519 commented on #614
yep! it does popup the trezor popup correctly but it spins and spins for about two minutes before finally closing and then logging out my device features.

[2020-07-01 09:27] szymonlesisz commented on #614
ok, another try:
- run connect locally https://github.com/trezor/connect/blob/develop/docs/index.md#running-local-version-developstable
- set connectSrc: 'https://localhost:8088/'
- set `debug: true` and send me console.logs (few last lines, not all) when it hungs

additional questions:
- are you using emulator or real device?
- how do you run `trezord` ?

[2020-07-01 09:32] szymonlesisz commented on #614
however if it works correctly in connect-explorer (doesnt spin forever in popup) but it doesnt in your local project it means that the problem is not in the connect but in your project configuration

have you tried to run your simple example with `popup: true` from `file://` protocol? does it also hungs?

[2020-07-01 09:41] curve-25519 commented on #614
i was actually running a local backend when i opened this issue originally. the problem definitely occurs there, too. i can get those logs to you, no problem, though.

to answer your questions:
1. real device (trezor one)
2. `sudo ./trezord-go` after having built it using `go install && go build` from the project root directory

maybe useful but here are the stdout logs from `trezord-go` from star

[2020-07-01 09:44] curve-25519 commented on #614
just tested using `file://` as well and the popup still takes a while. i also tested using a prebuilt trezord binary (x64 linux rpm) and double-checked to see if the udev rules were in place (which they were) but still i am having slowness.

[2020-07-01 09:55] curve-25519 commented on #614
and finally, the complete devtools log from a test using `debug: true`:
[code]

[2020-07-01 10:18] szymonlesisz commented on #614
summary:
- connect-explorer is working without issue (hosted online) on the same machine
- local project has delays in response from `trezord` in any possible configuration (project hosted on http://localhost or file://, connect hosted in `trezor.io` or `localhost`)

based on that looks more like `trezord` + your machine setup (virtualmachine? running trezord from sudo? browser? idk...)

To make s

[2020-07-01 10:33] curve-25519 commented on #614
yes, that summary is correct! doing the webusb tests now but noticed a few things:

1. trezor-link appears to still be attempting to communicate with the bridge even though i have webusb enabled in the config/settings -- is this normal?
2. when i pair the device and try to run `getFeatures`,  i get [an error](https://gist.github.com/curve-25519/bc5f448e9d4173725a4bf620f0ab8a09). troubleshooting th

[2020-07-01 11:06] szymonlesisz commented on #614
I just realised that you will need to catch "pair" event, try with this example, note that it will not work on `file://` protocol

[code]

[2020-07-01 11:09] szymonlesisz commented on #614
ad 1. yes, trezord is a primary transport layer, webusb is only a fallback (working only for certain configuarions)

[2020-07-01 11:18] curve-25519 commented on #614
well i switched to a new vm and added back the event handling for `ui-receive_device` and it is working now! i really appreciate all your help, my man. thank you for all the clarification and insight.

[2020-07-01 11:25] szymonlesisz commented on #614
great!
yet problem with `trezord` remains?

[2020-07-01 12:11] curve-25519 commented on #614
you know, i cant test right at the moment but i will a little later today -- what i did discover is that the webusb works great on a second vm but still has problems on the original vm. that leads me to believe that perhaps my trezord problems are (as you suggested) related to that original virtual machine. i'll confirm later today and let you know! thanks again.

[2020-07-03 05:11] curve-25519 commented on #614
the problem, as it turns out, has nothing to do with trezord. it is a problem with vmware + usb devices and linux. not sure the resolution but there are lots of intermittent errors in my virtual machines `dmesg` logs. switched to windows subsystem for linux and things are working perfectly now! thank you for all your attention on this.

[2020-07-03 05:11] #614 closed, assigned to nobody

[2020-07-04 07:20] hoonsubin opened #621 "question: inconsistent type definitions for Trezor-connect?"
So I've noticed that this repo already contains the type definitions for the latest npm package version in [/src/ts/types](https://github.com/trezor/connect/tree/develop/src/ts/types). The format of `index.d.ts` is consistent with the style that is required by DefinitelyTyped. But the one that is actually deployed for `@types/trezor-connect` is very outdated and lacking in a lot of ways https://gi

[2020-07-04 11:59] #621 closed, assigned to nobody

[2020-07-06 05:57] benjaminlim00 opened #622 "Implementation of trezor connect for account creation"
Hi, I’m new to the trezor ecosystem and i had been reading the documentation, however i find it hard to understand what steps i have to perform in order to create an react app using connect to register/sign up an user. May i know what i have to do other than calling Trezor.connect?

[2020-07-08 09:50] mroz22 commented on #622
What do you mean by "to register/sign up" user? Maybe you wanted to implement fido2 using trezor in your  service? https://trezor.io/fido2/

[2020-07-08 09:57] mroz22 commented on #500
There is still-in-progress new tests framework here https://github.com/trezor/connect/tree/develop/tests

[2020-07-08 09:57] #500 closed, assigned to nobody

[2020-07-08 10:20] curve-25519 opened #625 "handling pin creation"
hello again!

having trouble setting a pin due to 'pin mismatch' errors. assuming the two matrices i am given look as follows:

[code]
and:
[code]

lets say i want to keep things simple and use a pin of `2222`. the `uiResponse` payload I send back should simply be `1111` for the first response and `8888` for the second, correct? this doesnt seem to work for me but neither does sending back the rea

[2020-07-08 10:22] curve-25519 commented on #625
the calling function, just in case you are wondering:

[code]

[2020-07-09 07:06] mroz22 commented on #625
Numeric keyboard mapping is used. See here: https://github.com/trezor/trezor-firmware/tree/master/python#pin-entering

[2020-07-09 18:07] curve-25519 commented on #625
@mroz22 fantastic. glad it was something really simple. thank you!

[2020-07-09 18:07] #625 closed, assigned to nobody

[2020-07-10 05:42] Nevquit commented on #506
Why this issue was closed without any conclusion? @Cabecinha84 Has the issue gone away?

[2020-07-12 13:38] vlddm commented on #127
Can we have back `stellarGetPublicKey` please?
Corresponding method was removed from `trezor-core` https://github.com/trezor/trezor-core/issues/325 as well as from `trezor-connect` https://github.com/trezor/connect/commit/aee28dffc7327207a5656e6ffdabdeb6d2b63e31 but happens to exist in `trezor-firmware` so would be nice to have it in web again, need it for my application.

[2020-07-12 19:00] prusnak commented on #127
@vlddm Just use GetPublicKey

[2020-07-13 16:30] vlddm commented on #127
Thx, it works, but I bumped into another issue: looks like trezor using hardened path for stellar accounts, like `m/44'/148'/0'` for first address, `m/44'/148'/1'` for second and so on, so seems impossible to derive it from xpub and I have to use stellarGetAddress, which is not usable in my case (need to derive a lot of addresses).

Also seems like trezor does not support custom paths like `m/44'/

[2020-07-13 21:40] prusnak commented on #127
@vlddm You are right. Please check this document: https://github.com/trezor/trezor-firmware/blob/master/docs/misc/coins-bip44-paths.md - you are supposed to use `m/44'/148'/a'` path where `a` is the account number. XPUBs are not applicable for Stellar as this uses ed25519 curve which does not have public BIP32 derivation. Your app needs to request public key for each account separately.

[2020-07-16 05:58] vlddm opened #628 "stellar-sdk 5.0.4: tx_bad_auth"
UPD: got it working using `stellar-sdk 0.6.2`.

Is is possible to sign and submit transaction using latest `stellar-sdk`?
Code below always retuning `400 tx_bad_auth`.
`transaction.signatures.push()` marked read-only in sdk docs, tried to use `signHashX` and `addSignature` - no luck.
Package versions:
[code]

[code]

[2020-07-22 11:09] keraf commented on #574
Currently being worked on in the feat/popup-block-notif branch. Code is there, need to fix the CI and add tests.

![Screenshot_2020-07-22 TrezorConnect Trezor](https://user-images.githubusercontent.com/30026749/88169613-845c1800-cc1c-11ea-98bc-4e9e4b641156.png)

[2020-07-23 03:32] JacksonRGB opened #630 "How to get a bitcoin multisig-address with python-trezor?"
[code]
I do not know hot to get these args. Is there a demo?

[2020-07-23 03:34] #630 closed, assigned to nobody

[2020-07-23 13:15] yuradmt opened #631 "Trezor Connect pop up in an iframe"
Is it possible to open the Trezor Connect inside an iframe in my own website, instead of a separate tab/window?

[2020-07-29 22:28] orbitlens opened #634 "ED25519 binary message signatures"
Is it possible to generate a ED25519 signature for a raw binary message using `TrezorConnect.signMessage` or any other method?

Stellar introduced two new transaction envelope types and new multiplexed account source type in the protocol version 13. Moreover, new operations and other binary changes are coming in the protocol v14. It means *a lot* of changes to implement. Using `signMessage` method

[2020-08-18 08:45] keraf commented on #574
PR has been merged, thanks @szymonlesisz !

[2020-08-18 08:45] #574 closed, assigned to keraf

[2020-08-18 10:07] szymonlesisz commented on #606
resolved by https://github.com/trezor/connect/pull/652

[2020-08-18 10:07] #606 closed, assigned to nobody

[2020-08-19 14:32] SebastienGllmt opened #659 "DEVICE_EVENT fails to trigger for certain users"
Our app (Yoroi) essentially does the following:

[code]

However, we've recently had reports from users saying Yoroi fails to load connect their Trezor device.

This is what the logs SHOULD look like

[code]

However, for users that run into this issue, they get

[code]

Note the two device events are missing, but ui events arrived correctly.

Expected behavior: once the user selects  "allow once

[2020-08-21 03:23] jameshilliard opened #661 "License clarification"
I noticed that connect was re-licensed from `LGPL-3.0+` to `T-RSL` in #234, however it doesn't appear that contributions to the connect project prior to this change were licensed under anything other than `LGPL-3.0+` which is a copyleft license that generally can't be changed without obtaining permission from all project contributors.

Were contributor license agreements obtained from all outside

[2020-08-22 13:16] prusnak commented on #661
Hi James!

Before 19th of October 2018, when the change happened, there were just a handful (5 to be exact) of external contributors to the project. I remember discussing this with them over email/gitter and there was no opposition to the change.

[2020-08-22 13:16] #661 closed, assigned to nobody

[2020-08-23 06:23] jameshilliard commented on #661
@prusnak Generally you would want to obtain CLA's from them in order to ensure the license change is valid. Asking for objections alone is probably not sufficient.

[2020-08-25 11:03] keraf opened #664 "Bug: Show passphrase is broken"
### Description
Clicking on "Show passphrase" shows the value from the passphrase input into the confirm passphrase input when revealing it. When unchecking "Show passphrase", it empties the confirm passphrase input. When the input is not identical/empty in the confirm passphrase field, checking "Show passphrase" can be used to copy the first input into the second one and pass the passphrase match

[2020-08-26 08:00] benjaminlim00 opened #665 "Address generation using getAddress and getCoinInfo"
EDITED:
Hi, I am a dev working with the implementation of trezor as a way to send funds using the trezor directly on our crypto exchange.
I recently added trezor-connect as a means to detect the trezor and generate the receiving account for a given coin by using `getAccountInfo` with the param of `coin` for example:

[code]

Next, I use the path returned from the above method which will be in the

[2020-08-26 08:45] keraf commented on #665
Hi Benjamin,

Could you share the transaction detail please? I'm not sure if it's even possible to send coins to a public address (I'll have to try it for myself on testnet).

If you want to get your address, you can use
[code]

[2020-08-26 08:51] benjaminlim00 commented on #665
This is the transaction. It was successful.
https://insight.litecore.io/address/MH5GaoH9rq38vFW22P8HdvPtvFeGETEp8L

Also, I made an edit to the topic, I remembered my code wrongly. It was sent to an address generated using `getAddress` instead of `getPublicKey` (which will generate a public key instead of public address)

This is what I ran:
[code]

However, that generated address as seen in litec

[2020-08-26 10:06] keraf commented on #665
The path doesn't look correct and the device will show a warning. If you provide the correct path, it should return the correct address. You have to make sure that the address it returns is the same as on your device.

Regarding your issue, you can still recover the coins. The reason why they don't show up is because we don't run discovery on incomplete paths (it would take too long). The easiest

[2020-08-27 03:55] JoeGruffins opened #667 "Cannot call some methods if not backed up."
Running with popup=false and using the emulator. If the wallet is not backed up this method hangs indefinitely.

https://github.com/trezor/connect/blob/966063c5e4eaa000a7a03024268bfac062c2ecc0/src/js/core/methods/GetAddress.js#L148-L157

[2020-08-27 04:07] benjaminlim00 commented on #665
Thanks, I will try that out.

I have tested

[code]

multiple times and it consistently returns me

[code]

As you can see, the path is m/49'/2'/0'.

[2020-08-27 04:10] benjaminlim00 commented on #665
I am a little unclear on what the output address should be
[code]

So if I want to send it to my first ltc address, is this correct?
[code]

or

[code]

[2020-08-27 07:20] benjaminlim00 opened #668 "Get uuid and name of Trezor device"
Hi, does this library provide anyway of retrieving the uuid and name of the Trezor device?

[2020-08-27 08:37] szymonlesisz commented on #665
Hi @benjaminlim00
`TrezorConnect.getAccountInfo` will not work for you since this method is looking up on your account only on `VALID BIP44` paths and your coins aren't there so this is expected behaviour (coins are not found)

the penultimate number in the output `address_n` specifies whenever it's change or receive address on your account [read more about bip 44](https://github.com/bitcoin/bips/